/**
 * SASS File: 		_setup.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Global
// Large view
// Fluid view
// Small view


// Global
// ---------------------------------------------------------------------------------------
*, *:before, *:after{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:
	border-box;
	box-sizing:border-box
}
html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: lighten(#000, 80%);
	background-color: #fff;
	-ms-text-size-adjust: 100%;
	-webkit-texts-size-adjust: 100%;
	-webkit-backface-visibility: hidden;
}
div {
  display: block;
  direction: ltr;
}
body, ul, ol, dl, td, th, caption, pre, p, blockquote, input, textarea, label, select {
  color: lighten(#000, 20%);
}
ul, ol {margin:0; padding:0px;}
a, a:visited {text-decoration: none;}

// Set the heights
html, body, .webplate, .webplate-content, .webplate-navigation {
    height: 100%;
}
// Fixed elements
.is-fixed {
	position: fixed;
	z-index: 100;
}
// Webplate
.webplate {
	position: relative;
	overflow: hidden;
	width: 100%;

	.webplate-shifter {
		position: relative;
		left: 0;
		height: 100%;
		@include ios-render();
		@include transform-easing();
	}
	.webplate-content {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin: 0px auto;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-webkit-backface-visibility: hidden;
		z-index: 1;

		.limit {
			width: $limit-width;
			margin: 0px auto;
		}
	}
}
// Navigation
.webplate-navigation {
	display: block;
	height: 100%;
	top: 0px;
	left: 0px;
	width: $menu-width;
	position: absolute;
	margin-left: -$menu-width;
	overflow-y: auto;
	background-color: $small-nav-back;
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 0;

   .navigation-inner {
	 	 position: relative;
	 	 height: 100%;
	 
	 	.row{
	 		padding-top: 15px;
		
	       a {
	         display: block;
	         padding: 10px 20px;
	         font-size: 0.833em;
	         color: #b0b0b0;
	         @include animate(color);
	  
	 		  div.icon {
	 			  float: left;
	 			  padding-right: 12px;
	 			  font-size: 1em;
	 			  color: #E99272;
	 		  }
	       }
	       a:hover {
	         color: #fff;
	       }
	 	}
   }
}
.show-nav .webplate-shifter {
	@include transform-easing($menu-width);
}

// Fixed page width setting
html.fixed-page .webplate .webplate-content {
    max-width: $limit-width;
}


// Large View
// ---------------------------------------------------------------------------------------
@include respond-to(large) {
	
	// Navigation
	.navigation ul, ol {
		list-style: none;
	}
}


// Fluid View
// ---------------------------------------------------------------------------------------
@include respond-to(fluid) {
	
	.webplate {
		.webplate-content {
			// Set inner width
			.limit {
				width: 100%;
			}
		}
	}
}


// Small View
// ---------------------------------------------------------------------------------------
@include respond-to(small) {

	// Navigation
	.navigation {
		display: none;
	}
}
