/**
 * File: _tab.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */

// Content
@mixin tabplate-tabs() {
	ul.tp-tabs {
		@include list-style(none);
		@include spacing-no();
		@include overflow(auto);
		> li {
			@include hide();
			@include row();
			&._active {
				@include show();
			}
		}
		.tp-animate & {
			@include animate(all);
			> li._active {
				-webkit-animation: tp-fade-in 0.5s;
				-moz-animation: tp-fade-in 0.5s;
				animation: tp-fade-in 0.5s;
			}
		}
	}

	@-webkit-keyframes tp-fade-in {
		0% {
			@include opacity(0);
		}
		100% {
			@include opacity(1);
		}
	}
	@-moz-keyframes tp-fade-in {
		0% {
			@include opacity(0);
		}
		100% {
			@include opacity(1);
		}
	}
	@keyframes tp-fade-in {
		0% {
			@include opacity(0);
		}
		100% {
			@include opacity(1);
		}
	}
}
