/**
 * SASS File: 		_size.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 July 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Button size


// Variables
// ---------------------------------------------------------------------------------------
$btn-size-s						: 30px;
$btn-size-n						: 46px;
$btn-size-l						: 58px;
$btn-size-xl					: 70px;

$btn-padding-s					: 14px;
$btn-padding-n					: 26px;
$btn-padding-l					: 34px;
$btn-padding-xl					: 40px;

$btn-text-s						: 0.750em;
$btn-text-n						: 0.875em;
$btn-text-l						: 1em;
$btn-text-xl					: 1.125em;

$drp-height						: 34px;
$drp-height-xl					: 40px;


// Button size
// ---------------------------------------------------------------------------------------
@mixin button-size-custom($height: $btn-size-n, $padding: $btn-padding-n, $font-size: $btn-text-n) {
	padding: 0px $padding;
	height: $height;
	line-height: $height;
	font-size: $font-size;
}
@mixin button-size-small() {
	@include button-size-custom($btn-size-s, $btn-padding-s, $btn-text-s);

	// Drop-down
	@include drop-down-position($btn-padding-s, $drp-height, 0.938em);
}
@mixin button-size-normal() {
	@include button-size-custom();

	// Drop-down
	@include drop-down-position($btn-padding-n, $drp-height, 0.875em);
}
@mixin button-size-large() {
	@include button-size-custom($btn-size-l, $btn-padding-l, $btn-text-l);

	// Drop-down
	@include drop-down-position($btn-padding-l, $drp-height, 0.813em);
}
@mixin button-size-x-large() {
	@include button-size-custom($btn-size-xl, $btn-padding-xl, $btn-text-xl);

	// Drop-down
	@include drop-down-position($btn-padding-xl, $drp-height-xl, 0.813em);
}