/**
 * Title: 			Different Layouts
 * SASS File: 		_layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	31 March 2015
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Basic
// Content


// Content
// ---------------------------------------------------------------------------------------
.content {
	@include padding-horizontal($space-small);
	@include padding-vertical($space-medium);

	// Adapt
	@include breakpoint($bp-small) {
		@include padding-vertical($space-large);
	}
	@include breakpoint(large) {
		@include padding-horizontal($space-base);
		@include padding-vertical($space-large);
	}
	@include breakpoint($bp-x-large) {
		@include padding-vertical($space-x-large);
	}
}
.content-tight {
	// Adapt
	@include breakpoint($bp-small) {
		@include padding($space-base);
	}
	@include breakpoint(large) {
		@include padding-vertical($space-large);
	}
	@include breakpoint($bp-x-large) {
		@include padding-vertical($space-x-large);
	}
}


// Basic
// ---------------------------------------------------------------------------------------
[class *= "col-"] { 
	@include row();

	> .left,
	> .middle,
	> .right,
	> .full {
		@include span(12);
	}
}
// Double
.col-double {

	// Respond medium
	@include respond-to(large) {
		> .left {
			@include new-span(6);
			padding-right: $space-small;
		}
		> .middle {
			padding-left: $space-x-small;
			padding-right: $space-x-small;
		}
		> .right {
			@include new-span(6);
			padding-left: $space-small;
		}
	}
	// Respond large
	@include respond-to($bp-large) {
		> .left {
			padding-right: $space-base;
		}
		> .middle {
			padding-left: $space-small;
			padding-right: $space-small;
		}
		> .right {
			padding-left: $space-base;
		}
	}
}
// Triple
.col-triple { 
	@extend .col-double;

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(4);
		}
		> .middle {
			@include new-span(4);
		}
		> .right {
			@include new-span(4);
		}
	}
}
// Left bar
.col-left-bar {
	@extend .col-double;

	// Respond medium
	@include respond-to(large) {
		> .left {
			@include new-span(4);
		}
		> .right {
			@include new-span(8);
		}
	}
}
// Right bar
.col-right-bar {
	@extend .col-double;

	// Respond medium
	@include respond-to(large) {
		> .left {
			@include new-span(8);
		}
		> .right {
			@include new-span(4);
		}
	}
}


