/**
 * File: _navigation.scss
 * Type: SASS module file
 * Author: Chris Humboldt
 * Last Edited: 22 April 2015
 */

// Table of contents
// ---------------------------------------------------------------------------------------
// Navigation basic

// Navigation basic
// ---------------------------------------------------------------------------------------
#web-navigation {
	@include block($menu-width, 100%, fixed, top 0 left 0);
	@include margin-left(-$menu-width);
	@include overflow(auto, vertical);
	@include background-color($small-nav-back);
	@include level(1000);

	li a:not(.button):not([class *= "btn-"]) {
		@include display(block);
		@include padding-horizontal(20px);
		@include padding-vertical(10px);
		@include text-colour($black-base);
		@include text-size($size-minor);
		@include animate(color);

		div.icon {
			@include float(left);
			@include padding-right(12px);
			@include text-colour($grey);
			@include text-size($size-base);
		}
		.no-touch &:hover {
			@include text-colour($red);
		}
	}
}

