/**
 * SASS File: 		_modal.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	6 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Modal
// Modal close
// Modal form
// Modal static content


// Modal
// ---------------------------------------------------------------------------------------
.modalplate {
	@include drop-shadow(fade-out($black, 0.8), 8px, 2px);
}


// Modal close
// ---------------------------------------------------------------------------------------
.modalplate .close.icon-cross {
	@include display(block);
	@include position(absolute, top $space-base right $space-minor);
	@include text-squared(30px);
	@include text-colour($grey-light);
	@include text-line-height(24px);
	@include text-size(24px);
	@include animate(all);
	@include level(3);

	// Respond
	@include respond-to(large) {
		@include position-set(right $space-base);
	}
}
.no-touch .modalplate .close.icon-cross:hover {
	@include text-colour($aqua);
	@include text-decoration(none);
}


// Modal form
// ---------------------------------------------------------------------------------------
.modalplate form {
	@include row();
	@include border-bottom($grey-light);

	h5 {
		@include spacing-no();
		@include span(12);
		@include padding($space-base);
	}
	label {
		@include span(5);
		@include spacing-no();
		@include text-align(right);
		@include border-top($grey-light);
	}
	p {
		@include span(12);
		@include padding($space-base);
		@include margin(0px);
		@include border-top($grey-light);
	}
	.input-outer {
		@include span(7);
		@include background-color($stripe-off-colour);
		@include border-top($grey-light);
		@include border-left($grey-light);

		textarea {
			@include height(100px);
		}
		input, textarea {
			@include spacing-no();
			@include border-no();
			@include background-colour(transparent);
		}
		input:focus, textarea:focus {
			@include border-no();
		}

		// Error
		&.error {
			background-color: lighten($red-light, 26%);

			input {
				color: $red;
			}
		}
	}
	label, .input-outer {
		padding: $space-minor $space-small;
	}

	// Options
	.options {
		@include row();
		@include level(2);

		a, button {
			@include button-size-large();
			@include spacing-no();
			@include border-radius(0px);
			@include text-size(14px);

			&.btn-cancel {
				@include span(5);
			}
			&.btn-ok {
				@include span(7);
			}

			// Respond
			@include respond-to(large) {
				@include button-size-x-large();
				@include spacing-no();
				@include text-size(15px);
			}
		}
	}

	// Respond
	@include respond-to(large) {
		@include border-bottom($black, 0px);
	}
}


// Modal static content
// ---------------------------------------------------------------------------------------
.modalplate .static {
	@include padding($space-base);

	// Respond
	@include respond-to(large) {
		@include padding-horizontal($space-medium);
		@include padding-vertical($space-base);
	}
}



