/**
 * SASS File: 		_pricing-table.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	18 June 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Pricing table


// Pricing table
// ---------------------------------------------------------------------------------------
.pricing-table {
	@include row();

	// Price block
	.price-block {
		@include span(12);
		margin-bottom: $space-base;

		// Top
		.top {
			display: block;
			padding: $space-base 0px;
			text-align: center;
			background-color: $river-bed;

			p {
				color: $white;
			}
			p:last-child {
				margin: 0px;
			}
			.title {
				margin: 0px;
				font-weight: bold;
			}
			.price {
				margin: 0px;
				font-size: 3em;
				font-weight: bold;
			}
			.currency {
				margin-left: $space-x-small;
				margin-right: $space-x-small;
				vertical-align: super;
			}
			.per-month {
				margin-left: -$space-small;
			}
			.currency, .per-month {
				font-size: 0.25em;
				font-weight: 300;
				color: $river-bed-light;
			}
			.sub {
				color: $river-bed-light;
				font-size: 0.875em;
			}
		}

		// Bottom
		.bottom {
			padding: $space-base;
			border-left: 1px solid $grey-light;
			border-right: 1px solid $grey-light;
			background-color: white;

			.line {
				padding: $space-small;
				color: $grey-blue;
				font-size: 0.875em;
				border-top: 1px solid $grey-x-light;

				span {
					margin-right: $space-small;
					color: $grey-blue-light;
				}
				&:first-child {
					border-top: 0px;
				}
			}
		}

		// Button sign up
		.btn-signup {
			@include button-size-large();
			@include spacing-no();
			@include border-radius(0px);
			width: 100%;
			font-size: 0.875em;
		}

		// Respond
		@include respond-to(large) {
			@include new-span(3);

			// Top
			.top {
				border-left: 1px solid darken($river-bed, 4%);
			}

			// Bottom
			.bottom {
				border-right: 0px;
			}

			// Button sign up
			.btn-signup {
				@include button-size-x-large();
				font-size: 0.913em;
				border-left: 1px solid darken($aqua, 3%);
			}

			// Outer elements
			&:first-child {
				.top {
					border-left: 0px;
				}
				.btn-signup {
					border-left: 0px;
				}
			}
			&:last-child {
				.bottom {
					border-right: 1px solid $grey-light;
				}
			}
		}
		@include respond-to($bp-x-large) {
			// Top
			.top {
				padding: $space-slight;

				.price {
					font-size: 4em;
				}
			}

			// Bottom
			.bottom {
				padding: $space-slight;

				.line {
					font-size: 1em;
				}
			}
		}
	}
}


