/**
 * SASS File: 		_user-profile.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	15 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// User controls
// User details
// User image
// User profile


// User Controls
// ---------------------------------------------------------------------------------------
.stripe-app .user-profile .user-controls {
	@include span(12);

	a {
		@include span(6);
		margin: 0px;
		@include border-radius(0px);
		font-size: 0.875em;
	}
}
.no-touch.stripe-app .user-profile .user-controls a:hover {
	background-color: $aqua;
}


// User details
// ---------------------------------------------------------------------------------------
.stripe-app .user-profile .user-details {
	@include span(8);

	// Name
	.user-name {
		margin-top: 8px;
		color: $river-bed;
		font-size: 0.913em;
	}

	// Information
	.user-info {
		color: $river-bed-light;
		font-size: 0.75em;
	}
}


// User image
// ---------------------------------------------------------------------------------------
.stripe-app .user-profile .user-image {
	@include span(4);

	.user-image-container {
		@include text-squared(60px);
		@include background-cover("img/profile-fallback.png");
		@include border-radius(50%);
		border: 4px solid $white;
	}
}


// User profile
// ---------------------------------------------------------------------------------------
.stripe-app .user-profile {
	@include row();
	position: relative;
	background-color: $grey-x-light;

	.user-top {
		@include span(12);
		padding: ($space-base + 5px) $space-minor;
	}
}


