/**
 * File: _import.scss
 * Type: SASS import
 * Author: Chris Humboldt
 */

// Variables
$font-face-flickerplate: "icon-font-flickerplate" !default;

// Imports
@import "../../blueplate/sass/import";

@import "module/animation";
@import "module/arrow-navigation";
@import "module/dot-navigation";
@import "module/flicker";
@import "module/setup";
@import "module/theme-dark";

@import "css/execute";
