/**
 * File: build/sass/css/_execute.scss
 * Type: SASS execute file
 * Author: Chris Humboldt
**/

// Buttonplate CSS
@mixin buttonplate-css($font: true) {
	.button {
		@include button-setup($font);
		// Sizes
		@include button-size(normal); // Default
		&._small {
			@include button-size(small);
		}
		&._large {
			@include button-size(large);
		}
		&._x-large {
			@include button-size(x-large);
		}
		// Shapes
		@include button-shape(rounded); // Default
		&._square {
			@include button-shape(square);
		}
		&._pill {
			@include button-shape(pill);
		}
		// Flat buttons (shorthand = colour reference only)
		@each $colour-name, $colour in $ar-colours-primary {
			&._#{$colour-name}, &._flat-#{$colour-name} {
				@include button-style(flat, $colour);
			}
		}
		// Gradient buttons
		@each $colour-name, $colour in $ar-colours-primary {
			&._gradient-#{$colour-name} {
				@include button-style(gradient, $colour);
			}
		}
		// Line buttons
		@each $colour-name, $colour in $ar-colours-primary {
			&._line-#{$colour-name} {
				@include button-style(line, $colour);
			}
		}
	}
}
