/**
 * SASS File: 		_breakpoint.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	27 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Breakpoints


// Breakpoints
// ---------------------------------------------------------------------------------------
$bp-xx-small 				: 18.750em; // 300px
$bp-x-small 				: 21.875em; // 350px
$bp-small 					: 28.125em; // 450px
$bp-medium 					: 43.750em; // 700px
$bp-large 					: 56.250em; // 900px
$bp-x-large 				: 68.750em; // 1100px
$bp-xx-large  				: 78.125em; // 1250px