/**
 * SASS File: 		_display.scss
 * Requires: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Show / hide
// Opacity
// Display classes


// Show / hide
// ---------------------------------------------------------------------------------------
@mixin hide() {
	display: none;
}
@mixin show($type: block) {
	display: $type;
}


// Opacity
// ---------------------------------------------------------------------------------------
@mixin opacity($opacity: 0.60) {
	-moz-opacity: $opacity;
	opacity: $opacity;
}


// Display classes
// ---------------------------------------------------------------------------------------
@mixin blueplate-display() {
	.show {
		@include show();
	}
	.hide {
		@include hide();
	}
	.opacity-100 {
		opacity: 1;
	}
	.opacity-75 {
		opacity: 0.75;
	}
	.opacity-50 {
		opacity: 0.5;
	}
	.opacity-25 {
		opacity: 0.25;
	}
	.opacity-0 {
		opacity: 0;
	}

	// Respond
	@include respond-to(large) {
		.small-show {
			@include hide();
		}
		.large-show {
			@include show();
		}
		.large-hide {
			@include hide();
		}
	}
	@include respond-to(small) {
		.small-show {
			@include show();
		}
		.small-hide {
			@include hide();
		}
		.large-show {
			@include hide();
		}
	}
}