/**
 * SASS File: 		_sizing.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Sizing mixin


// Sizing mixin
// ---------------------------------------------------------------------------------------
@mixin blueplate-sizing() {
	.block-h-10 {
		height: 10px;
	}
	.block-h-20 {
		height: 20px;
	}
	.block-h-50 {
		height: 50px;
	}
	.block-h-100 {
		height: 100px;
	}
	.block-h-200 {
		height: 200px;
	}
	.block-h-500 {
		height: 500px;
	}
	.block-h-1000 {
		height: 1000px;
	}
	.block-w-10 {
		width: 10px;
	}
	.block-w-20 {
		width: 20px;
	}
	.block-w-50 {
		width: 50px;
	}
	.block-w-100 {
		width: 100px;
	}
	.block-w-200 {
		width: 200px;
	}
	.block-w-500 {
		width: 500px;
	}
	.block-w-1000 {
		width: 1000px;
	}
}