@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\e600";
}
.icon-arrow-up:before {
	content: "\e601";
}
.icon-arrow-right:before {
	content: "\e602";
}
.icon-arrow-left:before {
	content: "\e603";
}
.icon-arrow-left2:before {
	content: "\e604";
}
.icon-arrow-down2:before {
	content: "\e605";
}
.icon-arrow-up2:before {
	content: "\e606";
}
.icon-arrow-right2:before {
	content: "\e607";
}
.icon-vimeo:before {
	content: "\e608";
}
.icon-vimeo2:before {
	content: "\e609";
}
.icon-github:before {
	content: "\e60a";
}
.icon-github2:before {
	content: "\e60b";
}
.icon-flickr:before {
	content: "\e60c";
}
.icon-flickr2:before {
	content: "\e60d";
}
.icon-twitter:before {
	content: "\e60e";
}
.icon-twitter2:before {
	content: "\e60f";
}
.icon-facebook:before {
	content: "\e610";
}
.icon-facebook2:before {
	content: "\e611";
}
.icon-googleplus:before {
	content: "\e612";
}
.icon-googleplus2:before {
	content: "\e613";
}
.icon-pinterest:before {
	content: "\e614";
}
.icon-pinterest2:before {
	content: "\e615";
}
.icon-tumblr:before {
	content: "\e616";
}
.icon-tumblr2:before {
	content: "\e617";
}
.icon-linkedin:before {
	content: "\e618";
}
.icon-linkedin2:before {
	content: "\e619";
}
.icon-dribbble:before {
	content: "\e61a";
}
.icon-dribbble2:before {
	content: "\e61b";
}
.icon-dropbox:before {
	content: "\e61c";
}
.icon-instagram:before {
	content: "\e61d";
}
.icon-evernote:before {
	content: "\e61e";
}
.icon-skype:before {
	content: "\e61f";
}
.icon-skype2:before {
	content: "\e620";
}
.icon-stumbleupon:before {
	content: "\e621";
}
.icon-stumbleupon2:before {
	content: "\e622";
}
.icon-lastfm:before {
	content: "\e623";
}
.icon-lastfm2:before {
	content: "\e624";
}
.icon-rdio:before {
	content: "\e625";
}
.icon-rdio2:before {
	content: "\e626";
}
.icon-plus:before {
	content: "\e627";
}
.icon-minus:before {
	content: "\e628";
}
.icon-minus2:before {
	content: "\e629";
}
.icon-download:before {
	content: "\e647";
}
.icon-upload:before {
	content: "\e648";
}
.icon-upload2:before {
	content: "\e649";
}
.icon-cloud:before {
	content: "\e64a";
}
.icon-flow-tree:before {
	content: "\e64b";
}
.icon-arrow-left:before {
	content: "\e64c";
}
.icon-arrow-down:before {
	content: "\e64d";
}
.icon-arrow-up:before {
	content: "\e64e";
}
.icon-uniE64F:before {
	content: "\e64f";
}
.icon-ellipsis:before {
	content: "\e650";
}
.icon-trash:before {
	content: "\e651";
}
.icon-folder:before {
	content: "\e652";
}
.icon-play:before {
	content: "\e653";
}
.icon-pause:before {
	content: "\e654";
}
.icon-record:before {
	content: "\e655";
}
.icon-stop:before {
	content: "\e656";
}
.icon-next:before {
	content: "\e657";
}
.icon-previous:before {
	content: "\e658";
}
.icon-first:before {
	content: "\e659";
}
.icon-last:before {
	content: "\e65a";
}
.icon-resize-enlarge:before {
	content: "\e65b";
}
.icon-resize-shrink:before {
	content: "\e65c";
}
.icon-cart:before {
	content: "\e65d";
}
.icon-lock:before {
	content: "\e65e";
}
.icon-lock-open:before {
	content: "\e65f";
}
.icon-progress-3:before {
	content: "\e660";
}
.icon-progress-2:before {
	content: "\e661";
}
.icon-brogress-1:before {
	content: "\e662";
}
.icon-progress-0:before {
	content: "\e663";
}
.icon-text:before {
	content: "\e62e";
}
.icon-layout:before {
	content: "\e62a";
}
.icon-calendar:before {
	content: "\e62b";
}
.icon-envelope:before {
	content: "\e664";
}
.icon-stack:before {
	content: "\e66a";
}
.icon-youtube:before {
	content: "\e62c";
}
.icon-feed:before {
	content: "\e62d";
}
.icon-plus-alt:before {
	content: "\e62f";
}
.icon-plus2:before {
	content: "\e630";
}
.icon-minus3:before {
	content: "\e631";
}
.icon-arrow-up-left:before {
	content: "\e632";
}
.icon-arrow-up3:before {
	content: "\e633";
}
.icon-arrow-up-right:before {
	content: "\e634";
}
.icon-arrow-right3:before {
	content: "\e635";
}
.icon-arrow-down-right:before {
	content: "\e636";
}
.icon-arrow-down3:before {
	content: "\e637";
}
.icon-arrow-down-left:before {
	content: "\e638";
}
.icon-arrow-left3:before {
	content: "\e639";
}
.icon-move-vertical-alt2:before {
	content: "\e63a";
}
.icon-move-horizontal-alt2:before {
	content: "\e63b";
}
.icon-arrow-left-alt1:before {
	content: "\e63c";
}
.icon-arrow-right-alt1:before {
	content: "\e63d";
}
.icon-arrow-up-alt1:before {
	content: "\e63e";
}
.icon-arrow-down-alt1:before {
	content: "\e63f";
}
.icon-list:before {
	content: "\e640";
}
.icon-menu:before {
	content: "\e641";
}
.icon-bullhorn:before {
	content: "\e642";
}
.icon-smiley:before {
	content: "\e643";
}
.icon-sad:before {
	content: "\e644";
}
.icon-wondering:before {
	content: "\e645";
}
.icon-location:before {
	content: "\e646";
}
.icon-tag:before {
	content: "\e665";
}
.icon-tags:before {
	content: "\e666";
}
.icon-star:before {
	content: "\e667";
}
.icon-star2:before {
	content: "\e668";
}
.icon-star3:before {
	content: "\e669";
}
.icon-IcoMoon:before {
	content: "\e66c";
}
.icon-checkbox-checked:before {
	content: "\e66b";
}
.icon-pointer:before {
	content: "\e66d";
}
