/**
 * File: _import.scss
 * Type: SASS import
 * Author: Chris Humboldt
 */

// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Imports

// Variables
$font-face-formplate: "icon-font-formplate" !default;
$grey-form: lighten(#000, 85%);

// Imports
@import "../bower_components/blueplate/sass/import";

@import "component/setup";

@import "component/check";
@import "component/input";
@import "component/label";
@import "component/select";
@import "component/textarea";
@import "component/toggler";

@import "css/execute";
