/**
 * SASS File: 		modalplate.scss
 * Type: 			execute
 * Author:        	Chris Humboldt
 * Last Edited:   	18 December 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Execute Modaplate CSS


// Imports
// ---------------------------------------------------------------------------------------
@import "../bower_components/blueplate/sass/blueplate";
@import "modalplate/import";


// Execute Modalplate CSS
// ---------------------------------------------------------------------------------------
// Call this mixin if you want to load up all the styles
@include modalplate-css();


