/**
 * File: _modal.scss
 * Type: SASS basic file
 * Author: Chris Humboldt
 * Last Edited: 23 April 2015
 */

// Table of contents
// ---------------------------------------------------------------------------------------
// Modal
// Reveal animations
// Show modal


// Modal
// ---------------------------------------------------------------------------------------
@mixin modal() {
	#modalplate {
		@include display(block);
		@include position(fixed, top -120% left 0 margin-left -0px);
		@include size(100%, 100%);
		@include background-colour($white);
		@include overflow(scroll, vertical);
		@include level(1001);
		@include visibility(hidden);
		@include animate(all, 0.4s);
		@include drop-shadow(fade-out($black, 0.95), 6px, 1px);
		@include breakpoint(large) {
			@include position-set(left 50%);
			@include margin-left(-(40.625em / 2));
			@include width-max(40.625em);
			@include height(auto, 100%);
		}

		// Close
		.modalplate-close {
			@include position(absolute, top 0px right 8px);
			@include square(44px);
			@include text-align(center);
			@include text-colour($grey-blue-light);
			@include text-decoration(none);
			@include text-size($size-minor);
			@include animate(color);
			.modalplate-no-touch &:hover {
				@include text-colour($grey-blue-dark);
				@include cursor(pointer);
			}
		}
		// Content
		.modalplate-heading,
		.modalplate-body {
			@include padding-horizontal($space-base);
			@include padding-vertical($space-slight);
			@include breakpoint(large) {
				@include padding-horizontal($space-slight);
				@include padding-vertical($space-slight);
			}
		}

		// Heading
		.modalplate-heading {
			@include padding-bottom(0px);
			@include breakpoint(large) {
				@include padding-bottom(0px);
			}
			h6 {
				@include spacing-no();
				@include text-colour($grey-blue-x-dark);
				@include text-size($size-slight);
			}
		}

		// Body
		.modalplate-body {
			@include text-colour($grey-blue-dark);
			@include text-line-height(22px);
			@include text-size($size-base);
			p:last-child {
				@include spacing-no();
			}
		}
	}

	// Reveals
	@include modal-reveal-animations();

	// Modal reveal
	@include modal-reveal();
}


// Reveal animations
// ---------------------------------------------------------------------------------------
@mixin modal-reveal-animations() {
	// Appear
	#modalplate.appear,
	#modalplate.appear-scale {
		top: 0;
		@include opacity(0);
	}
	#modalplate.appear-scale {
		@include animate(all, 0.2s);
		@include transform-scale-3d(0, 0);
	}
	// Sliding
	#modalplate.slide-from-bottom {
		top: 120%;
	}
	#modalplate.slide-from-left,
	#modalplate.slide-from-right {
		top: 0;
		left: -120%;
		margin-left: 0;
		@include animate(all);
	}
	#modalplate.slide-from-right {
		left: 120%;
	}
}


// Reveal modal
// ---------------------------------------------------------------------------------------
@mixin modal-reveal() {
	.modalplate-reveal #modalplate.reveal {
		top: 0;
		visibility: visible;
	}
	// Appear
	.modalplate-reveal #modalplate.reveal.appear,
	.modalplate-reveal #modalplate.reveal.appear-scale {
		visibility: visible;
		@include opacity(1);
	}
	.modalplate-reveal #modalplate.reveal.appear-scale {
		visibility: visible;
		@include transform-scale-3d(1, 1);
	}
	// Sliding
	.modalplate-reveal #modalplate.reveal.slide-from-left,
	.modalplate-reveal #modalplate.reveal.slide-from-right {
		left: 0;
		visibility: visible;

		// Respond
		@include respond-to(large) {
			left: 50%;
			margin-left: -(40.625em / 2);
		}
	}
}


