/**
 * SASS File: 		_colour.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Mono
// Basic


// Mono
// ---------------------------------------------------------------------------------------
$white							: #fff;
$black 							: #000;
$black-base						: lighten($black, 22%);
$grey-light						: lighten($black, 90%);
$grey-medium 					: lighten($black, 65%);
$grey-dark						: lighten($black, 40%);
$grey-link						: lighten($black, 92%);
$grey-link-hover				: lighten($black, 96%);


// Basic
// ---------------------------------------------------------------------------------------
$blue							: #3498da;
$blue-dark						: #34495e;
$green							: #27ae60;
$yellow							: #f1c40f;
$orange							: #e57e22;
$red							: #e74c3c;
$aqua							: #1abcaf;
$purple							: #9b59b6;