/**
 * SASS File: 		_text.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	28 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Text


// Text
// ---------------------------------------------------------------------------------------
@mixin text-squared($size) {
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
}
@mixin text-hide() {
	text-indent: -10000px;
	overflow: hidden;
}