/**
 * SASS File: 		_overlay.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	4 July 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Overlay
// Reveal overlay


// Overlay
// ---------------------------------------------------------------------------------------
@mixin modal-overlay() {
	.modalplate-overlay {
		display: block;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: fade-out($cloud, 0.2);
		z-index: 1000;
		visibility: hidden;
		@include opacity(0);
		@include animate(all, 0.4s);
	}

	// Show overlay
	@include modal-show();
}


// Reveal overlay
// ---------------------------------------------------------------------------------------
@mixin modal-show() {
	.modalplate-reveal .modalplate-overlay {
		@include respond-to(large) {
			visibility: visible;
			@include opacity(1);
		}
	}
}


