/**
 * Title: 			Links
 * SASS File: 		_link.scss
 * Type: 			basic
 * Author:        	Chris Humboldt
 * Last Edited:   	2 April 2015
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Basic links


// Basic links
// ---------------------------------------------------------------------------------------
p a,
a.link,
footer a {
	@include position(relative);
	@include display(inline-block);
	@include text-colour($blue);
	@include text-decoration(none);
	@include animate(color);
	outline: none;

	// States
	.no-touch &:hover,
	.no-touch &:focus {
		outline: none;
	}

	// After
	&::after {
		content: ' ';
		@include position(absolute, top 100% left 0);
		@include width(100%);
		@include height(1px);
		@include background-colour($blue);
		@include transparency(0);
		@include animate(all);
		@include transform-translate-y(-$space-x-small);

		// States
		.no-touch &:hover,
		.no-touch &:focus {
			@include transparency(1);
			@include transform-translate-y(0px);
		}
	}
	.no-touch &:hover::after,
	.no-touch &:focus::after {
		@include transparency(1);
		@include transform-translate-y(0px);
	}
}


