/**
 * File: sass/component/_button.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */

@mixin messageplate-buttons() {
	.btn-col-1,
	.btn-col-2 {
		@include row();
		@include margin-top($space-minor);

		@include breakpoint(large) {
			@include margin-top($space-base);
		}

		.btn-false,
		.btn-true {
			@include position(relative);
			@include display(inline-block);
			@include padding-no();
			@include size(100%, 44px);
			@include text-align(center);
			@include text-colour($grey-blue);
			@include text-decoration(none);
			@include text-line-height(44px);
			@include text-size(14px);
			@include vertical-align(middle);
			@include background-colour(transparent);
			@include border($grey-blue, 1px);
			@include border-radius();
			outline: none;
			-webkit-appearance: none;
			&:visited {
				@include text-colour($grey-blue);
			}
			.mp-no-touch &:hover {
				@include cursor(pointer);
				@include text-colour($white);
				@include background-colour($grey-blue);
			}
			&:active,
			&:active:hover {
				@include drop-shadow-inset(fade-out(#000, 0.85), 5px, 2px, 0px);
				text-shadow: fade-out($white, 0.75) 0px 1px 0;
				@include text-colour(darken($grey-blue, 25%));
				@include background-colour(darken($grey-blue, 5%));
			}
			-webkit-transition: border 0.2s ease-out, background 0.2s ease-out;
			-moz-transition: border 0.2s ease-out, background 0.2s ease-out;
			-ms-transition: border 0.2s ease-out, background 0.2s ease-out;
			-o-transition: border 0.2s ease-out, background 0.2s ease-out;
			transition: border 0.2s ease-out, background 0.2s ease-out;
		}
		.btn-true {
			@include text-colour($blue);
			@include border($blue, 1px);
			&:visited {
				@include text-colour($white);
			}
			.mp-no-touch &:hover {
				@include background-colour($blue);
			}
			&:active,
			&:active:hover {
				@include text-colour(darken($blue, 25%));
				@include background-colour(darken($blue, 5%));
			}
		}
	}
	.btn-col-2 {
		> .left,
		> .right {
			@include span(6);
		}
		> .left {
			@include padding-right(4px);
		}
		> .right {
			@include padding-left(4px);
		}
	}
}
