/**
 * File: sass/component/_message.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */

// Variables
$message-w: 290px;
$message-w-small: 320px;
$message-w-medium: 350px;
$message-icon-s: 80px;
$message-border-w: 4px;
$green-dark: darken($green, 6%);

// Message
@mixin messageplate-message() {
	#messageplate {
		@include position(fixed, top 14% left 50%);
		@include width($message-w);
		@include margin-left(-($message-w / 2));
		@include padding($space-slight);
		@include text-align(center);
		@include background-colour($white);
		@include drop-shadow(fade-out($black, 0.95), 6px, 1px);
		@include border-radius();
		@include level(1001);
		@include opacity(0);
		@include transform-scale-3d(0, 0);
		@include animate(all, 0.2s);
		@include breakpoint($bp-small) {
			@include width($message-w-small);
			@include margin-left(-($message-w-small / 2));
		}
		@include breakpoint($bp-medium) {
			@include width($message-w-medium);
			@include margin-left(-($message-w-medium / 2));
			@include padding($space-medium);
		}

		// Reveal
		.mp-reveal & {
			@include opacity(1);
			@include transform-scale-3d(1, 1);
		}

		// Close
		.mp-close {
			@include position(absolute, top 0px right 8px);
			@include square(44px);
			@include text-align(center);
			@include text-colour($grey-blue-light);
			@include text-size($size-minor);
			@include animate(color);

			.mp-no-touch &:hover {
				@include text-colour($grey-blue-dark);
				@include cursor(pointer);
			}
		}

		// Types
		.mp-type {
			@include position(relative);
			@include display(block);
			@include width(100%);

			.t-error,
			.t-success,
			.t-warning {
				@include position(relative, left 50%);
				@include size($message-icon-s, $message-icon-s);
				@include margin-left(-($message-icon-s / 2));
				@include margin-bottom($space-base);
				@include border-radius(50%);
				@include opacity(0);
				@include animate(all, 0.5s, 0.2s);

				// Lines
				.l-1,
				.l-2 {
					@include border-radius(2px);
				}

				// Reveal
				.mp-reveal & {
					@include opacity(1);
				}
			}
		}
		.t-success {
			@include border($green-dark, $message-border-w);
			.l-1,
			.l-2 {
				@include background-colour($green-dark);
			}
			.l-1 {
				@include position(absolute, left 24px top 33px);
				@include size($message-border-w, 18px);
				@include transform-rotate(-45deg);
				@include opacity(0);
				@include animate(all, 0.2s, 0.3s);
			}
			.l-2 {
				@include position(absolute, left 40px top 20px);
				@include size($message-border-w, 34px);
				@include transform-rotate(45deg);
				@include opacity(0);
				@include animate(all, 0.4s, 0.5s);
			}
			.mp-reveal & {
				.l-1 {
					@include opacity(1);
				}
				.l-2 {
					@include opacity(1);
				}
			}
		}
		.t-warning {
			@include border($orange, $message-border-w);
			.l-1,
			.l-2 {
				@include position(absolute, top 50% left 50%);
				@include margin-left(-2px);
				@include background-colour($orange);
			}
			.l-1 {
				@include margin-top(-20px);
				@include size($message-border-w, 0px);
				@include animate(all, 0.2s, 0.3s);
			}
			.l-2 {
				@include margin-top(-20px);
				@include size($message-border-w, $message-border-w + 2px);
				@include opacity(0);
				@include animate(all, 0.2s, 0.6s);
			}
			.mp-reveal & {
				.l-1 {
					@include height(30px);
				}
				.l-2 {
					@include margin-top(14px);
					@include opacity(1);
				}
			}
		}
		.t-error {
			@include border($red, $message-border-w);
			.l-1,
			.l-2 {
				@include position(absolute, top 50% left 50%);
				@include margin-top(-2px);
				@include margin-left(-20px);
				@include size(40px, $message-border-w);
				@include background-colour($red);
				@include border-radius(2px);
			}
			.l-1 {
				-webkit-transform: rotate(225deg) scale(0);
				-moz-transform: rotate(225deg) scale(0);
				-ms-transform: rotate(225deg) scale(0);
				-o-transform: rotate(225deg) scale(0);
				transform: rotate(225deg) scale(0);
				@include animate(all, 0.2s, 0.3s);
			}
			.l-2 {
				-webkit-transform: rotate(-225deg) scale(0);
				-moz-transform: rotate(-225deg) scale(0);
				-ms-transform: rotate(-225deg) scale(0);
				-o-transform: rotate(-225deg) scale(0);
				transform: rotate(-225deg) scale(0);
				@include animate(all, 0.2s, 0.5s);
			}
			.mp-reveal & {
				@include opacity(1);
				.l-1 {
					-webkit-transform: rotate(225deg) scale(1);
					-moz-transform: rotate(225deg) scale(1);
					-ms-transform: rotate(225deg) scale(1);
					-o-transform: rotate(225deg) scale(1);
					transform: rotate(225deg) scale(1);
				}
				.l-2 {
					-webkit-transform: rotate(-225deg) scale(1);
					-moz-transform: rotate(-225deg) scale(1);
					-ms-transform: rotate(-225deg) scale(1);
					-o-transform: rotate(-225deg) scale(1);
					transform: rotate(-225deg) scale(1);
				}
			}
		}
		.mp-heading h6 {
			@include spacing-no();
			@include margin-bottom($space-minor);
			@include text-colour($grey-blue-x-dark);
			@include text-size($size-slight);
		}
		.mp-body {
			@include spacing-no();
			@include text-colour($grey-blue-dark);
			@include text-line-height(22px);
			@include text-size($size-base);
			p:last-child {
				@include spacing-no();
			}
		}
	}
}
