/**
 * SASS File: 		_background.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Background classes


// Background classes
// ---------------------------------------------------------------------------------------
@mixin blueplate-background() {
	.back-pos-l {
		background-position: left;
	}
	.back-pos-r {
		background-position: right;
	}
	.back-pos-t {
		background-position: top;
	}
	.back-pos-b {
		background-position: bottom;
	}
	.back-pos-c {
		background-position: center;
	}
	.back-repeat-no {
		background-repeat: no-repeat;
	}
	.back-repeat-y {
		background-repeat: repeat-y;
	}
	.back-repeat-x {
		background-repeat: repeat-x;
	}
	.back-single {
		background-position: center;
		background-repeat: no-repeat;
	}
	.back-cover {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.back-black {
		background-color: #000;
	}
	.back-grey {
		background-color: lighten(#000, 50%);
	}
	.back-grey-light {
		background-color: lighten(#000, 90%);
	}
	.back-white {
		background-color: #fff;
	}
}