/**
 * SASS File: 		_display.scss
 * Requires: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	28 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Display classes


// Display classes
// ---------------------------------------------------------------------------------------
@mixin blueplate-display() {
	.show {
		display: block;
	}
	.hide {
		display: none;
	}
	.opacity-100 {
		opacity: 1;
	}
	.opacity-75 {
		opacity: 0.75;
	}
	.opacity-50 {
		opacity: 0.5;
	}
	.opacity-25 {
		opacity: 0.25;
	}
	.opacity-0 {
		opacity: 0;
	}

	// Respond
	@include respond-to(large) {
		.small-show {
			display: none;
		}
		.large-show {
			display: block;
		}
		.large-hide {
			display: none;
		}
	}
	@include respond-to(small) {
		.small-show {
			display: block;
		}
		.small-hide {
			display: none;
		}
		.large-show {
			display: none;
		}
	}
}