/**
 * SASS File: 		_layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	14 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Layout classes


// Layout classes
// ---------------------------------------------------------------------------------------
@mixin blueplate-layout() {
	.float-no {
		@include float-no();
	}
	.float-l {
		@include float-left();
	}
	.float-r {
		@include float-right();
	}
	.float-clear {
		@include float-clear();
	}
	.center {
		@include center();
	}
	.valign-t {
		vertical-align: top;
	}
	.valign-m {
		vertical-align: middle;
	}
	.valign-b {
		vertical-align: bottom;
	}
}