/**
 * SASS File: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	17 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Block based layout
// Flex based layout


// Block based layout
// ---------------------------------------------------------------------------------------
@mixin blueplate-responsive-layout() {

	// Containers
	.row {
		@include row();

		.row {
			width: auto;
		}
		[class *= "span-"] {
			float: left;
			position: relative;
		}

		// Span loop
		@for $index from 1 through $column-limit {
			.span-#{$index} {
				@include make-span($index);
			}
		}

		// Offset loop
		@for $index from 1 through ($column-limit - 1) {
			.offset-#{$index} {
				@include offset($index);
			}
			.offset-r-#{$index} {
				@include offset-r($index);
			}
		}
	}

	// Limit
	.limit {
		@include limit();
	}

	// Respond large
	@include respond-to(large) {
		.row {

			// Large span loop
			@for $index from 1 through $column-limit {
				.large-span-#{$index} {
					@include make-span($index);
				}
			}

			// Offset loop
			@for $index from 1 through ($column-limit - 1) {
				.large-offset-#{$index} {
					@include offset($index);
				}
				.large-offset-r-#{$index} {
					@include offset-r($index);
				}
			}
		}
	}

	// Respond small
	@include respond-to(small) {
		.row {
			
			// Small span loop
			@for $index from 1 through $column-limit {
				.small-span-#{$index} {
					@include make-span($index);
				}
			}

			// Offset loop
			@for $index from 1 through ($column-limit - 1) {
				.small-offset-#{$index} {
					@include offset($index);
				}
				.small-offset-r-#{$index} {
					@include offset-r($index);
				}
			}
		}
	}
}


// Flex based layout
// ---------------------------------------------------------------------------------------
@mixin blueplate-flex-layout() {

	.flex-row {
		@include flex-column();

		@include respond-to(large){
			@include flex-row();

			// Span loop
			@for $index from 1 through $column-limit {
				.flex-#{$index} {
					@include flex-span($index);
				}
			}
		}
	}
}