/**
 * SASS File: 		_check.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Font face
// Check input
// Radio inputs
// Fixes


// Check input
// ---------------------------------------------------------------------------------------
.formplate {
	.fp-checkbox,
	.fp-radio {
		display: inline-block;
		position: relative;
		width: 22px;
		height: 22px;
		line-height: 22px;
		vertical-align: middle;
		border: 1px solid $grey-form;
		@include border-radius();

		// Hover
		&:hover {
			cursor: pointer;
			border: 1px solid $blue;
		}

		// Checked
		&.checked {
			font-family: 'formplate';
			color: $white;
			font-size: 0.613em;
			text-align: center;
			border: 1px solid $blue;
			background-color: $blue;

			&:before {
				content: "\e600";
			}
		}

		> input {
			@include spacing-no();
			display: inline-block;
			height:22px;
			width:22px; 
			@include opacity(0);

			&:hover {
				cursor: pointer;
			}
		}
	}
}

// Hover / checked
@each $colour-name, $colour in $ar-colours-form {
	.fp-colour-#{$colour-name} .formplate {
		.fp-checkbox,
		.fp-radio {

			// Hover
			&:hover {
				border: 1px solid $colour;
			}

			// Checked
			&.checked {
				border: 1px solid $colour;
				background-color: $colour;
			}
		}
	}
}


// Radio inputs
// ---------------------------------------------------------------------------------------
.formplate .fp-radio {
	@include border-radius(50%);
}


// Fixes
// ---------------------------------------------------------------------------------------
@-moz-document url-prefix() {
	.formplate {
		.fp-checkbox,
		.fp-radio {
			line-height: 20px;
		}
	}
}


