/**
 * SASS File: 		_label.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	13 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Label


// Label
// ---------------------------------------------------------------------------------------
label {
	display: inline-block;
	padding: 0px;
	margin: 0px;
	margin-bottom: 6px;
	font-size: 0.875em;
	font-weight: 400;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: $black-base;

	// Large view
	@include respond-to(large) {
		font-size: 1em;
	}
}