/**
 * SASS File: 		_form.scss
 * Type: 			atom
 * Author:        	Chris Humboldt
 * Last Edited:   	25 June 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Checkboxes
// Lables
// Inputs
// Radio buttons
// Text areas


// Checkboxes
// ---------------------------------------------------------------------------------------
.formplate .fp-checkbox {
	background-color: $white;
}


// Labels
// ---------------------------------------------------------------------------------------
label {
	font-weight: 300;
	font-family: $font-family;
}


// Radio buttons
// ---------------------------------------------------------------------------------------
.formplate .fp-radio {
	background-color: $white;
}


// Text areas
// ---------------------------------------------------------------------------------------
textarea {
	@include border-radius(1px);
}


