/**
 * SASS File: 		_layout.scss
 * Type: 			atom
 * Author:        	Chris Humboldt
 * Last Edited:   	29 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Columns
// Stripes


// Variables
// ---------------------------------------------------------------------------------------
$limit  					: $limit-width + ($space-large-em * 2);


// Columns
// ---------------------------------------------------------------------------------------
[class *= "col-"] { 
	@include row();

	> .left,
	> .middle,
	> .right {
		@include span(12);
	}
}
// Triple
.col-triple { 

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(4);
			padding-right: $space-small;
		}
		> .middle {
			@include new-span(4);
			padding: 0px $space-x-small;
		}
		> .right {
			@include new-span(4);
			padding-left: $space-small;
		}
	}
	// Respond large
	@include respond-to($bp-large) {
		> .left {
			padding-right: $space-base;
		}
		> .middle {
			padding: 0px $space-small;
		}
		> .right {
			padding-left: $space-base;
		}
	}
}
// Left bar
.col-left-bar {

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(4);
			padding-right: $space-small;
		}
		> .right {
			@include new-span(8);
			padding-left: $space-small;
		}
	}
	// Respond large
	@include respond-to($bp-large) {
		> .left {
			padding-right: $space-base;
		}
		> .right {
			padding-left: $space-small;
		}
	}
}
// Right bar
.col-right-bar {
	@extend .col-left-bar;

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(8);
		}
		> .right {
			@include new-span(4);
		}
	}
	// Respond large
	@include respond-to($bp-large) {
		> .left {
			padding-right: $space-small;
		}
		> .right {
			padding-left: $space-base;
		}
	}
}


// Stripes
// ---------------------------------------------------------------------------------------
.stripe {
	position: relative;
	@include row();
	padding: $space-medium $space-base;
	z-index: 100;

	// Contain
	.contain {
		@include respond-to($limit) {
			@include center();
			width: $limit-width;
		}
	}

	// Grey
	&:nth-child(even) {
		background-color: $grey-x-light;
	}

	// Respond
	@include respond-to($bp-small) {
		padding: $space-large $space-medium;
	}
	@include respond-to($bp-large) {
		padding: $space-x-large $space-large;
	}
}
header.stripe {
	padding: 0px $space-base;

	// Respond
	@include respond-to($bp-small) {
		padding: 0px $space-medium;
	}
	@include respond-to($bp-large) {
		padding: 0px $space-large;
	}
}
// Invert
.invert .stripe {

	// White
	&:nth-child(even) {
		background-color: $white;
	}
	// Grey
	&:nth-child(odd) {
		background-color: $grey-x-light;
	}	
}


