/**
 * SASS File: 		colours.sass
 * Author:        	Chris Humboldt
 * Last Edited:   	13 January 2014
 * Edited By:		Chris Humboldt
 */


// Table of Contents:
// ---------------------------------------------------------------------------------------
// Variables


// Variables
// ---------------------------------------------------------------------------------------
$white							: #fff;
$base-black						: lighten(#000, 20%);
$grey-light						: lighten(#000, 90%);
$grey-link						: lighten(#000, 92%);
$grey-link-hover				: lighten(#000, 96%);

$blue							: #3498da;
$blue-dark						: #34495e;

$green							: #27ae60;

$yellow							: #f1c40f;

$orange							: #e57e22;

$red							: #e74c3c;

$aqua							: #1abcaf;

$purple							: #9b59b6;