/**
 * LESS File: 		global.less
 * Author:        	Chris Humboldt
 * Last Edited:   	2 January 2014
 * Edited By:		Chris Humboldt
 */

// Table of Contents:
// ---------------------------------------------------------------------------------------

// Global
// Large View
// Fluid View
// Small View


// Global
// ---------------------------------------------------------------------------------------
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: lighten(#000, 80%);
	background-color: #fff;
	-ms-text-size-adjust: 100%;
	-webkit-texts-size-adjust: 100%;
	-webkit-backface-visibility: hidden;
}
div {
  display: block;
  direction: ltr;
}
body, ul, ol, dl, td, th, caption, pre, p, blockquote, input, textarea, label, select {
  color: lighten(#000, 20%);
}
ul, ol {margin:0; padding:0px;}
a, .make-link, a:visited {text-decoration:none; color: #65a8a6;}
a:hover, .make-link:hover {text-decoration:none; color: lighten(#65a8a6, 10%); cursor: pointer;}

// Global classes
.nothing {
  @include hide-text();
}
// Set the heights
html, body, .webplate, .webplate-content, .webplate-navigation {
    height: 100%;
}
// Fixed elements
.is-fixed {
	position: fixed;
	z-index: 100;
}
// Webplate
.webplate {
	position: relative;
	overflow: hidden;
	width: 100%;

	.webplate-shifter {
		position: relative;
		left: 0;
		height: 100%;
		@include ios-render();
		@include transform-easing();
	}
	.webplate-content {
		position: relative;
		width: 100%;
		max-width: 100%;
		margin: 0px auto;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-webkit-backface-visibility: hidden;
		z-index: 1;

		.limit {
			width: $limit_width;
			margin: 0px auto;
		}
	}
}
// Navigation
.webplate-navigation {
	display: block;
	height: 100%;
	top: 0px;
	left: 0px;
	width: $menu_width;
	position: absolute;
	margin-left: -$menu_width;
	overflow-y: auto;
	background-color: lighten(#000, 18%);
	-webkit-overflow-scrolling: touch;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	z-index: 0;

   .navigation-inner {
	 	 position: relative;
	 	 height: 100%;
	 
	 	.row{
	 		padding-top: 15px;
		
	       a {
	         display: block;
	         padding: 10px 20px;
	         font-size: 0.833em;
	         color: #b0b0b0;
	         @include animate(color);
	  
	 		  div.icon {
	 			  float: left;
	 			  padding-right: 12px;
	 			  font-size: 1em;
	 			  color: #E99272;
	 		  }
	       }
	       a:hover {
	         color: #fff;
	       }
	 	}
   }
}
.show-nav .webplate-shifter {
	@include transform-easing($menu_width);
}

// Fixed page width setting
html.fixed-page .webplate .webplate-content {
    max-width: $limit_width;
}


// Large View (Desktop and iPad)
// ---------------------------------------------------------------------------------------
@media screen and (min-width: 701px) {
	
	// Navigation
	.navigation ul, ol {
		list-style: none;
	}
}


// Fluid View (Desktop and iPad)
// ---------------------------------------------------------------------------------------
@media screen and (max-width: $limit_width) {
	
	.webplate {
		.webplate-content {
			// Set inner width
			.limit {
				width: 100%;
			}
		}
	}
}


// Small View (iPhone)
// ---------------------------------------------------------------------------------------
@media screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1080px), screen and (max-width: 700px) {
	
  // Navigation
  .navigation {
    display: none;
  }
}
