/**
 * SASS File: 		flickerplate.scss
 * Author:        	Chris Humboldt
 * Link:			http://getwebplate.com/plugins/flickerplate
 * Last Edited:   	30 December 2013
 * Edited By:		Chris Humboldt
 */

// Table of Contents:
// ---------------------------------------------------------------------------------------

// Variables
// Mixins
// Global
// Large View
// Fluid View
// Small View


// Variables
// ---------------------------------------------------------------------------------------
$dot_size						: 14px;
$flicker_class					: 'flickerplate';
$images_path					: '../images/flickerplate';


// Mixins
// ---------------------------------------------------------------------------------------
// Container
@mixin fp-webplate-flicker($height: 600px, $back_colour: lighten(#000,90%)) {
	position: relative;
	width: 100%;
	height: $height;
	background-color: $back_colour;
	overflow: hidden;
}

// Flicks
@mixin fp-flicks($width: 10000%) {
	width: $width;
	height: 100%;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
@mixin fp-flick($width: 1%) {
	float: left;
	width: $width;
	height: 100%;
	background-position: center;
	background-size: cover;
	display: table;
			
	.flick-inner {
		height: 100%;
		padding: 10px;
		color: #fff;
		display: table-cell;
		vertical-align: middle;
		
		.flick-content {
			max-width: $limit_width;
			margin-left: auto;
			margin-right: auto;
		}
	}
}
@mixin fp-flick-content() {
	.flick-title {
		padding: 0px 0px;
		font-size: 2.778em;
		line-height: 1.995em;
		text-align: center;
	}
	.flick-sub-text {
		padding: 5px;
		font-weight: 300;
		line-height: 2.5em;
		color: fade-out(#fff, 0.2);
		text-align: center;
	}
	.flick-title span.flick-block-text, .flick-sub-text span.flick-block-text {
		padding: 12px 18px;
		background-color: fade-out(#000, 0.4);
	}
}

// Arrow navigation
@mixin fp-arrow-navigation() {
	.arrow-navigation {
		position: absolute;
		height: 80%;
		width: 10%;
		top: 10%;
		z-index: 100;
		overflow: hidden;
		
		.arrow {
			display: block;
			height: 100%;
			width: 90%;
			@include animate(all);
		}
	}
	.arrow-navigation:hover, .arrow-navigation .arrow:hover {
		cursor: pointer;
	}
	.arrow-navigation.left {
		left: 0%;
		
		.arrow {
			opacity: 0;
			margin: 0px 0px 0px 50%;
			@include single-background-image('#{$images_path}/arrow-left-light.png', left);
		}
	}
	.arrow-navigation.right {
		right: 0%;
		
		.arrow {
			opacity: 0;
			margin: 0px 0px 0px -50%;
			@include single-background-image('#{$images_path}/arrow-right-light.png', right);
		}
	}
	.arrow-navigation.left.hover .arrow {
		opacity: 1;
		margin: 0px 0px 0px 20%;
	}
	.arrow-navigation.right.hover .arrow {
		opacity: 1;
		margin: 0px 0px 0px -20%;
	}
}

// Dot navigation
@mixin fp-dot-navigation() {
	.dot-navigation {
		position: absolute;
		bottom: 15px;
		width: 100%;
		text-align: center;
		z-index: 100;
		
		ul {
			text-align: center;
			list-style: none;
			padding: 0px 15px;
		}
		ul li {
			display: inline-block;
			float: none;
		}
		.dot {
			width: $dot_size;
			height: $dot_size;
			margin: 0px 6px;
			background-color: fade-out(#fff, 0.7);
			@include rounded-corners(50%);
			@include animate(background-color);
		}
		.dot:hover {
			cursor: pointer;
			background-color: fade-out(#fff, 0.4);
		}
		.dot.active {
			background-color: #fff;
		}
	}
	.dot-navigation.left, .dot-navigation.left ul {
		text-align: left;
	}
	.dot-navigation.right, .dot-navigation.right ul {
		text-align: right;
	}
}

// Dark theme
@mixin fp-dark-theme($identifier: webplate-flicker) {
	
	.#{$identifier}.flicker-theme-dark {
	
		// Arrow navigation
		.arrow-navigation.left .arrow {
			background-image: url('#{$images_path}/arrow-left-dark.png');
		}
		.arrow-navigation.right .arrow {
			background-image: url('#{$images_path}/arrow-right-dark.png');
		}
	
		// Dot navigation
		.dot-navigation {
			.dot {
				background-color: fade-out(#000, 0.88);
			}
			.dot:hover {
				background-color: fade-out(#000, 0.4);
			}
			.dot.active {
				background-color: #000;
			}
		}
	}
	.#{$identifier} ul.flicks li.flick-theme-dark .flick-inner {
		color: fade-out(#000, 0.1);
		
		.flick-content {
			.flick-sub-text {
				color: fade-out(#000, 0.1);
			}
			.flick-title span.flick-block-text, .flick-sub-text span.flick-block-text {
				background-color: fade-out(#fff, 0.5);
			}
		}
	}
}

// Animations
@mixin fp-animations($identifier: webplate-flicker) {
	
	.#{$identifier}.animate-transform-slide {
		// Flicks
		ul.flicks {
			-webkit-perspective: 1000;
			-webkit-backface-visibility: hidden;
			transform: translate3d(0%, 0px, 0px);
			-webkit-transform: translate3d(0%, 0px, 0px);
			-webkit-transition: -webkit-transform 0.6s;
			-o-transition: -o-transform 0.6s;
			-moz-transition: -moz-transform 0.6s;
			transition: transform 0.6s;
		}
	}
	.#{$identifier}.animate-transition-slide {
		// Flicks
		ul.flicks {
			position: relative;
			left: 0%;
			@include animate(left, 0.4s);
		}
	}
	.#{$identifier}.animate-jquery-slide {
		// Flicks
		ul.flicks {
			position: relative;
			left: 0%;
		}
	}
	.#{$identifier}.animate-scroller-slide {
		padding-bottom: 0px;
		overflow: auto;
	
		ul.flicks {
			position: auto;
		}
	}
}


// Class references
// ---------------------------------------------------------------------------------------
// Default flicker - light theme
.#{$flicker_class} {
	@include fp-webplate-flicker();
	
	// Flicks
	ul.flicks {
		@include fp-flicks();
		
		li {
			@include fp-flick();
			@include fp-flick-content();
		}
	}
	
	// Arrow navigation
	@include fp-arrow-navigation();
	
	// Dot navigation
	@include fp-dot-navigation();
}

// Dark theme
@include fp-dark-theme($flicker_class);

// Animation type
@include fp-animations($flicker_class);

// Large View (Desktop and iPad)
// ---------------------------------------------------------------------------------------
@media screen and (min-width: 701px) {
}


// Fluid View (Desktop and iPad)
// ---------------------------------------------------------------------------------------
@media screen and (max-width: $limit_width) {
}


// Small View (iPhone)
// ---------------------------------------------------------------------------------------
@media screen and (-webkit-min-device-pixel-ratio: 3.0) and (max-width: 1080px), screen and (max-width: 700px) {
	
	.#{$flicker_class} ul.flicks li .flick-inner .flick-content {
		.flick-title {
			font-size: 1.667em;
		}
	}
}