/**
 * SASS File: 		blueplate.scss
 * Type: 			loader
 * Author:        	Chris Humboldt
 * Last Edited:   	20 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Call styles


// Imports
// ---------------------------------------------------------------------------------------
@import "partial/bp-responsive-layout";
@import "partial/bp-alignment";
@import "partial/bp-background";
@import "partial/bp-display";
@import "partial/bp-position";
@import "partial/bp-sizing";
@import "partial/bp-spacing";
@import "partial/bp-text";


// Call styles
// ---------------------------------------------------------------------------------------
@mixin blueplate-css() {
	@include blueplate-layout();
	@include blueplate-flex-layout();
	@include blueplate-display();
	@include blueplate-position();
	@include blueplate-alignment();
	@include blueplate-text();
	@include blueplate-background();
	@include blueplate-sizing();
	@include blueplate-spacing();
}

// Call this function if you want to load up all the styles
@include blueplate-css();