/**
 * SASS File: 		buttonplate.sass
 * Author:        	Chris Humboldt
 * Link:			http://getwebplate.com/plugins/buttonplate
 * Last Edited:   	13 January 2014
 * Edited By:		Chris Humboldt
 */


// Table of Contents:
// ---------------------------------------------------------------------------------------
// Variables
// Mixins
// Classes


// Variables
// ---------------------------------------------------------------------------------------
// Defaults
$default-btn-class				: 'button';
$default-btn-colour				: 'grey';
$default-btn-size				: 'normal';
$default-btn-type				: 'flat';
$default-btn-shape				: 'rounded';

// General
$images-path					: '../img/buttonplate';
$corner-radius					: 3px;

// Sizes
$btn-size-s						: 30px;
$btn-size-n						: 38px;
$btn-size-l						: 46px;
$btn-size-xl					: 58px;

$btn-padding-s					: 18px;
$btn-padding-n					: 22px;
$btn-padding-l					: 26px;
$btn-padding-xl					: 32px;

// Drop-down options
$drp-away-from-button			: 4px;
$drp-spacing 					: $btn-padding-s;
$drp-height						: 34px;
$drp-font-size					: 0.813em;


// Mixins
// ---------------------------------------------------------------------------------------
@mixin button-gradient($colour) {
	$top-colour					: lighten($colour, 8%);
	$bottom-colour				: darken($colour, 10%);
	@include gradient-vertical($top-colour, $bottom-colour);
}


// Make buttons
@mixin buttonplate() {
	@include button();

	// Colours
	&.black {
		@include btn-colour-black();
	}
	&.blue {
		@include btn-colour-blue();
	}
	&.blue-dark {
		@include btn-colour-blue-dark();
	}
	&.green {
		@include btn-colour-green();
	}
	&.yellow {
		@include btn-colour-yellow();
	}
	&.orange {
		@include btn-colour-orange();
	}
	&.red {
		@include btn-colour-red();
	}
	&.aqua {
		@include btn-colour-aqua();
	}
	&.purple {
		@include btn-colour-purple();
	}

	// Gradients
	&.grey.gradient {
		@include btn-gradient-grey();
	}
	&.black.gradient {
		@include btn-gradient-black();
	}
	&.blue.gradient {
		@include btn-gradient-blue();
	}
	&.blue-dark.gradient {
		@include btn-gradient-blue-dark();
	}
	&.green.gradient {
		@include btn-gradient-green();
	}
	&.yellow.gradient {
		@include btn-gradient-yellow();
	}
	&.orange.gradient {
		@include btn-gradient-orange();
	}
	&.red.gradient {
		@include btn-gradient-red();
	}
	&.aqua.gradient {
		@include btn-gradient-aqua();
	}
	&.purple.gradient {
		@include btn-gradient-purple();
	}

	// Sizes
	&.small {
		@include btn-size-s();
	}
	&.normal {
		@include btn-size-n();
	}
	&.large {
		@include btn-size-l();
	}
	&.extra-large {
		@include btn-size-xl();
	}

	// Shapes
	&.rounded {
		@include btn-shape-rounded();
	}
	&.pill {
		@include btn-shape-pill();
	}
	&.squared {
		@include btn-shape-squared();
	}
}


// Buttons
@mixin button($colour: $default-btn-colour, $size: $default-btn-size, $type: $default-btn-type, $shape: $default-btn-shape) {
	display: inline-block;
	position: relative;
	vertical-align: middle;
	text-align: center;
	border: none;
	text-decoration: none;
	outline: none;
	-webkit-appearance: none;	
	@include animate(background-color);
	
	// Hover state
	&:hover {
		cursor: pointer;
	}
		
	// Active state
	&:active:not(.button-drop-down-open) {
		@include drop-shadow-inset(fade-out(#000, 0.6), 5px, 2px);
		text-shadow: fade-out($white, 0.75) 0px 1px 0;
	}
	
	// Drop down list
	ul {
		list-style: none;
		z-index: 1;
		background-color: $white;
		@include button-drop-down();
	}
	&.button-drop-down {
		.arrow {
			display: inline-block;
			height: 8px;
			width: 12px;
			background-image: url('#{$images-path}/arrow-dark.png');
			background-repeat: no-repeat;
			background-position: right;
			background-size: 12px 8px;
		
			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			    only screen and (-o-min-device-pixel-ratio: 3/2),
			    only screen and (min--moz-device-pixel-ratio: 1.5),
			    only screen and (min-device-pixel-ratio: 1.5) {
					background-image: url('#{$images-path}/arrow-dark-2x.png');
			}
		}
	}
	
	// Colours
	@if $type == 'flat' {
		
		@if $colour == 'grey' {
			@include btn-colour-grey();
		}
		@if $colour == 'black' {
			@include btn-colour-black();
		}
		@else if $colour == 'blue' {
			@include btn-colour-blue();
		}
		@else if $colour == 'blue-dark' {
			@include btn-colour-blue-dark();
		}
		@else if $colour == 'green' {
			@include btn-colour-green();
		}
		@else if $colour == 'yellow' {
			@include btn-colour-yellow();
		}
		@else if $colour == 'orange' {
			@include btn-colour-orange();
		}
		@else if $colour == 'red' {
			@include btn-colour-red();
		}
		@else if $colour == 'aqua' {
			@include btn-colour-aqua();
		}
		@else if $colour == 'purple' {
			@include btn-colour-purple();
		}
	}
	@else if $type == 'gradient' {
		
		@if $colour == 'grey' {
			@include btn-gradient-grey();
		}
		@if $colour == 'black' {
			@include btn-gradient-black();
		}
		@else if $colour == 'blue' {
			@include btn-gradient-blue();
		}
		@else if $colour == 'blue-dark' {
			@include btn-gradient-blue-dark();
		}
		@else if $colour == 'green' {
			@include btn-gradient-green();
		}
		@else if $colour == 'yellow' {
			@include btn-gradient-yellow();
		}
		@else if $colour == 'orange' {
			@include btn-gradient-orange();
		}
		@else if $colour == 'red' {
			@include btn-gradient-red();
		}
		@else if $colour == 'aqua' {
			@include btn-gradient-aqua();
		}
		@else if $colour == 'purple' {
			@include btn-gradient-purple();
		}
	}
	
	// Size
	@if $size == 'small' {
		@include btn-size-s();
	}
	@else if $size == 'normal' {
		@include btn-size-n();
	}
	@else if $size == 'large' {
		@include btn-size-l();
	}
	@else if $size == 'extra-large' {
		@include btn-size-xl();
	}
	
	// Shape
	@if $shape == 'rounded' {
		@include btn-shape-rounded();
	}
	@else if $shape == 'pill' {
		@include btn-shape-pill();
	}
	@else if $shape == 'squared' {
		@include btn-shape-pill();
	}
}
@mixin button-drop-down() {
	
	// CSS
	display: none;
	position: absolute;
	padding: 0px;
	margin: $drp-away-from-button 0px;
	@include rounded-corners();
	@include drop-shadow(fade-out(#000, 0.6), 5px, 2px);
		
	li {
		padding: 0px;
		margin: 0px;
		&:first-child a {
			@include rounded-corners-top();
		}
		&:last-child a {
			@include rounded-corners-bottom();
		}
		&.line-top {
			@include set-line('top');
		}
		&.line-bottom {
			@include set-line('bottom');
		}
		
		// Links
		a {
			display: block;
			text-align: left;
			color: $base-black;
			text-decoration: none;
			vertical-align: middle;
			
			&:hover {
				color: $white;
			}
		}
	}
}
@mixin set-line($position: 'top') {
	
	// Determine where the line goes
	@if $position == 'top' {
		
		border-top: 1px solid $grey-light;
	}
	@else if $position == 'bottom' {
		
		border-bottom: 1px solid $grey-light;
	}
}


// Colours
@mixin btn-set-colour($colour, $saturate: 26%, $lighten: 5%) {
	color: $white;
	background-color: $colour;
		
	&:hover {
		background-color: lighten(saturate($colour, $saturate), $lighten);
	}
	&.button-drop-down-open:hover {
		background-color: $colour;
	}
	&:active:not(.button-drop-down-open) {
		@include btn-active($colour);
	}
	&.button-drop-down {
		
		li a:hover {
			background-color: $colour;
		}
		.arrow {
			background-image: url('#{$images-path}/arrow-white.png');
		
			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			    only screen and (-o-min-device-pixel-ratio: 3/2),
			    only screen and (min--moz-device-pixel-ratio: 1.5),
			    only screen and (min-device-pixel-ratio: 1.5) {
					background-image: url('#{$images-path}/arrow-white-2x.png');
			}
		}
	}
}
@mixin btn-colour-grey() {
	color: lighten(#000, 40%);
	background-color: $grey-link;
		
	&:hover {
		background-color: $grey-link-hover;
	}
	&.button-drop-down-open:hover {
		background-color: $grey-link;
	}
	&:active:not(.button-drop-down-open) {
		background-color: $grey-link;
	}
	&:visited {
		color: lighten(#000, 40%);
	}
	&.button-drop-down li a:hover {
		background-color: $blue;
	}
}
@mixin btn-colour-black() {
	color: $white;
	background-color: $base-black;
		
	&:hover {
		background-color: lighten(#000, 35%);
	}
	&.button-drop-down-open:hover {
		background-color: $base-black;
	}
	&:visited {
		color: $white;
	}
	&:active:not(.button-drop-down-open) {
		color: #000;
		text-shadow: fade-out($white, 0.75) 0px 1px 0;
		background-color: lighten(#000, 25%);
	}
	&.button-drop-down {
		li a:hover {
			background-color: $base-black;
		}
		.arrow {
			background-image: url('#{$images-path}/arrow-white.png');
		
			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			    only screen and (-o-min-device-pixel-ratio: 3/2),
			    only screen and (min--moz-device-pixel-ratio: 1.5),
			    only screen and (min-device-pixel-ratio: 1.5) {
					background-image: url('#{$images-path}/arrow-white-2x.png');
			}
		}
	}
}
@mixin btn-colour-blue() {
	@include btn-set-colour($blue);
}
@mixin btn-colour-blue-dark() {
	@include btn-set-colour($blue-dark, 30%);
}
@mixin btn-colour-green() {
	@include btn-set-colour($green, 10%);
}
@mixin btn-colour-yellow() {
	@include btn-set-colour($yellow);
}
@mixin btn-colour-orange() {
	@include btn-set-colour($orange);
}
@mixin btn-colour-red() {
	@include btn-set-colour($red);
}
@mixin btn-colour-aqua() {
	@include btn-set-colour($aqua, 2%, 6%);
}
@mixin btn-colour-purple() {
	@include btn-set-colour($purple, 30%);
}
@mixin btn-active($colour) {
	color: darken($colour, 18%);
	background-color: $colour;
}

// Gradients
@mixin btn-set-gradient($colour) {
	@include button-gradient($colour);
	border: 1px solid darken($colour, 14%);
	border-top: 1px solid darken($colour, 8%);
	border-bottom: 1px solid darken($colour, 20%);
}
@mixin btn-gradient-grey() {
	@include btn-set-gradient($grey-link);
}
@mixin btn-gradient-black() {
	@include btn-set-gradient($base-black);
}
@mixin btn-gradient-blue() {
	@include btn-set-gradient($blue);
}
@mixin btn-gradient-blue-dark() {
	@include btn-set-gradient($blue-dark);
}
@mixin btn-gradient-green() {
	@include btn-set-gradient($green);
}
@mixin btn-gradient-yellow() {
	@include btn-set-gradient($yellow);
}
@mixin btn-gradient-orange() {
	@include btn-set-gradient($orange);
}
@mixin btn-gradient-red() {
	@include btn-set-gradient($red);
}
@mixin btn-gradient-aqua() {
	@include btn-set-gradient($aqua);
}
@mixin btn-gradient-purple() {
	@include btn-set-gradient($purple);
}

// Sizes
@mixin btn-size-s() {
	$drp-height					: 30px;
		
	padding: 0px $btn-padding-s;
	height: $btn-size-s;
	line-height: $btn-size-s;
	font-size: 0.750em;
	
	// Drop down padding
	&.button-drop-down {
		
		.arrow {
			padding-left: $btn-padding-s;
		}
		ul {
			margin-left: -$btn-padding-s;
		}
		li a {
			padding: 0px $btn-padding-s;
			height: $drp-height;
			line-height: $drp-height;
			font-size: 0.938em;
		}
	}
}
@mixin btn-size-n() {
	padding: 0px $btn-padding-n;
	height: $btn-size-n;
	line-height: $btn-size-n;
	font-size: 0.875em;
	
	// Drop down padding
	&.button-drop-down {

		.arrow {
			padding-left: $btn-padding-n;
		}
		ul {
			margin-left: -$btn-padding-n;
		}
		li a {
			padding: 0px $btn-padding-n;
			height: $drp-height;
			line-height: $drp-height;
			font-size: 0.875em;
		}
	}
}
@mixin btn-size-l() {
	$drp-height				: 36px;
	
	padding: 0px $btn-padding-l;
	height: $btn-size-l;
	line-height: $btn-size-l;
	font-size: 1em;
	
	// Drop down padding
	&.button-drop-down {

		.arrow {
			height: 10px;
			padding-left: $btn-padding-l;
		}
		ul {
			margin-left: -$btn-padding-l;
		}
		li a {
			padding: 0px $btn-padding-l;
			height: $drp-height;
			line-height: $drp-height;
			font-size: 0.813em;
		}
	}
}
@mixin btn-size-xl() {
	$drp-height				: 38px;
		
	padding: 0px $btn-padding-xl;
	height: $btn-size-xl;
	line-height: $btn-size-xl;
	font-size: 1.125em;
	
	// Drop down padding
	&.button-drop-down {
		
		.arrow {
			height: 12px;
			padding-left: $btn-padding-xl;
		}
		ul {
			margin-left: -$btn-padding-xl;
		}
		li a {
			padding: 0px $btn-padding-xl;
			height: $drp-height;
			line-height: $drp-height;
			font-size: 0.813em;
		}
	}
}

// Shapes
@mixin btn-shape-rounded() {
	@include rounded-corners();
}
@mixin btn-shape-pill() {
	@include rounded-corners(100px);
}
@mixin btn-shape-squared() {
	@include rounded-corners(0px);
}