/**
 * LESS File: 		mixins.scss
 * Author:        	Chris Humboldt
 * Last Edited:   	13 January 2014
 * Edited By:		Chris Humboldt
 */

// NOTE: Include this file in any custom SASS file you create to gain access to the 
// $page-width variable and all these cool helper mixins.


// Import the settings file
// ---------------------------------------------------------------------------------------
@import "../../settings";


// Mixins
// ---------------------------------------------------------------------------------------

// Rounded corners
@mixin rounded-corners($radius: 2px) {
	border-radius: $radius;
	-o-border-radius: $radius;
	-ms-border-radius: $radius;
	-moz-border-radius: $radius;
	-webkit-border-radius: $radius;
}
@mixin rounded-corners-left($radius: 2px) {
	border-radius: $radius 0px 0px $radius;
	-o-border-radius: $radius 0px 0px $radius;
	-ms-border-radius: $radius 0px 0px $radius;
	-moz-border-radius: $radius 0px 0px $radius;
	-webkit-border-radius: $radius 0px 0px $radius;
}
@mixin rounded-corners-right($radius: 2px) {
	border-radius: 0px $radius $radius 0px;
	-o-border-radius: 0px $radius $radius 0px;
	-ms-border-radius: 0px $radius $radius 0px;
	-moz-border-radius: 0px $radius $radius 0px;
	-webkit-border-radius: 0px $radius $radius 0px;
}
@mixin rounded-corners-top($radius: 2px) {
	border-radius: $radius $radius 0px 0px;
	-o-border-radius: $radius $radius 0px 0px;
	-ms-border-radius: $radius $radius 0px 0px;
	-moz-border-radius: $radius $radius 0px 0px;
	-webkit-border-radius: $radius $radius 0px 0px;
}
@mixin rounded-corners-bottom($radius: 2px) {
	border-radius: 0px 0px $radius $radius;
	-o-border-radius: 0px 0px $radius $radius;
	-ms-border-radius: 0px 0px $radius $radius;
	-moz-border-radius: 0px 0px $radius $radius;
	-webkit-border-radius: 0px 0px $radius $radius;
}
@mixin rounded-corners-top-right($radius: 2px) {
	border-radius: 0px $radius 0px 0px;
	-o-border-radius: 0px $radius 0px 0px;
	-ms-border-radius: 0px $radius 0px 0px;
	-moz-border-radius: 0px $radius 0px 0px;
	-webkit-border-radius: 0px $radius 0px 0px;
}
@mixin rounded-corners-top-left($radius: 2px) {
	border-radius: $radius 0px 0px 0px;
	-o-border-radius: $radius 0px 0px 0px;
	-ms-border-radius: $radius 0px 0px 0px;
	-moz-border-radius: $radius 0px 0px 0px;
	-webkit-border-radius: $radius 0px 0px 0px;
}

// Drop shadows
@mixin drop-shadow($color: fade-out(#000, 0.6), $size: 3px, $vertical-offset: 0px, $horizontal-offset: 0px) {
	box-shadow: $horizontal-offset $vertical-offset $size $color;
	-webkit-box-shadow: $horizontal-offset $vertical-offset $size $color;
	-moz-box-shadow: $horizontal-offset $vertical-offset $size $color;
}
@mixin drop-shadow-inset($color: fade-out(#000, 0.6), $size: 3px, $vertical-offset: 0px, $horizontal-offset: 0px) {
	box-shadow: inset $horizontal-offset $vertical-offset $size $color;
	-webkit-box-shadow: inset $horizontal-offset $vertical-offset $size $color;
	-moz-box-shadow: inset $horizontal-offset $vertical-offset $size $color;
}
@mixin no-drop-shadow() {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

// Buttons custom
@mixin button-gradient($top-colour, $bottom-colour,  $top-highlight: 0.8, $highlight-colour: #ffffff) {
	background: $top-colour;
	background: -webkit-gradient(linear, left top, left bottom, from($top-colour), to($bottom-colour));
	background: -webkit-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -moz-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -ms-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -o-linear-gradient(top, $top-colour, $bottom-colour); 
	background: linear-gradient(top, $top-colour, $bottom-colour);
	border-top: 1px solid fade-out($highlight-colour, $top-highlight);
}

// Borders
@mixin light-border($top-highlight: 0.8, $colour: #ffffff) {
	border: 1px solid fade-out($colour, $top-highlight);
}
@mixin light-top-border($top-highlight: 0.8, $top-colour: #ffffff) {
	border-top: 1px solid fade-out($top-colour, $top-highlight);
}
@mixin light-bottom-border($bottom-highlight: 0.8, $bottom-colour: #ffffff) {
	border-bottom: 1px solid fade-out($bottom-colour, $bottom-highlight);
}
@mixin dark-bottom-border($bottom-lowlight: 0.8, $bottom-colour: #000000) {
	border-bottom: 1px solid fade-out($bottom-colour, $bottom-lowlight);
}
@mixin dark-top-border($bottom-lowlight: 0.8, $top-colour: #000000) {
	border-top: 1px solid fade-out($top-colour, $bottom-lowlight);
}
@mixin light-right-border($top-highlight: 0.8, $top-colour: #ffffff) {
	border-right: 1px solid fade-out($top-colour, $top-highlight);
}
@mixin dark-right-border($bottom-lowlight: 0.8, $bottom-colour: #000000) {
	border-right: 1px solid fade-out($bottom-colour, $bottom-lowlight);
}
@mixin light-left-border($top-highlight: 0.8, $top-colour: #ffffff) {
	border-left: 1px solid fade-out($top-colour, $top-highlight);
}
@mixin dark-left-border($bottom-lowlight: 0.8, $bottom-colour: #000000) {
	border-left: 1px solid fade-out($bottom-colour, $bottom-lowlight);
}

// Look and feel
@mixin change-opacity($opacity: 0.60) {
	-moz-opacity: $opacity;
	opacity: $opacity;
}
@mixin gradient-vertical($top-colour, $bottom-colour) {
	background: $top-colour;
	background: -webkit-gradient(linear, left top, left bottom, from($top-colour), to($bottom-colour));
	background: -webkit-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -moz-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -ms-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -o-linear-gradient(top, $top-colour, $bottom-colour); 
	background: linear-gradient(top, $top-colour, $bottom-colour);
}

// IOS
@mixin ios-render() {
	-webkit-perspective: 1000;
	-webkit-backface-visibility: hidden;
}

// Animation
@mixin animate($attribute, $transition-speed: 0.2s) {
	-webkit-transition: $attribute $transition-speed ease-out;
	-moz-transition: $attribute $transition-speed ease-out;
	-o-transition: $attribute $transition-speed ease-out;
	-ms-transition: $attribute $transition-speed ease-out;
	transition: $attribute $transition-speed ease-out;
}
@mixin transform-easing($x: 0px, $y: 0px, $z: 0px, $transition-speed: 0.2s) {
	-webkit-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
	-webkit-transition: -webkit-transform $transition-speed ease-out;
	-o-transition: -o-transform $transition-speed ease-out;
	-moz-transition: -moz-transform $transition-speed ease-out;
	transition: transform $transition-speed ease-out;
}
@mixin transform($x: 0px, $y: 0px, $z: 0px) {
	-webkit-transform: translate3d($x, $y, $z);
	-o-transform: translate3d($x, $y, $z);
	-moz-transform: translate3d($x, $y, $z);
	transform: translate3d($x, $y, $z);
}

// Background
@mixin background-cover($image, $position: center) {
	background-image: url($image);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: $position;
}
@mixin single-background-image($image, $position: center) {
	background-image: url($image);
	background-repeat: no-repeat;
	background-position: $position;
}
@mixin parallax-background($url) {
	background-image: url($url);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

// Text
@mixin squared-text($size) {
	width: $size;
	height: $size;
	line-height: $size;
	text-align: center;
}
@mixin hide-text() {
	text-indent: -10000px;
	overflow: hidden;
}

// Buttons
@mixin big-button() {
	width: 100%;
	height: $download-button-h;
	line-height: $download-button-h;
	font-size: 1em;
	font-family: $logo-font;
	font-weight: 300;

	span {
		margin-right: 10px;
		font-size: 1.333em;
	}
}

// Layout
@mixin center() {
	margin: 0px auto;
}
@mixin row() {
	width: 100%;
	
	&:before, &:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
@mixin make-span($span, $span-column-limit: $column-limit) {
	width: percentage($span / $column-limit);
}
@mixin span($span, $span-column-limit: $column-limit) {
	float: left;
	position: relative;
	width: percentage($span / $column-limit);
}
@mixin offset($off-by, $span-column-limit: $column-limit) {
	margin-left: percentage($off-by / $column-limit);
}
@mixin offset-r($off-by, $span-column-limit: $column-limit) {
	margin-right: percentage($off-by / $column-limit);
}
@mixin reset-span() {
	@include span(12);
	@include offset(0);
	@include offset-r(0);
}
@mixin hide() {
	display: none;
}
@mixin show() {
	display: block;
}
@mixin limit() {
	width: $limit-width;
	margin: 0px auto;
	
	@media screen and (max-width: $limit-width) {
		width: 100%;
	}
}