/**
 * SASS File: 		_web-import.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */

// NOTE: Include this file in any custom SASS file you create to gain access to the 
// $page-width variable and Webplate mixins.


// Table of contents
// ---------------------------------------------------------------------------------------
// Settings
// Variables
// Global
// Plugins
// Setup
// Forms


// Settings
// ---------------------------------------------------------------------------------------
@import "../../settings";


// Variables
// ---------------------------------------------------------------------------------------
$limit-width						: 68.750em !default;
$menu-width							: 16.250em !default;
$small-nav-back						: lighten(#000, 18%) !default;
$images-root						: "../img" !default;
$column-limit						: 12 !default;
$spacing-limit						: 10 !default;
$default-flex 						: 1 !default;
$default-flex-percent-option		: false !default;
$break-main 						: 43.813em !default;
$min-max 							: false !default;


// Plugins
// ---------------------------------------------------------------------------------------
@import "styleplate/import";
@import "blueplate/import";
@import "buttonplate/import";
@import "flickerplate/import";