/**
 * File: sass/css/_execte.scss
 * Type: SASS execute
 * Author: Chris Humboldt
 */

@mixin menuplate-css {
    @include menuplate-overlay();
    @include menuplate-type-contextual();
    @include menuplate-type-fullscreen();
    @include menuplate-type-slide();
}
