/**
 * SASS File: 		import.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	10 February 2015
 */

// NOTE: Include this file in any custom SASS file you create to gain access to the 
// $page-width variable and Webplate mixins.


// Table of contents
// ---------------------------------------------------------------------------------------
// Config
// Variables
// Plugins


// Config
// ---------------------------------------------------------------------------------------
@import "config";


// Variables
// ---------------------------------------------------------------------------------------
$limit-width						: $sass-limit-width !default;
$menu-width							: $sass-menu-width !default;
$small-nav-back						: $sass-menu-colour !default;
$images-root						: $sass-images-root !default;
$column-limit						: $sass-column-limit !default;
$spacing-limit						: $sass-spacing-limit !default;
$default-flex 						: $sass-default-flex !default;
$default-flex-percent-option		: false !default;
$break-main 						: $sass-break-main !default;
$min-max 							: false !default;
$font-family 						: $sass-font-family !default;


// Plugins
// ---------------------------------------------------------------------------------------
@import "blueplate/import";