/**
 * SASS File: 		web-engine.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Overwrites
// Execute
// Size total


// Imports
// ---------------------------------------------------------------------------------------
@import "web-import";
@import "formplate/import";
@import "modalplate/import";
@import "setup/normalize"; 		// 2 kb
@import "setup/typeplate-vars";
@import "setup/typeplate";  	// 3 kb
@import "setup/setup"; 			// 3 kb


// Overwrites
// ---------------------------------------------------------------------------------------
$font-base 						: 16px;


// Execute
// ---------------------------------------------------------------------------------------
@include blueplate-css(); 		// 12 kb
@include buttonplate-css();		// 18 kb
@include formplate-css(); 		// 20 kb
@include modalplate-css();		// 2 kb


// Size total
// ---------------------------------------------------------------------------------------
// 59 kb