/**
 * SASS File: 		_check.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	23 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Font face
// Check input
// Radio inputs
// Fixes


// Check input
// ---------------------------------------------------------------------------------------
@mixin form-check-all() {
	.formplate {
		.fp-checkbox,
		.fp-radio {
			@include display(inline-block);
			@include position(relative, margin-right $space-x-small margin-bottom ($space-x-small - 1px));
			@include margin-top(0px);
			@include margin-bottom(2px);
			@include size(22px, 22px);
			@include text-line-height(22px);
			@include text-size(10px);
			@include vertical-align(middle);
			@include border($grey-form);
			@include border-radius();
			@include background-clip();

			// Hover
			&:hover {
				cursor: pointer;
				@include border($blue);
			}

			// Checked
			&.checked {
				@include text-align(center);
				@include text-colour($white);
				@include text-font('formplate');
				@include border($blue);
				@include background-colour($blue);

				&:before {
					content: "\e600";
				}
			}

			// Hide inputs
			> input {
				@include spacing-no();
				@include display(inline-block);
				@include size(22px, 22px);
				@include opacity(0);

				&:hover {
					cursor: pointer;
				}
			}
		}
	}

	// Hover / checked
	@each $colour-name, $colour in $ar-colours-form {
		.fp-colour-#{$colour-name} .formplate {
			.fp-checkbox,
			.fp-radio {

				// Hover
				&:hover {
					@include border($colour);
				}

				// Checked
				&.checked {
					@include border($colour);
					@include background-color($colour);
				}
			}
		}
	}
}


// Radio inputs
// ---------------------------------------------------------------------------------------
@mixin form-check-radio() {
	.formplate .fp-radio {
		@include border-radius(50%);
		@include background-clip();
	}
}


// Fixes
// ---------------------------------------------------------------------------------------
@mixin form-check-fixes() {
	@-moz-document url-prefix() {
		.formplate {
			.fp-checkbox,
			.fp-radio {
				@include text-line-height(21px);
			}
		}
	}
}


