/**
 * SASS File: 		_select.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	1 October 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Select
// Select colour states
// Fixes


// Select
// ---------------------------------------------------------------------------------------
@mixin form-select() {
	.fp-select {
		@include display(inline-block);
		@include position(relative);
		@include width(auto);
		@include text-font('formplate');
		@include border($grey-form);
		@include background-colour($white);
		@include border-radius();
		@include overflow(hidden);
		@include level(1);

		// Icon
		&:before {
			@include position(absolute, right ($space-x-small + 1px));
			@include height(36px);
			content: "\e601";
			font-size: 20px;
			@include text-line-height(37px);
			@include text-colour($grey-form);
			@include background-colour($white);
			@include level(1);
		}

		// Hover
		&:hover {
			@include border($blue);

			// Icon
			&:before {
				@include text-colour($blue);
			}
		}

		select {
			position: relative;
			@include height(36px);
			@include width(110%);
			@include margin(0px);
			@include padding-left($space-small);
			@include padding-right($space-medium);
			@include border-no();
			@include text-font($font-family);
			@include text-letter-spacing(normal);
			@include text-size(14px);
			text-transform: none;
			word-spacing: normal;
			word-wrap: normal;
			outline: none;
			-webkit-user-select: text;
			-webkit-font-smoothing: antialiased;
			-webkit-appearance: none;
		    -moz-appearance: none;
		    appearance: none;
		    @include background-colour(transparent);
		    @include level(2);

			&::-ms-expand {
				@include hide();
			}
		}
	}
}


// Select colour states
// ---------------------------------------------------------------------------------------
@mixin form-select-hover() {
	@each $colour-name, $colour in $ar-colours-form {
		.fp-colour-#{$colour-name} {

			// Focus
			.fp-select:hover {
				@include border($colour);

				// Icon
				&:before {
					@include text-colour($colour);
				}
			}
		}
	}
}


// Fixes
// ---------------------------------------------------------------------------------------
@mixin form-select-fixes() {
	@-moz-document url-prefix() {
		// .fp-select:after {
		// 	@include margin-top(4px);
		// }
		.fp-select select {
			@include padding-top($space-small - 2px);
			@include padding-bottom($space-small - 4px);
		}
	}
	.no-cssanimations .fp-select {
		// Icon
		&:after {
			@include hide();
			content: "";
		}

		select {
			@include width(100%);
			@include padding-top(7px);
			@include padding-right($space-small);
			@include padding-bottom(9px);
			@include padding-left($space-small);
		}
	}
}


