/**
 * SASS File: 		_arrow-navigation.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	26 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Arrow navigation


// Arrow navigation
// ---------------------------------------------------------------------------------------
@mixin fp-arrow-navigation() {
	.arrow-navigation {
		@include display(block);
		@include position(absolute, top 10%);
		@include size(10%, 80%);
		@include level(100);
		@include overflow(hidden);
		@include text-font('flickerplate');
		@include vertical-align(middle);

		// Arrow
		&:before {
			@include position(absolute, top 50% left 50%);
			@include margin-left(-25px);
			@include margin-top(-25px);
			@include height(50px);
			@include width(50px);
			@include transparency(0);
			@include text-align(center);
			@include text-colour($white);
			@include text-size($font-x2-large);
			@include animate(opacity);
		}

		// Hover state
		.no-touch &:hover {
			cursor: pointer;

			&.left:before,
			&.right:before {
				@include transparency(1);
			}
		}
		.no-touch &:active {
			&.left:before,
			&.right:before {
				@include margin-top(-23px);
			}
		}

		// Left arrow
		&.left {
			@include position-set(left 0%);

			&:before {
				content: "\f104";
			}
		}

		// Right arrow
		&.right {
			@include position-set(right 0%);

			&:before {
				content: "\f105";
			}
		}
	}
}