/**
 * SASS File: 		_text.scss
 * Requires: 		_responsive-layout.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	28 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Text classes


// Text classes
// ---------------------------------------------------------------------------------------
@mixin blueplate-text() {
	.hide-text {
		text-indent: -10000px;
		overflow: hidden;
	}
	.txt-l {
		text-align: left; 
	}
	.txt-c {
		text-align: center;
	}
	.txt-r {
		text-align: right;  
	}
	.txt-size-xxl {
		font-size: 1.5em;
	}
	.txt-size-xl {
		font-size: 1.250em;
	}
	.txt-size-l {
		font-size: 1.125em;
	}
	.txt-size-n {
		font-size: 1em;
	}
	.txt-size-m {
		font-size: 0.875em;
	}
	.txt-size-s {
		font-size: 0.750em;
	}
	.txt-size-xs {
		font-size: 0.625em;
	}
	.txt-weight-xb {
		font-weight: 900;
	}
	.txt-weight-b, .txt-bold {
		font-weight: 700;
	}
	.txt-weight-n {
		font-weight: 400;
	}
	.txt-weight-l, .txt-light {
		font-weight: 300;
	}
	.txt-weight-xl {
		font-weight: 100;
	}
	.txt-normal {
		font-weight: 400;
		font-style: normal;
	}
	.txt-italics {
		font-style: italic;
	}
	.txt-oblique {
		font-style: oblique;
	}
	.txt-white {
		color: #fff;
	}
	.txt-grey {
		color: fadeout(#000, 50%);
	}

	// Respond
	@include respond-to(large) {
		.large-txt-size-xxl {
			font-size: 1.444em;
		}
		.large-txt-size-xl {
			font-size: 1.222em;
		}
		.large-txt-size-l {
			font-size: 1.111em;
		}
		.large-txt-size-n {
			font-size: 1em;
		}
		.large-txt-size-m {
			font-size: 0.889em;
		}
		.large-txt-size-s {
			font-size: 0.778em;
		}
		.large-txt-size-xs {
			font-size: 0.667em;
		}
		.large-txt-weight-xb {
			font-weight: 900;
		}
		.large-txt-weight-b, .large-txt-bold {
			font-weight: 700;
		}
		.large-txt-weight-n {
			font-weight: 400;
		}
		.large-txt-weight-l, .large-txt-light {
			font-weight: 300;
		}
		.large-txt-weight-xl {
			font-weight: 100;
		}
		.large-txt-normal {
			font-weight: 400;
			font-style: normal;
		}
	}
}