/**
 * SASS File: 		welcome.sass
 * Author:        	Chris Humboldt
 * Last Edited:   	26 January 2014
 */

// Table of Contents:
// ---------------------------------------------------------------------------------------

// Imports
// Prettify
// Variables
// Mixins
// Global
// Large View
// Fluid View
// Small View


/* Imports
--------------------------------------------------------------------------------------- */
// Import this file to get the webplate helper functions and the $limit-width variable.
// You will also have access to the $images-root variable that will link automatically
// to the "img" folder in "webplate/project". This makes it easier to reference in your 
// SASS. To use this variable do the following:
//
// background-image: url(#{$images-root}/your-image-file.jpg);
//
// This is editable by adding $images-root in the "_settings.scss" file. As normal you'll 
// need to compile "core/sass/webplate-engine.scss" to "webplate/core/css/webplate.css" 
// for the changes to take effect.

@import "../../core/sass/web-import";


/* Prettify
--------------------------------------------------------------------------------------- */
/**
 * SASS File: 		prettify.sass
 */

/* Tomorrow Night Eighties Theme */
/* Original theme - https://github.com/chriskempson/tomorrow-theme */
/* Pretty printing styles. Used with prettify.js. */
/* SPAN elements with the classes below are added by prettyprint. */
/* plain text */
.pln {
  color: #cccccc;
}

@media screen {
  /* string content */
  .str {
    color: #99cc99;
  }

  /* a keyword */
  .kwd {
    color: #cc99cc;
  }

  /* a comment */
  .com {
    color: #999999;
  }

  /* a type name */
  .typ {
    color: #6699cc;
  }

  /* a literal value */
  .lit {
    color: #f99157;
  }

  /* punctuation */
  .pun {
    color: #cccccc;
  }

  /* lisp open bracket */
  .opn {
    color: #cccccc;
  }

  /* lisp close bracket */
  .clo {
    color: #cccccc;
  }

  /* a markup tag name */
  .tag {
    color: #f2777a;
  }

  /* a markup attribute name */
  .atn {
    color: #f99157;
  }

  /* a markup attribute value */
  .atv {
    color: #66cccc;
  }

  /* a declaration */
  .dec {
    color: #f99157;
  }

  /* a variable name */
  .var {
    color: #f2777a;
  }

  /* a function name */
  .fun {
    color: #6699cc;
  }
}
/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Style */
pre.prettyprint {
  background: #495563;
  font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #cccccc;
  padding: 10px;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
  color: #FFF;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}


// Variables
// ---------------------------------------------------------------------------------------
// Fonts
$logo_font 						: 'Lato', sans-serif;
$site_font 						: 'Lato', sans-serif;

// Colours
$white							: #fff;
$black							: #000;
$blue							: darken(#00A0B0, 4%);
$dark_grey 						: lighten($black, 22%);
$mid_grey						: lighten($black, 50%);
$light_grey 					: lighten($black, 98%);
$back_link_colour				: fade-out($white, 0.3);
$control_colour					: darken(#495563, 3%);

// Layout
$download_button_h				: 60px;
$image_links_height				: 320px;
$table_padding_base				: 4px;


// Global
// ---------------------------------------------------------------------------------------
html {
	font-family: $site_font;
	font-weight: 300;
}
.webplate {
	@include background-parallax("#{$images-root}/welcome/background.jpg");
	
	// General
	p a:not(.button), p a:not(.button):visited, a.link-style, a.link-style:visited {
		color: #E54028;
	}
	p a:not(.button):hover, a.link-style:hover {
		color: darken(#E54028, 10%);
		text-decoration: underline;
	}
	a.button-large {
		font-size: 0.875em;
	}
	
	// General
	h3 {
		font-size: 2.375em;
		font-family: $logo_font;
		font-weight: 300;
	}
	h4 {
		padding-top: 30px;
		padding-bottom: 10px;
		font-size: 1.750em;
		font-family: $logo_font;
		font-weight: 300;
		border-bottom: 1px solid lighten(#000, 86%);
	}
	h5 {
		padding: 0px 60px;
		font-family: $logo_font;
		font-weight: 300;
		line-height: 1.375em;
		color: lighten(#000, 40%);
	}
	.limit {
		padding: 100px 20px;
		@include row();
		@include limit();
	}
	
	// Header
	.header {
		@include row();

		// Back to webplate
		.back-to-webplate {
			position: absolute;
			padding: 7px 14px;
			margin: 25px;
			color: $back_link_colour;
			font-size: 0.889em;
			font-family: $logo_font;
			font-weight: 300;
			border: 2px solid $back_link_colour;
			z-index: 1;
			@include animate(all);
			@include border-radius();
		}
		.back-to-webplate:hover {
			color: #fff;
			border-color: #fff;
		}
		// Logo
		$logo_size						: 190px;
		$logo_width						: $logo_size;
		.logo {
			position: absolute;
			margin: 0px auto;
			top: 22%;
			left: 50%;
			margin-left: -($logo_width / 2);
			width: $logo_width;
			z-index: 1;
			@include border-radius(50%);
			@include drop-shadow(fade-out(#000, 0.94));
		
			.logo-inner {
				margin: 0px auto;
				font-family: $logo_font;
				font-size: 1.111em;
				font-weight: 500;
				background-color: #fff;
				@include text-squared($logo_size);
				@include border-radius(50%);
			}
		}
		// Heading title
		.heading-title {
			position: absolute;
			width: $limit_width;
			top: 56%;
			left: 50%;
			margin-left: -($limit_width / 2);

			p {
				font-size: 1.778em;
				color: #fff;
				text-align: center;
				font-family: $logo_font;
				font-weight: 300;
			}
		}
		// Scroller
		$scoller_colour 				: fade-out(#fff, 0.4);
		.scroller {
			position: absolute;
			bottom: 5%;
			width: 100%;
			padding: 12px 0px;
			text-align: center;
			color: $scoller_colour;
			font-family: $logo_font;
			font-weight: 300;
			@include animate(color);
			z-index: 1;
		
			.scroller-icon {
				position: absolute;
				left: 50%;
				margin-left: -24px;
				margin-top: -12px;
				border: 2px solid $scoller_colour;
				font-size: 2em;
				@include text-squared(50px);
				line-height: 50px;
				@include border-radius(50%);
				@include animate(border-color);
			}
			span {
				padding-left: 80px;
			}
		}
		$scoller_hover_colour		: #fff;
		.scroller:hover {
			cursor: pointer;
			color: $scoller_hover_colour;
		
			.scroller-icon {
				border-color: $scoller_hover_colour;
			}
		}
	}
	
	// Content
	.content {
		background-color: #fff;
		
		// General
		.button-drop-down {
			span {
				padding-left: 8px;
				font-size: 0.813em;
			}
		}
		
		// Strips
		.strip {
			.column-l, .column-r {
				@include span(6);
			}
			.column-l {
				padding-right: 30px;
			}
			.column-r {
				padding-left: 30px;
			}
		}
		
		// Grey strips
		.strip.going-responsive, .strip.buttons, .strip.documentation, .strip.grey {
			background-color: $light_grey;
		}
		
		// Downloads
		.strip.downloads {
			.button-container {
				padding: 10px;
				@include span(4);
				@include offset(2);
			}
			.button-container:last-child {
				@include offset(0);
			}
		}
		
		// Image links
		.strip.image-links {
			padding-bottom: 0px;
			background-color: $dark_grey;
			@include row();
			
			h3 {
				color: darken(#fff, 15%);
			}
			h5 {
				margin-bottom: 100px;
			}
			.limit {
				padding-bottom: 0px;
			}
			.link {
				height: $image_links_height;
				background-size: cover;
				@include span(4);
				
				a {
					display: block;
					width: 100%;
					height: $image_links_height;
					color: $white;
					font-size: 0.875em;
					background-color: fade-out(#E54028, 0.2);
					opacity: 0;
					@include animate(opacity, 0.4s);
					
					.title {
						padding-top: 80px;
						font-size: 1.5em;
						@include animate(padding-top);
					}
				}
				a:hover {
					opacity: 1;
					
					.title {
						padding-top: 130px;
					}
				}
			}
		}
		
		// Code examples
		pre {
			padding: 20px;
			margin-bottom: 2.5em;
			border: 0px;
			white-space: pre;
			word-wrap: normal;
			overflow: scroll;
			@include border-radius();
			@include drop-shadow-inset();
			
			ol {
				padding-left: 30px;
				list-style-type: decimal;
			}
		}
		
		// Table
		table {
			width: 100%;
			margin-bottom: 1.5em;
				
			th, td {
				padding: ($table_padding_base * 3) ($table_padding_base * 2);
				min-width: 170px;
			}
			thead {
				text-align: left;
				
				tr {
					background-color: #fff;
				}
			}
			tbody {
				tr {
					background-color: #fff;
					
					td:first-child {
						width: 185px;
						color: $blue;
						font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
						font-size: 0.813em;
						
						span {
							color: lighten(#000, 75%);
						}
					}
				}
				tr:nth-child(odd) {
					background-color: $light_grey;
				}
			}
		}
	
		// Examples
		.atomic-example, .class-example {
			margin-bottom: 1.5em;
			border: 1px solid lighten(#000, 88%);
			text-align: center;
			@include border-radius();
		
			div {
				padding: 6px 0px;
				border: 1px solid lighten(#000, 88%);
				background-color: lighten(#000, 92%);
			}
		}
		.class-example.limit {
			padding: 0px;
		}
		.atomic-example {
			@include row();
		
			// Columns
			.left-col, .right-col, .middle-col {
				@include span(12);
			}
		
			@include respond-to(large) {
				.left-col {
					@include new-span(6);
				}
				.middle-col, .right-col {
					@include new-span(3);
				}
			}
		
			@include respond-to(50em) {
				.left-col {
					@include new-span(12);
				}
				.middle-col {
					@include new-span(9);
				}
				.right-col {
					@include new-span(3);
				}
			}
		
			@include respond-to(56.250em) {
				.left-col, .right-col {
					@include new-span(2);
				}
				.middle-col {
					@include new-span(8);
				}
			}
		}
		
		// Forms
		.strip.forms {
			
			// Example elements
			.form-example {
				@include span(4);
				
				.column-l {
					text-align: center;
				}
				.button, .button-dropdown {
					display: block;
					width: 100%;
				}
				[class *= "icheckbox_"], [class *= "iradio_"] {
					margin-top: 3px;
				}
				.column-l, .column-r, .column-f {
					margin-bottom: 20px;
				}
				.column-l {
					padding-right: 10px;
					text-align: left;
				}
				.column-r {
					padding-left: 10px;
				}
				input, textarea, label {
					font-size: 0.875em;
				}
				textarea {
					height: 90px;
				}
			}
			.form-example:nth-child(6) {
				padding-right: 30px;
			}
			.form-example:nth-child(7) {
				padding: 0px 15px;
			}
			.form-example:nth-child(8) {
				padding-left: 30px;
			}
		}
	}
	
	// Footer 
	.footer {
		text-align: center;
		background-color: $control_colour;
		
		h3 {
			color: lighten($control_colour, 42%);
		}
		h5 {
			color: lighten($control_colour, 22%);
			margin-bottom: 50px;
		}
		a, a:visited {
			color: lighten(#E54028, 14%);
		}
		a:hover {
			color: lighten(#E54028, 2%);
		}
		
		// Social
		.social {
			margin-top: 30px;
			
			.circle {
				text-align: center;
				@include span(2);
				
				a {
					display: block;
					font-size: 2em;
					color: lighten(#000, 18%);
					background-color: $white;
					@include center();
					@include text-squared(100px);
					@include border-radius(50%);
					@include animate(background-color);
				}
				a:hover {
					background-color: $mid_grey;
				}
			}
			.circle:first-child {
				@include offset(3);
			}
		}
	}
}


// Large View (Desktop and iPad)
// ---------------------------------------------------------------------------------------
@include respond-to(large) {
	.webplate {
	}
}


// Fluid View (Desktop and iPad)
// ---------------------------------------------------------------------------------------
@include respond-to(fluid) {
	.webplate {
		// Header
		.header {
			// Heading title
			.heading-title {
				width: 100%;
				left: 0%;
				margin-left: 0px;
				padding: 0px 10px;
			}
		}
	}
}


// Small View (iPhone)
// ---------------------------------------------------------------------------------------
@include respond-to(small) {
	.webplate {
		
		// General
		h3 {
			font-size: 1.5em;
		}
		h5 {
			padding: 0px;
			font-size: 1em;
		}
		p {
			font-size: 0.875em;
		}
		.limit {
			padding: 50px 15px;
		}
		
		// Header
		.header {
			// Back to webplate
			.back-to-webplate {
				padding: 5px 10px;
				
				span {
					@include hide();
				}
			}
			// Logo	
			$logo_size						: 140px;
			$logo_width						: $logo_size;
			.logo {
				margin-left: -($logo_width / 2);
				width: $logo_width;
				top: 15%;
			
				.logo-inner {
					font-size: 0.889em;
					@include text-squared($logo_size);
				}
			}
			// Heading title
			.heading-title {
				top: 52%;

				p {
					font-size: 1em;
					font-weight: 300;
				}
			}
			// Scroller
			.scroller {
				color: #fff;
				font-size: 0.889em;
		
				.scroller-icon {
					color: #fff;
					font-size: 2em;
				}
			}
			// Flicker
			.webplate-flicker ul.flicks li .flick-inner .flick-content .flick-title {
				padding-top: 32%;
				font-size: 1.222em;
			}
		}
		
		// Content
		.content {
		
			// Downloads
			.strip.downloads .button-container {
				padding: 10px 0px;
				@include reset-span();
			}
			
			// Image links
			.strip.image-links {
			
				h5 {
					margin-bottom: 50px;
				}
				.link {
					height: $image_links_height;
					@include reset-span();
			
					a {
						height: $image_links_height;
						opacity: 0.7;
				
						.title {
							padding-top: 116px;
						}
					}
					a:hover .title {
						padding-top: 116px;
					}
				}
			}
		
			// Table
			table {
				width: 100%;
				
				th, td {
					min-width: 0px;
				}
				thead {
					@include hide();
				}
				tbody {
					td {
						display: block;
						width: 100%;
						padding-bottom: 0px;
						font-size: 0.875em;
					}
					td:last-child {
						padding-bottom: ($table_padding_base * 3);
					}
				}
			}
			
			// Forms
			.strip.forms {
				
				// Example elements
				.form-example {
					@include reset-span();
				}
				.form-example:nth-child(6), .form-example:nth-child(7), .form-example:nth-child(8) {
					padding: 0px;
				}
			}
		}
		
		// Footer 
		.footer .social {
			.circle {
				@include span(4);
				
				a {
					font-size: 1.4em;
					@include text-squared(80px);
				}
			}
			.circle:first-child {
				@include offset(0);
			}
		}
	}
}