/**
 * SASS File: 		app.scss
 * Type: 			template
 * Author:        	Chris Humboldt
 * Last Edited:   	15 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Global
// Content
// Navigation
// Stripe


// Global
// ---------------------------------------------------------------------------------------
@include respond-to(large) {
	html, body {
		height: 100%;
	}
}


// Content
// ---------------------------------------------------------------------------------------
.stripe-app .app-content {
	background-color: $white;

	// Respond
	@include respond-to(large) {
		padding-left: $menu-width;
		height: 100%;
		overflow: auto;
	}
}


// Navigation
// ---------------------------------------------------------------------------------------
.stripe-app.webplate a.navigation-trigger {
	@include position-fixed(top ($space-minor + 3px) left ($space-x-small - 2px));
	@include text-colour($river-bed);
	@include text-size(24px);
	@include animate(all);

	// Respond
	@include respond-to($bp-small) {
		@include position-set(top ($space-medium) left ($space-base));
	}
}
.stripe-app.webplate h3.nav-pad {
	@include padding-left($space-slight);

	@include respond-to(large) {
		@include padding-left(0px);
	}
}


// Stripe
// ---------------------------------------------------------------------------------------
.stripe-app .stripe {
	padding: $space-base $space-small;

	@include respond-to($bp-small) {
		padding: $space-medium $space-slight;
	}
	@include respond-to($bp-large) {
		padding: ($space-large + $space-minor) $space-large;
	}
}


