/**
 * File: engine/sass/setup/_setup.scss
 * Type: SASS setup file
 * Author: Chris Humboldt
 */

// Table of contents
// Global
// Large view
// Fluid view
// Small view

// Global
@include global-setup();
html, body {
	@include text-font($font-family-set);
	@include text-weight(300);
}
div {
  display: block;
  direction: ltr;
}
body, ul, ol, dl, td, th, caption, pre, p, blockquote, input, textarea, label, select {
  color: lighten(#000, 20%);
}

// Webplate
#web-overlay {
	@include display(block);
	@include position(fixed, top 0 right 0 bottom 0 left 0);
	@include background-colour(fade-out($black-base, 0.4));
	@include level(1000);
	@include visibility(hidden);
	@include opacity(0);
	@include animate(all, 0.4s);
	.web-overlay-reveal & {
		@include visibility(visible);
		@include opacity(1);
	}
}
.wallpaper {
	background-position: center;
	background-size: cover;
}
