/**
 * SASS File: 		_header.scss
 * Type: 			organism
 * Author:        	Chris Humboldt
 * Last Edited:   	28 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Header


// Header
// ---------------------------------------------------------------------------------------
header.stripe {
	display: block;
	
	.bg-image {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		background-image: url(img/background.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
		@include transform-translate-3d(0px, 0px, 0px);
	}
}