/**
 * SASS File: 		_app-controls.scss
 * Type: 			organism
 * Author:        	Chris Humboldt
 * Last Edited:   	21 July 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Bottom link
// Links


// Bottom link
// ---------------------------------------------------------------------------------------
.bottom-link {
	padding: $space-small;
	padding-top: 0px;

	// Links
	a {
		width: 100%;
	}

	// Respond
	@include respond-to(large) {
		width: $menu-width;
		bottom: 0;

		&.fix-it {
			position: absolute;
		}
	}
}


// Links
// ---------------------------------------------------------------------------------------
.stripe-app .app-controls {
	overflow: hidden;

	.inner {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		z-index: 1;
		overflow: auto;
	}

	ul.links {
		margin: ($space-base + 6px) 0px;

		a, h5 {
			display: block;
			padding: 10px $space-base;
		}
		a {
			color: $river-bed-light;
			font-size: 0.913em;
			@include animate(color);
		}
		h5 {
			margin: 0px;
			padding-top: $space-base;
			color: $white;
		}

		// With icons
		&.with-icons a {
			padding-left: $space-medium;

			span {
				position: absolute;
				margin-top: 3px;
				margin-left: -$space-base - 4px;
				font-size: 1.25em;
				color: $aqua;
			}
		}
	}
}
// States
.no-touch.stripe-app .app-controls ul li a:hover,
.stripe-app .app-controls ul li a.active {
	color: $white;
}


