/**
 * SASS File: 		_header.scss
 * Type: 			organism
 * Author:        	Chris Humboldt
 * Last Edited:   	15 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Header


// Header
// ---------------------------------------------------------------------------------------
header.stripe {
	display: block;
	height: 100vh;

	.contain {
		position: relative;
		z-index: 1;
	}
	
	// Background image
	.bg-image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(img/background.png);
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 0;
	}

	// Header text
	.text {
		display: table;
		position: absolute;
		width: 100%;
		height: 100vh;

		.inner {
			display: table-cell;
   			vertical-align: middle;
		}

		h1, h2, h3 {
			color: $white;
		}
		h4, h5, h6, p, b, span, i, strong {
			color: fade-out($white, 0.4);
		}
		h6 {
			line-height: 1.5em;
		}
	}
	.text-center {
		@extend .text;

		.inner {
			text-align: center;

			@include respond-to(large) {
				padding: 0px 10%;
			}
			@include respond-to($bp-large) {
				padding: 0px 16%;
			}
		}
	}
	.text-center-tight {
		@extend .text-center;

		.inner {
			@include respond-to($bp-large) {
				padding: 0px 26%;
			}
		}
	}

	// Scroll down
	.scroll-down {
		position: absolute;
		left: 50%;
		margin-left: -($scroll-down-dimensions / 2);
		@include margin-top(100vh);
		color: $white;
		font-size: 1.25em;
		@include text-squared($scroll-down-dimensions);
		@include border-radius(50%);
		border: 1px solid $white;
		z-index: 1;
		@include animate(all, 0.3s);
	}
}
// States
.no-touch header.stripe .scroll-down:hover {
	color: $hover-colour;
	text-decoration: none;
	border: 1px solid $hover-colour;
}


