<article id="components" class="line"><div class="contain-tight">

	<h3>Article Content Tight</h3>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Quisque sodales vel orci eu consequat. Morbi lacinia, ligula sit amet commodo interdum, ligula tortor rhoncus elit, quis <b>pretium orci nunc</b> nec nisi. Nunc ultrices dui et erat elementum, vel ultricies erat pellentesque. Sed pretium libero ullamcorper turpis malesuada pretium. Fusce vitae ultrices massa. Morbi mollis erat at urna imperdiet, sit amet malesuada lacus pulvinar. Quisque aliquam.</p>
	
	<p>Nunc vestibulum aliquet ornare. Quisque adipiscing ipsum at urna aliquet euismod. Mauris aliquam, nisl consectetur aliquam dictum, massa lectus malesuada mauris, at tristique sem nisi sit amet eros. <i>Donec mi leo, facilisis</i> nec pulvinar at, laoreet in est. Nulla augue eros, tincidunt nec ante non, venenatis mollis velit. Duis quis condimentum metus. Pellentesque placerat tortor lorem, dapibus laoreet quam euismod eu. Curabitur consectetur, nibh at consequat cursus, augue urna egestas dui, id volutpat libero tellus eu mauris tortor lorem, dapibus laoreet quam.</p>
	
</div></article>