<header class="stripe full">
	
	<div class="contain">

		<a href="#" class="scroll-down icon-angle-down"></a>

	</div>

	<!-- Flicker -->
	<div class="flickerplate bg-image" data-dot-navigation="false" data-block-text="false" data-auto-flick="false">

		<ul>

			<li data-background="[path-to-image]/image.jpg">

				<div class="flick-title">Important Flicker Title</div>
				<div class="flick-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi.</div>

			</li>
			<li data-background="[path-to-image]/image.jpg">

				<div class="flick-title">Next Flicker Title</div>
				<div class="flick-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi.</div>

			</li>
			<li data-background="[path-to-image]/image.jpg">

				<div class="flick-title">One More Flicker Title</div>
				<div class="flick-sub-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi.</div>
				
			</li>

		</ul>

	</div>

</header>