<button class="modal-trigger btn-primary" data-modal-open="modal-form">Open Form Modal</button>

<div class="modalplate" data-modal-id="modal-form">

	<a href="#" class="close icon-cross"></a>

	<form method="post" action="#">

		<h5>Form Modal</h5>

		<label for="profile-pic">Profile Pic</label>
		<div class="input-outer">
			<input type="file" name="profile-pic" id="profile-pic">
		</div>

		<label for="name">Name</label>
		<div class="input-outer">
			<input type="text" name="name" id="name">
		</div>

		<label for="email">Email Address</label>
		<div class="input-outer">
			<input type="text" name="email" id="email">
		</div>

		<label for="password">Your Password</label>
		<div class="input-outer">
			<input type="password" name="password" id="password">
		</div>

		<div class="options">

			<button class="btn-cancel close">Cancel</button>
			<button type="submit" class="btn-ok">Submit</button>

		</div>
		
	</form>

</div>