<button class="modal-trigger btn-primary" data-modal-open="modal-static">Open Static Modal</button>

<div class="modalplate" data-modal-id="modal-static">

	<a href="#" class="close icon-cross"></a>
	
	<div class="static">
		<h5>Static Modal</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Quisque sodales vel orci eu consequat. Morbi lacinia, ligula sit amet commodo interdum, ligula tortor rhoncus elit, quis pretium orci nunc nec nisi. Nunc ultrices dui et erat elementum, vel ultricies erat pellentesque. Sed pretium libero ullamcorper turpis malesuada pretium. Fusce vitae ultrices massa. Morbi mollis erat at urna imperdiet, sit amet malesuada lacus pulvinar.</p>
	</div>

</div>