<!DOCTYPE html>
<html>
<head>
    <!--Meta setup - Required for apple device-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--Favicon-->
	<link rel="icon" type="image/png" href="webplate/project/img/favicon.png" />
	
    <!--Title-->
    <title>Basic Page</title>

    <!--Include webplate-->
    <script id="webplate-stack" src="stack.js"></script>

</head>
<body style="display: none;" data-icon-font="icomoon" data-ui="stripe" data-project-css="welcome.css" data-project-js="min/welcome.min.js" data-formplate-colour="aqua" class="invert">

	<!-- Navigation -->
	<nav class="absolute"><div class="contain">

		<ul class="navigation">
			<li>
				<a href="#">Some Cool Link 1<span class="icon-angle-down"></span></a>
				<ul>
					<li><a href="#">Sub Link 1</a></li>
					<li><a href="#">Sub Link 2</a></li>
					<li><a href="#">Sub Link 3</a></li>
					<li><a href="#">Sub Link 4</a></li>
				</ul>
			</li>
			<li><a href="#">Some Cool Link 2</a></li>
			<li><a href="#">Some Cool Link 3</a></li>
		</ul>

		<div class="logo-container"><a href="#" class="logo-line">SITE NAME</a></div>

	</div></nav>

	<!-- Header -->
	<header class="stripe full">
		
		<div class="contain">

			<div class="text-center-tight"><div class="inner">
				
				<h2>Page Title</h2>
				<h6>Main sub-heading text.</h6>

			</div></div>

			<a href="#" class="scroll-down icon-angle-down"></a>

		</div>

		<div class="bg-image"></div>

	</header>

	<!-- Content -->
	<div class="stripe"><div class="contain">

		<h3>Heading</h3>
		<p>Some basic paragraph text.</p>

<pre class="prettyprint linenums showcase-code">
&lt;div&gt;A little bit of code.&lt;/div&gt;
</pre>

	</div></div>

	<!-- Footer -->
	<div class="stripe dark"><div class="contain">

		<h3>Copyright &amp; License Stuff</h3>
		<h6>Some footer text.</h6>

	</div></div>

</body>
</html>