<!DOCTYPE html>
<html class="stripe-app">
<head>
    <!--Meta setup - Required for apple device-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

	<!--Favicon-->
	<link rel="icon" type="image/png" href="webplate/project/img/favicon.png" />
	
    <!--Title-->
    <title>Documentation Page</title>

    <!--Include webplate-->
    <script id="webplate-stack" src="stack.js"></script>

</head>
<body style="display: none;" data-icon-font="icomoon" data-ui="stripe" data-project-css="welcome.css" data-project-js="min/welcome.min.js" data-formplate-colour="aqua" class="invert">

	<!-- Navigation controls -->
	<div class="app-controls navigation"><div class="inner">

		<!-- App nav heading -->
		<div class="app-nav-heading">
		
			<h5>Documentation</h5>

		</div>

		<!-- Links -->
		<ul class="links">

			<li><a href="#">Getting Started</a></li>
			<li><a href="#">Categories</a></li>
			<li><a href="#">Tags</a></li>
			<li><a href="#">Code Snippets</a></li>
			<li><a href="#">Peaches</a></li>

			<li><h5>Divider Heading</h5></li>
			<li><a href="#">Plugins</a></li>
			<li><a href="#">Useful Stuff</a></li>
			
		</ul>

		<div class="bottom-link">

			<a href="#" class="btn-primary">A Cool Button</a>

		</div>

	</div></div>

	<!-- Content -->
	<div class="app-content">

		<!-- Navigation trigger -->
		<a href="#" class="navigation-trigger icon-menu"></a>

		<div class="stripe">

			<!-- Heading with nav pad -->
			<h3 class="nav-pad">Section Heading</h3>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Quisque sodales vel orci eu consequat. Morbi lacinia, ligula sit amet commodo interdum, ligula tortor rhoncus elit, quis pretium orci nunc nec nisi. Nunc ultrices dui et erat elementum, vel ultricies erat pellentesque. Sed pretium libero ullamcorper turpis malesuada pretium. Fusce vitae ultrices massa. Morbi mollis erat at urna imperdiet, sit amet malesuada lacus pulvinar. Quisque aliquam lacus velit.</p>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Quisque sodales vel orci eu consequat.</p>

<pre class="prettyprint linenums showcase-code">
&lt;div&gt;Some Div Content&lt;/div&gt;
</pre>
			<a href="#" class="button blue">Basic Button</a>

		</div>

		<div class="stripe">

			<h3>Code Reference</h3>

			<p>Donec quis mauris mi. Quisque sodales vel orci eu consequat. Morbi lacinia, ligula sit amet commodo interdum, ligula tortor rhoncus elit, quis pretium orci nunc nec nisi. Nunc ultrices dui et erat elementum, vel ultricies erat pellentesque. Sed pretium libero ullamcorper turpis.</p>

			<div class="code-reference">

				<h5>$.code_reference(<i>$x</i>)</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Quisque sodales vel orci eu consequat.</p>

			</div>

		</div>

		<div class="stripe">

			<h3>Included Table</h3>

			<p>Quisque sodales vel orci eu consequat. Morbi lacinia, ligula sit amet commodo interdum, ligula tortor rhoncus elit, quis pretium orci nunc nec nisi. Nunc ultrices dui et erat elementum, vel ultricies erat pellentesque. Morbi mollis erat at urna imperdiet, sit amet malesuada lacus pulvinar. Quisque aliquam lacus velit.</p>

			<table class="first-blue">

				<thead>
					<tr>
						<th>First Blue</th>
						<th>Heading</th>
						<th>Heading</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<td>Table Cell</td>
						<td>Table Cell</td>
						<td>Table Cell</td>
					</tr>
					<tr>
						<td>Table Cell</td>
						<td>Table Cell</td>
						<td>Table Cell</td>
					</tr>
				</tbody>

			</table>

		</div>

	</div>

</body>
</html>