/**
 * SASS File: 		_variables.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	5 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Custom colours
// Header
// Images root
// Showcase
// Text
// Title bar


// Custom colours
// ---------------------------------------------------------------------------------------
$river-bed-feint			: lighten($river-bed, 10%);
$river-bed-light 			: lighten($river-bed, 30%);
$river-bed-x-light 			: lighten($river-bed, 54%);
$stripe-off-colour			: lighten(#E7EAEF, 5%);


// Header
// ---------------------------------------------------------------------------------------
$scroll-down-dimensions 	: 50px;


// Images root
// ---------------------------------------------------------------------------------------
$images-root 				: "img";


// Showcase
// ---------------------------------------------------------------------------------------
$showcase-hover-colour 		: $black;


// Text
// ---------------------------------------------------------------------------------------
$code-font 					: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;


// Title bar
// ---------------------------------------------------------------------------------------
$title-bar-h				: 56px;
$title-bar-h-medium			: 68px;
$title-bar-h-large			: 118px;


