/**
 * SASS File: 		style.scss
 * Type: 			loader
 * Author:        	Chris Humboldt
 * Last Edited:   	2 October 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Setup
// Imports
// Atoms
// Molecules
// Organisms
// Custom CSS


// Setup
// ---------------------------------------------------------------------------------------
$font-face-buttonplate				: "../../../core/css/icon-font-buttonplate";


// Imports
// ---------------------------------------------------------------------------------------
@import "../../../core/sass/import";
@import "sass/variables";


// Basic elements
// ---------------------------------------------------------------------------------------
@import "sass/basic/button";
@import "sass/basic/code";
@import "sass/basic/form";
@import "sass/basic/global";
@import "sass/basic/layout";
@import "sass/basic/list";
@import "sass/basic/table";
@import "sass/basic/text";


// Components
// ---------------------------------------------------------------------------------------
@import "sass/component/app-controls";
@import "sass/component/code-reference";
@import "sass/component/download-stripe";
@import "sass/component/header";
@import "sass/component/image-hover";
@import "sass/component/login-block";
@import "sass/component/message";
@import "sass/component/modal";
@import "sass/component/navigation";
@import "sass/component/pricing-table";
@import "sass/component/showcase";
@import "sass/component/title-bar";
@import "sass/component/user-profile";


// Templates
// ---------------------------------------------------------------------------------------
@import "sass/template/app";


// Custom CSS
// ---------------------------------------------------------------------------------------
.btn-examples {
	margin-top: $space-base;

	button {
		margin-right: $space-x-small;
		margin-bottom: $space-x-small;
	}
}
#stripe-lists .full {
	margin-top: $space-base;
}
#stripe-buttons {
	padding-top: $space-small;
}
#stripe-inputs,
#stripe-lists,
#stripe-tables,
#stripe-text {
	padding-top: $space-medium;
}
#stripe-image-hover {
	.image-hover {
		@include span(12);

		@include respond-to(large) {
			@include new-span(4);
		}
	}
}


