/**
 * SASS File: 		style.scss
 * Type: 			loader
 * Author:        	Chris Humboldt
 * Last Edited:   	10 February 2015
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Webplate import
// Variables
// Components
// Basic elements
// Modules
// Templates
// Custom CSS


// Webplate import
// ---------------------------------------------------------------------------------------
@import "../../../engine/sass/import";


// Components
// ---------------------------------------------------------------------------------------
$font-face-buttonplate				: "../../component/buttonplate/css/icon-font-buttonplate";
@import "../../component/buttonplate/sass/buttonplate";


// Variables
// ---------------------------------------------------------------------------------------
@import "sass/variables";


// Basic elements
// ---------------------------------------------------------------------------------------
@import "sass/basic/button";
@import "sass/basic/code";
@import "sass/basic/form";
@import "sass/basic/global";
@import "sass/basic/layout";
@import "sass/basic/list";
@import "sass/basic/table";
@import "sass/basic/text";


// Modules
// ---------------------------------------------------------------------------------------
@import "sass/module/app-controls";
@import "sass/module/code-reference";
@import "sass/module/download-stripe";
@import "sass/module/header";
@import "sass/module/image-hover";
@import "sass/module/login-block";
@import "sass/module/message";
@import "sass/module/modal";
@import "sass/module/navigation";
@import "sass/module/pricing-table";
@import "sass/module/showcase";
@import "sass/module/title-bar";
@import "sass/module/user-profile";


// Templates
// ---------------------------------------------------------------------------------------
@import "sass/template/app";


// Custom CSS
// ---------------------------------------------------------------------------------------
.btn-examples {
	margin-top: $space-base;

	button {
		margin-right: $space-x-small;
		margin-bottom: $space-x-small;
	}
}
#stripe-lists .full {
	margin-top: $space-base;
}
#stripe-buttons {
	padding-top: $space-small;
}
#stripe-inputs,
#stripe-lists,
#stripe-tables,
#stripe-text {
	padding-top: $space-medium;
}
#stripe-image-hover {
	.image-hover {
		@include span(12);

		@include respond-to(large) {
			@include new-span(4);
		}
	}
}


