/**
 * SASS File: 		style.scss
 * Type: 			loader
 * Author:        	Chris Humboldt
 * Last Edited:   	21 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Setup
// Imports
// Atoms
// Molecules
// Organisms
// Custom CSS


// Setup
// ---------------------------------------------------------------------------------------
$font-face-buttonplate				: "../../../core/css/icon-font-buttonplate";


// Imports
// ---------------------------------------------------------------------------------------
@import "../../../core/sass/web-import";
@import "sass/variables";


// Atoms
// ---------------------------------------------------------------------------------------
@import "sass/atom/button";
@import "sass/atom/code";
@import "sass/atom/form";
@import "sass/atom/global";
@import "sass/atom/layout";
@import "sass/atom/list";
@import "sass/atom/table";
@import "sass/atom/text";


// Molecules
// ---------------------------------------------------------------------------------------
@import "sass/molecule/code-reference";
@import "sass/molecule/download-stripe";
@import "sass/molecule/image-hover";
@import "sass/molecule/login-block";
@import "sass/molecule/message";
@import "sass/molecule/modal";
@import "sass/molecule/navigation";
@import "sass/molecule/pricing-table";
@import "sass/molecule/showcase";
@import "sass/molecule/user-profile";


// Organisms
// ---------------------------------------------------------------------------------------
@import "sass/organism/app-controls";
@import "sass/organism/header";
@import "sass/organism/title-bar";


// Templates
// ---------------------------------------------------------------------------------------
@import "sass/templates/app";


// Custom CSS
// ---------------------------------------------------------------------------------------
.btn-examples {
	margin-top: $space-base;

	button {
		margin-right: $space-x-small;
		margin-bottom: $space-x-small;
	}
}
#stripe-lists .full {
	margin-top: $space-base;
}
#stripe-buttons,
#stripe-inputs,
#stripe-lists,
#stripe-tables,
#stripe-text {
	padding-top: $space-medium;
}
#stripe-image-hover {
	.image-hover {
		@include span(12);

		@include respond-to(large) {
			@include new-span(4);
		}
	}
}


