/**
 * blueplate.less
 *
 * Author:        Chris Humboldt
 * Last Edited:   21 October 2013
 * Edited By:		Chris Humboldt
 */

/*-------------------------------------------------------

  Table of Contents:

    Variables
	 Global
    Large View
    Fluid View
    Small View
    Links

---------------------------------------------------------*/


/* Global
--------------------------------------------------------------------------------------- */
/* Display classes */
.display-it {
	display: block;
}
.display-none {
	display: none;
}
.fade-out-25, .fade-in-75 {
	opacity: 0.75;
}
.fade-out-50, .fade-in-50 {
	opacity: 0.5;
}
.fade-out-75, .fade-in-25 {
	opacity: 0.25;
}
.fade-out-100, .fade-in-0 {
	opacity: 0;
}
.hide-text {
	text-indent: -10000px;
	overflow: hidden;
}

/* Alignment classes */
.float-l {
	float: left;
}
.float-r {
	float: right;
}
.float-clear {
	clear: both;
}
.txt-l {
	text-align: left;	
}
.txt-r {
	text-align: right;	
}
.txt-c {
	text-align: center;
}
.txt-size-xl {
	font-size: 1.444em
}
.txt-size-l {
	font-size: 1.222em
}
.txt-size-n {
	font-size: 1em;
}
.txt-size-m {
	font-size: 0.889em;
}
.txt-size-s {
	font-size: 0.778em;
}
.txt-size-xs {
	font-size: 0.667em
}
.valign-t {
	vertical-align: top;
}
.valign-b {
	vertical-align: bottom;
}
.center-it {
	margin: 0px auto;
}

/* Responsive layout */
.row:before, .row:after {
	content: " ";
	display: table;
}
.row:after {
	clear: both;
}
.row {
	width: 100%;

	.row {
		width: auto;
	}
	[class *= "span-"] {
		float: left;
		position: relative;
	}
	
	// Span loop (12 grid system)
	.span-loop(@index) when (@index > 0) {

		.span-@{index} {
			width: percentage(@index * 0.083333333333333334 );
		}
		// Update loop
		.span-loop(@index - 1);
	}
	.span-loop(0){}
	.span-loop(12);
	
	// Offset loop (12 grid system)
	.offset-loop(@index) when (@index > 0) {

		.offset-@{index} {
			margin-left: percentage(@index * 0.083333333333333334 );
		}
		.offset-r-@{index} {
			margin-right: percentage(@index * 0.083333333333333334 );
		}
		
		// Update loop
		.offset-loop(@index - 1);
	}
	.offset-loop(0){}
	.offset-loop(11);
}

/* Spacing classes */
.no-pad {
	padding: 0px;
}

// Multiples of 100 from 500 to 1000
.spacing-loop-100(@index) when (@index > 4) {

	@multiplication	: 100px;
	@class_name			: @index * 100;
	
	// Padding
	.pad-@{class_name} {
		padding: (@multiplication * @index);
	}
	.pad-r-@{class_name} {
		padding-right: (@multiplication * @index);
	}
	.pad-l-@{class_name} {
		padding-left: (@multiplication * @index);
	}
	.pad-t-@{class_name} {
		padding-top: (@multiplication * @index);
	}
	.pad-b-@{class_name} {
		padding-bottom: (@multiplication * @index);
	}
	
	// Margin
	.mgn-@{class_name} {
		margin: (@multiplication * @index);
	}
	.mgn-r-@{class_name} {
		margin-right: (@multiplication * @index);
	}
	.mgn-l-@{class_name} {
		margin-left: (@multiplication * @index);
	}
	.mgn-t-@{class_name} {
		margin-top: (@multiplication * @index);
	}
	.mgn-b-@{class_name} {
		margin-bottom: (@multiplication * @index);
	}
	
	// Update loop
	.spacing-loop-100(@index - 1);
}
.spacing-loop-100(0){}
.spacing-loop-100(10);

// Multiples of 50 from 150 to 450
.spacing-loop-50(@index) when (@index > 2) {

	@multiplication	: 50px;
	@class_name			: @index * 50;
	
	// Padding
	.pad-@{class_name} {
		padding: (@multiplication * @index);
	}
	.pad-r-@{class_name} {
		padding-right: (@multiplication * @index);
	}
	.pad-l-@{class_name} {
		padding-left: (@multiplication * @index);
	}
	.pad-t-@{class_name} {
		padding-top: (@multiplication * @index);
	}
	.pad-b-@{class_name} {
		padding-bottom: (@multiplication * @index);
	}
	
	// Margin
	.mgn-@{class_name} {
		margin: (@multiplication * @index);
	}
	.mgn-r-@{class_name} {
		margin-right: (@multiplication * @index);
	}
	.mgn-l-@{class_name} {
		margin-left: (@multiplication * @index);
	}
	.mgn-t-@{class_name} {
		margin-top: (@multiplication * @index);
	}
	.mgn-b-@{class_name} {
		margin-bottom: (@multiplication * @index);
	}
	
	// Update loop
	.spacing-loop-50(@index - 1);
}
.spacing-loop-50(0){}
.spacing-loop-50(9);

// Multiples of 5 from 20 to 100
.spacing-loop-5(@index) when (@index > 3) {

	@multiplication	: 5px;
	@class_name			: @index * 5;
	
	// Padding
	.pad-@{class_name} {
		padding: (@multiplication * @index);
	}
	.pad-r-@{class_name} {
		padding-right: (@multiplication * @index);
	}
	.pad-l-@{class_name} {
		padding-left: (@multiplication * @index);
	}
	.pad-t-@{class_name} {
		padding-top: (@multiplication * @index);
	}
	.pad-b-@{class_name} {
		padding-bottom: (@multiplication * @index);
	}
	
	// Margin
	.mgn-@{class_name} {
		margin: (@multiplication * @index);
	}
	.mgn-r-@{class_name} {
		margin-right: (@multiplication * @index);
	}
	.mgn-l-@{class_name} {
		margin-left: (@multiplication * @index);
	}
	.mgn-t-@{class_name} {
		margin-top: (@multiplication * @index);
	}
	.mgn-b-@{class_name} {
		margin-bottom: (@multiplication * @index);
	}
	
	// Update loop
	.spacing-loop-5(@index - 1);
}
.spacing-loop-5(0){}
.spacing-loop-5(20);

// Single intergers up to 15
.spacing-loop-1(@index) when (@index > 0) {

	@multiplication	: 1px;
	@class_name			: @index;
	
	// Padding
	.pad-@{class_name} {
		padding: (@multiplication * @index);
	}
	.pad-r-@{class_name} {
		padding-right: (@multiplication * @index);
	}
	.pad-l-@{class_name} {
		padding-left: (@multiplication * @index);
	}
	.pad-t-@{class_name} {
		padding-top: (@multiplication * @index);
	}
	.pad-b-@{class_name} {
		padding-bottom: (@multiplication * @index);
	}
	
	// Margin
	.mgn-@{class_name} {
		margin: (@multiplication * @index);
	}
	.mgn-r-@{class_name} {
		margin-right: (@multiplication * @index);
	}
	.mgn-l-@{class_name} {
		margin-left: (@multiplication * @index);
	}
	.mgn-t-@{class_name} {
		margin-top: (@multiplication * @index);
	}
	.mgn-b-@{class_name} {
		margin-bottom: (@multiplication * @index);
	}
	
	// Update loop
	.spacing-loop-1(@index - 1);
}
.spacing-loop-1(0){}
.spacing-loop-1(15);

/* Colour classes */
.txt-grey {
  color: fadeout(#000, 50%);
}


/* Large View (Desktop and iPad)
--------------------------------------------------------------------------------------- */
@media screen and (min-width: 701px) {

	.small-show {
		display: none;
	}

	// Navigation
	.navigation ul, ol {
		list-style: none;
	}
}


/* Fluid View (Desktop and iPad)
--------------------------------------------------------------------------------------- */
@media screen and (max-width: @page_width) {
}


/* Small View (iPhone)
--------------------------------------------------------------------------------------- */
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px), only screen and (-webkit-min-device-pixel-ratio: 2) {
	
	.small-hide {
		display: none;
	}
	.row {
		[class *= "span-"] {
			display: block;
			position: relative;
			float: left;
			width: 100%;
			
			.small-hide {
				display: none;
			}
		}
		[class *= "offset-"] {
			margin-left: 0%;
		}
		[class *= "offset-right-"] {
			margin-right: 0%;
		}
		
		// Small span loop (12 grid system)
		.small-span-loop(@index) when (@index > 0) {

			.small-span-@{index} {
				width: percentage(@index * 0.083333333333333334 );
			}
			// Update loop
			.small-span-loop(@index - 1);
		}
		.small-span-loop(0){}
		.small-span-loop(12);
	
		// Small offset loop (12 grid system)
		.small-offset-loop(@index) when (@index > 0) {

			.small-offset-@{index} {
				margin-left: percentage(@index * 0.083333333333333334 );
			}
			.small-offset-r-@{index} {
				margin-right: percentage(@index * 0.083333333333333334 );
			}
		
			// Update loop
			.small-offset-loop(@index - 1);
		}
		.small-offset-loop(0){}
		.small-offset-loop(11);
	}
}


/* Links
--------------------------------------------------------------------------------------- */
a {
}
a:hover {
}
a:visited {
}