/**
 * Title: 			Fuse UI Kit
 * SASS File: 		style.scss
 * Type: 			importer
 * Author:        	Chris Humboldt
 * Last Edited:   	5 April 2015
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Imports


// Variables
// ---------------------------------------------------------------------------------------

// Title bar
$title-bar-h 					: 76px;
$title-bar-h-large				: 92px;


// Imports
// ---------------------------------------------------------------------------------------
@import "../../../engine/sass/import"; // Webplate
@import "../../component/buttonplate/sass/buttonplate"; // Buttonplate

// Variables
$grey-blue-super-light			: lighten($grey-blue-light, 14%);

// Basic
@import "sass/basic/layout";
@import "sass/basic/link";
@import "sass/basic/text";

// Modules
@import "sass/module/banner";
@import "sass/module/button";
@import "sass/module/card";
@import "sass/module/code";
@import "sass/module/cool-list";
@import "sass/module/footer";
@import "sass/module/grey-strip";
@import "sass/module/image-hover";
@import "sass/module/navigation";
@import "sass/module/title-bar";


