/**
 * webplate-global.less
 *
 * Author:        Chris Modem
 * Last Edited:   7 August 2013
 */

/*-------------------------------------------------------

  Table of Contents:

    Variables
    Global

---------------------------------------------------------*/


/* VARIABLES
--------------------------------------------------------------------------------------- */


/* GLOBAL
--------------------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html, body {
  height: 100%;
}
html {
	position: relative;
	font-size: 0.875em;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: lighten(#000, 80%);
	background-color: #fff;
	-ms-text-size-adjust: 100%;
	-webkit-texts-size-adjust: 100%;
	-webkit-backface-visibility: hidden;
}
div {
  display: block;
  direction: ltr;
}
body, ul, ol, dl, td, th, caption, pre, p, blockquote, input, textarea, label {
  color: lighten(#000, 80%);
}
ul, ol {margin:0; padding:0px;}
a, .make-link, a:visited {text-decoration:none; color: #65a8a6;}
a:hover, .make-link:hover {text-decoration:none; color: lighten(#65a8a6, 10%); cursor: pointer; .animate(color)}

// Global classes
.display-none, .hidden-div {display:none;}
.float-left {float:left;}
.float-right {float:right;}
.clear-float {clear:both;}
.nothing {
  .hide-text();
}
.txt-red {
  color: #c60707;
}
.txt-grey {
  color: fadeout(#000, 50%);
}
.txt-light {
  .change-opacity();
}