/**
 * File: module/_type-fullscreen.scss
 * Type: SASS module
 * Author: Chris Humboldt
 */

// Table of contents
// Variables
// Mixins

// Variables
$navplate-fs-time: 0.25s;
$navplate-fs-delay: 0.075s;
// Mixins
@mixin navplate-type-fullscreen() {
   .navplate.type-fullscreen {
      @include navplate-type-fullscreen-styles-reveal();
   }
   .navplate.type-fullscreen.active-always {
      @include navplate-type-fullscreen-styles();
   }
   .navplate.type-fullscreen.active-small {
      @include breakpoint(small) {
         @include navplate-type-fullscreen-styles();
      }
   }
   .navplate.type-fullscreen.active-large {
      @include breakpoint(large) {
         @include navplate-type-fullscreen-styles();
      }
   }
   a.navplate-close {
      @include hide();
      .navplate-reveal & {
         @include show(block);
      }
   }
}
@mixin navplate-type-fullscreen-styles() {
   @include show(block);
   @include position(fixed, top 0 right 0 bottom 0 left 0);
   @include level(1001);
   @include visibility(hidden);
   a.navplate-close {
      @include position(absolute, top 0 right 0);
      @include size(50px, 50px);
      @include text-line-height(50px);
      @include text-colour($grey);
      &:hover {
         @include cursor(pointer);
         @include text-colour($white);
         @include animate(all, 0.2s);
      }
   }
   ul {
      @include show(block);
      @include width-max(500px);
      @include spacing-no();
      @include padding-vertical($space-medium);
      @include center();
      @include list-style(none);
      @include breakpoint(large) {
         @include padding-vertical($space-large);
      }
      li {
         @include text-align(center);
         h6 {
            @include spacing-no();
            @include padding-vertical($space-minor);
            @include text-colour($white);
            @include text-size(22px);
            @include text-weight(500);
            @include breakpoint(large) {
               @include padding-vertical($space-base);
               @include text-size(26px);
            }
         }
         a {
            @include show(block);
            @include padding-vertical($space-minor);
            @include text-colour($white);
            @include text-decoration(none);
            @include text-size(20px);
            @include text-weight(100);
            @include breakpoint(large) {
               @include padding-vertical($space-base);
               @include text-size(24px);
            }
            &:hover {
               @include text-colour($white);
               @include animate(all, 0.2s);
            }
            .navplate-no-touch & {
               @include text-colour(darken($grey-light, 10%));
               &:hover {
                  @include text-colour($white);
                  @include animate(all, 0.2s);
               }
            }
         }
      }
   }
   // State
   &.nav-display {
      @include visibility(visible);
   }
}
@mixin navplate-type-fullscreen-styles-reveal() {
   // Directions
   &.reveal-left {
      li {
         @include transparency(0);
         @include transform-translate-3d(-250px, 0px, 0px);
      }
   }
   &.reveal-top {
      li {
         @include transparency(0);
         @include transform-translate-3d(0px, -250px, 0px);
      }
   }
   &.reveal-right {
      li {
         @include transparency(0);
         @include transform-translate-3d(250px, 0px, 0px);
      }
   }
   &.reveal-bottom {
      li {
         @include transparency(0);
         @include transform-translate-3d(0px, 250px, 0px);
      }
   }
   // State
   &.nav-display {
      li {
         @include transparency(1);
         @include transform-translate-3d(0px, 0px, 0px);
      }
      li:nth-child(1) {
         @include animate(all, $navplate-fs-time);
      }
      li:nth-child(2) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 1));
      }
      li:nth-child(3) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 2));
      }
      li:nth-child(4) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 3));
      }
      li:nth-child(5) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 4));
      }
      li:nth-child(6) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 5));
      }
      li:nth-child(7) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 6));
      }
      li:nth-child(8) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 7));
      }
      li:nth-child(9) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 8));
      }
      li:nth-child(10) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 9));
      }
      li:nth-child(11) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 10));
      }
      li:nth-child(12) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 11));
      }
      li:nth-child(13) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 12));
      }
      li:nth-child(14) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 13));
      }
      li:nth-child(15) {
         @include animate(all, $navplate-fs-time, ($navplate-fs-delay * 14));
      }
   }
}
