.no-box-shadow{box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;}
.hide-text{text-indent:-1000px;overflow:hidden;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{background:#fff;color:#000;font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;margin:0.67em 0;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre-wrap;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,select{text-transform:none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],html input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
@charset "UTF-8";
@font-face{font-family:"Ampersand";src:local("Georgia"),local("Garamond"),local("Palatino"),local("Book Antiqua");unicode-range:U+270C;}@font-face{font-family:"Ampersand";src:local("Georgia");unicode-range:U+270C;}.ampersand-placeholder{font-family:Verdana,sans-serif;}
.breakword{word-wrap:break-word;}
.normal-wrap{word-wrap:normal;}
.inherit-wrap{word-wrap:auto;}
.drop-cap:first-letter{float:left;margin:inherit;padding:inherit;font-size:4em;font-family:inherit;line-height:1;text-indent:0;background:transparent;color:inherit;}
html{font:normal 112.5%/1.65 serif;}
body{-webkit-hyphens:auto;-moz-hyphens:auto;-ms-hyphens:auto;-o-hyphens:auto;hyphens:auto;word-wrap:break-word;color:#444444;}
.tera{font-size:117px;font-size:6.5rem;margin-bottom:0.25384615384615383rem;}
.giga{font-size:90px;font-size:5rem;margin-bottom:0.33rem;}
.mega{font-size:72px;font-size:4rem;margin-bottom:0.4125rem;}
.alpha{font-size:60px;font-size:3.3333333333333335rem;margin-bottom:0.495rem;}
.beta{font-size:48px;font-size:2.6666666666666665rem;margin-bottom:0.61875rem;}
.gamma{font-size:36px;font-size:2rem;margin-bottom:0.825rem;}
.delta{font-size:24px;font-size:1.3333333333333333rem;margin-bottom:1.2375rem;}
.epsilon{font-size:21px;font-size:1.1666666666666667rem;margin-bottom:1.4142857142857141rem;}
.zeta{font-size:18px;font-size:1rem;margin-bottom:1.65rem;}
h1{font-size:60px;font-size:3.3333333333333335rem;margin-bottom:0.495rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h2{font-size:48px;font-size:2.6666666666666665rem;margin-bottom:0.61875rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h3{font-size:36px;font-size:2rem;margin-bottom:0.825rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h4{font-size:24px;font-size:1.3333333333333333rem;margin-bottom:1.2375rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h5{font-size:21px;font-size:1.1666666666666667rem;margin-bottom:1.4142857142857141rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
h6{font-size:18px;font-size:1rem;margin-bottom:1.65rem;text-rendering:optimizeLegibility;line-height:1;margin-top:0;}
p{margin:0 0 1.5em;}p+p{text-indent:1.5em;margin-top:-1.5em;}
abbr,acronym,blockquote,code,dir,kbd,listing,plaintext,q,samp,tt,var,xmp{-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;-o-hyphens:none;hyphens:none;}
pre code{word-wrap:normal;white-space:-moz-pre-wrap;white-space:pre-wrap;}
pre{white-space:pre;}
code{white-space:pre;font-family:monospace;}
abbr{font-variant:small-caps;font-weight:600;text-transform:lowercase;color:#808080;}abbr:hover{cursor:help;}
h1,h2,h3,h4,h5,h6{color:#222222;}
.lining dt,.lining dd{display:inline;margin:0;}
.lining dt+dt:before,.lining dd+dt:before{content:"\A";white-space:pre;}
.lining dd+dd:before{content:", ";}
.lining dd:before{content:": ";margin-left:-0.2rem;}
.dictionary-style dt{display:inline;counter-reset:definitions;}.dictionary-style dt+dt:before{content:", ";margin-left:-0.2rem;}
.dictionary-style dd{display:block;counter-increment:definitions;}.dictionary-style dd:before{content:counter(definitions, decimal) ". ";}
.stats-tabs{padding:0;}.stats-tabs li{display:inline-block;margin:0 0.625rem 0 0;padding:0 0.625rem 0 0;border-right:0.125rem solid #cccccc;}.stats-tabs li:last-child{margin:0;padding:0;border:none;}
.stats-tabs li a{display:inline-block;font-size:1.5rem;font-weight:bold;}.stats-tabs li a b{display:block;margin:0.125rem 0 0 0;font-size:0.875rem;font-weight:normal;}
.cite{display:block;font-size:0.875em;text-align:right;}
.pull-quote{position:relative;padding:1em;}.pull-quote:before,.pull-quote:after{height:1em;opacity:0.15;position:absolute;font-size:4em;}
.pull-quote:before{content:'“';top:0;left:0;}
.pull-quote:after{content:'”';bottom:0;right:0;}
*{box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
html,body{height:100%;}
html{font-size:0.875em;position:relative;color:#393939;background-color:#fff;-ms-text-size-adjust:100%;-webkit-texts-size-adjust:100%;-webkit-backface-visibility:hidden;}
div{display:block;direction:ltr;}
body,ul,ol,dl,td,th,caption,pre,p,blockquote,input,textarea,label{color:#393939;font-size:1em;font-weight:400;font-family:'Open Sans',Helvetica,Arial,sans-serif;line-height:20px;}
input,textarea{width:100%;border:1px solid #ddd;padding:6px;margin-bottom:20px;font-size:14px;font-family:'Open Sans',Helvetica,Arial,sans-serif;font-weight:500;-webkit-appearance:none;border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;}
input.redBorder{border:1px solid #ea2505;}
ul,ol{margin:0;padding:0px;}
a,.makeLink,a:visited{text-decoration:none;color:#65a8a6;}
a:hover,.makeLink:hover{text-decoration:none;color:#216462;cursor:pointer;-webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;-o-transition:color 0.2s ease-out;-ms-transition:color 0.2s ease-out;transition:color 0.2s ease-out;-webkit-transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;transform:translate3d(0, 0, 0);}
.displayNone,.hiddenDiv{display:none;}
.floatLeft{float:left;}
.floatRight{float:right;}
.clearFloat{clear:both;}
.divHeight{display:block;overflow:hidden;}
.divider{display:block;height:1px;width:100%;background-color:rgba(255, 255, 255, 0.9);border-top:1px solid rgba(0, 0, 0, 0.19999999999999996);}
.nothing{text-indent:-1000px;text-indent:-10000px;overflow:hidden;}
.txtRed{color:#c60707;}
.txtGrey{color:rgba(0, 0, 0, 0.5);}
.txtLight{-moz-opacity:0.6;opacity:0.6;}
.webplateButton,a.webplateButton2{display:inline-block;position:relative;margin-top:0px;margin-bottom:1px;padding:11px 12px 9px 12px;color:#fff;font-weight:200;font-size:1em;text-align:center;background-color:#999;text-shadow:none;border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px;z-index:1;}
.webplateButton:hover,.webplateButton2:hover{cursor:pointer;}
.webplateButton:active,.webplateButton2:active{margin-top:1px;margin-bottom:0px;}
.webplateButton.white,.bonsaiWhite2.white{color:#525252;background-color:#fff;}
.webplateButton.white:hover,.webplateButton2.white:hover,.webplateButton.white:active,.webplateButton2.white:active{background-color:#dddddd;}
.webplateButton.blue,.webplateButton2.blue{background-color:#00b9d2;}
.webplateButton.blue:hover,.webplateButton2.blue:hover,.webplateButton.blue:active,.webplateButton2.blue:active{background-color:#04a0b4;}
.webplateButton.red,.webplateButton2.red{background-color:#e83352;}
.webplateButton.red:hover,.webplateButton2.red:hover,.webplateButton.red:active,.webplateButton2.red:active{background-color:#c32a3f;}
.webplateButton.green,.webplateButton2.green{background-color:#1fbba6;}
.webplateButton.green:hover,.webplateButton2.green:hover,.webplateButton.green:active,.webplateButton2.green:active{background-color:#17a894;}
.webplateButton.orange,.webplateButton2.orange{background-color:#f27935;}
.webplateButton.orange:hover,.webplateButton2.orange:hover,.webplateButton.orange:active,.webplateButton2.orange:active{background-color:#e16634;}
.webplateButton.yellow,.webplateButton2.yellow{background-color:#fcb040;}
.webplateButton.yellow:hover,.webplateButton2.yellow:hover,.webplateButton.yellow:active,.webplateButton2.yellow:active{background-color:#eb981e;}
.webplateButton>span,.webplateButton2>span{margin-right:8px;font-size:1.1em;}
.inputError{display:none;position:absolute;top:0px;left:0px;z-index:110;}.inputError .errorText{padding:10px 10px;font-size:0.8em;color:#fff;background-color:#de0303;border-radius:2px 2px 0px 0px;-o-border-radius:2px 2px 0px 0px;-ms-border-radius:2px 2px 0px 0px;-moz-border-radius:2px 2px 0px 0px;-webkit-border-radius:2px 2px 0px 0px;}
.inputError .errorArrow{display:block;width:26px;height:6px;margin-left:10px;background-image:url(../images/global/input-error-arrow.png);background-position:bottom;}
.webplateOverlay{display:none;position:fixed;width:100%;height:100%;z-index:100;background-image:-moz-radial-gradient(50% 50%, circle closest-side, #ffffff, #000000 100%);background-image:-webkit-radial-gradient(50% 50%, circle closest-side, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.85) 100%);background-image:-o-radial-gradient(50% 50%, circle closest-side, #ffffff, #000000 100%);background-image:-ms-radial-gradient(50% 50%, circle closest-side, #ffffff, #000000 100%);background-image:radial-gradient(50% 50%, circle closest-side, #ffffff, #000000 100%);}
.webplate{position:relative;width:100%;-webkit-backface-visibility:hidden;}.webplate .webplateInner{position:relative;width:100%;max-width:100%;margin:0px auto;background-color:#fff;z-index:1;-webkit-overflow-scrolling:touch;-webkit-backface-visibility:hidden;transform:translate3d(0px, 0px, 0px);-webkit-transform:translate3d(0px, 0px, 0px);-webkit-transition:-webkit-transform 0.2s ease;-o-transition:-o-transform 0.2s ease;-moz-transition:-moz-transform 0.2s ease;transition:transform 0.2s ease;box-shadow:0px 0px 30px rgba(0, 0, 0, 0.8);-webkit-box-shadow:0px 0px 30px rgba(0, 0, 0, 0.8);-moz-box-shadow:0px 0px 30px rgba(0, 0, 0, 0.8);}.webplate .webplateInner .inner{width:1100px;margin:0px auto;}
.navigationSmall{display:none;position:fixed;-webkit-backface-visibility:hidden;-webkit-transform:translate3d(0, 0, 0);-webkit-perspective:1000;z-index:0;}
.showNav .webplateInner{-webkit-transform:translate3d(260px, 0px, 0px);-o-transform:translate3d(260px, 0px, 0px);-moz-transform:translate3d(260px, 0px, 0px);transform:translate3d(260px, 0px, 0px);}
html.fixedPage .webplate .webplateInner{max-width:1100px;}
.pane{display:block;position:fixed;width:320px;height:100%;left:100%;background-color:#fff;border-left:1px solid rgba(0, 0, 0, 0.09999999999999998);}.pane .paneInner{padding:20px;overflow:hidden;}
.showPane .pane{left:260px;}
.webplateSmallView.showPane .pane{left:0;}
.webplateSmallView .navigation ul li{clear:both;width:100%;}
.row:before,.row:after{content:" ";display:table;}
.row:after{clear:both;}
.row{width:100%;}.row .row{width:auto;}
.row .span12,.row .span11,.row .span10,.row .span9,.row .span8,.row .span7,.row .span6,.row .span5,.row .span4,.row .span3,.row .span2,.row .span1{float:left;position:relative;}
.row .span12{width:100%;}
.row .span11{width:91.66666%;}
.row .span10{width:83.33333%;}
.row .span9{width:75%;}
.row .span8{width:66.66666%;}
.row .span7{width:58.33333%;}
.row .span6{width:50%;}
.row .span5{width:41.66666%;}
.row .span4{width:33.33333%;}
.row .span3{width:25%;}
.row .span2{width:16.66666%;}
.row .span1{width:8.33333%;}
.row .offset11{margin-left:91.66666%;}
.row .offset10{margin-left:83.33333%;}
.row .offset9{margin-left:75%;}
.row .offset8{margin-left:66.66666%;}
.row .offset7{margin-left:58.33333%;}
.row .offset6{margin-left:50%;}
.row .offset5{margin-left:41.66666%;}
.row .offset4{margin-left:33.33333%;}
.row .offset3{margin-left:25%;}
.row .offset2{margin-left:16.66666%;}
.row .offset1{margin-left:8.33333%;}
.row .offsetRight11{margin-right:91.66666%;}
.row .offsetRight10{margin-right:83.33333%;}
.row .offsetRight9{margin-right:75%;}
.row .offsetRight8{margin-right:66.66666%;}
.row .offsetRight7{margin-right:58.33333%;}
.row .offsetRight6{margin-right:50%;}
.row .offsetRight5{margin-right:41.66666%;}
.row .offsetRight4{margin-right:33.33333%;}
.row .offsetRight3{margin-right:25%;}
.row .offsetRight2{margin-right:16.66666%;}
.row .offsetRight1{margin-right:8.33333%;}
@media screen and (min-width:701px){.smallShow{display:none;} .navigation{position:relative;left:0px;overflow:hidden;} .navigation ul,ol{list-style:none;} .navigation.horizontal ul{text-align:left;}.navigation.horizontal ul li{display:inline;} .navigationSmall{display:none;}}@media screen and (max-width:1100px){.webplate .webplateInner .inner{width:100%;}}@media only screen and (max-width:700px),only screen and (max-device-width:700px),only screen and (-webkit-min-device-pixel-ratio:2){html{background-color:#1f1f1f;} .smallHide{display:none;} .row [class*="span"]{display:block;float:none;width:100%;} .row [class*="offset"]{margin-left:0%;} .row [class*="offsetRight"]{margin-right:0%;} .row .smallSpan12,.row .smallSpan11,.row .smallSpan10,.row .smallSpan9,.row .smallSpan8,.row .smallSpan7,.row .smallSpan6,.row .smallSpan5,.row .smallSpan4,.row .smallSpan3,.row .smallSpan2,.row .smallSpan1{float:left;position:relative;} .row .smallSpan12{width:100%;} .row .smallSpan11{width:91.66666%;} .row .smallSpan10{width:83.33333%;} .row .smallSpan9{width:75%;} .row .smallSpan8{width:66.66666%;} .row .smallSpan7{width:58.33333%;} .row .smallSpan6{width:50%;} .row .smallSpan5{width:41.66666%;} .row .smallSpan4{width:33.33333%;} .row .smallSpan3{width:24%;} .row .smallSpan2{width:16.66666%;} .row .smallSpan1{width:8.33333%;} .row .smallOffset11{margin-left:91.66666%;} .row .smallOffset10{margin-left:83.33333%;} .row .smallOffset9{margin-left:75%;} .row .smallOffset8{margin-left:66.66666%;} .row .smallOffset7{margin-left:58.33333%;} .row .smallOffset6{margin-left:50%;} .row .smallOffset5{margin-left:41.66666%;} .row .smallOffset4{margin-left:33.33333%;} .row .smallOffset3{margin-left:25%;} .row .smallOffset2{margin-left:16.66666%;} .row .smallOffset1{margin-left:8.33333%;} .row .smallOffsetRight11{margin-right:91.66666%;} .row .smallOffsetRight10{margin-right:83.33333%;} .row .smallOffsetRight9{margin-right:75%;} .row .smallOffsetRight8{margin-right:66.66666%;} .row .smallOffsetRight7{margin-right:58.33333%;} .row .smallOffsetRight6{margin-right:50%;} .row .smallOffsetRight5{margin-right:41.66666%;} .row .smallOffsetRight4{margin-right:33.33333%;} .row .smallOffsetRight3{margin-right:25%;} .row .smallOffsetRight2{margin-right:16.66666%;} .row .smallOffsetRight1{margin-right:8.33333%;} .webplateInner{position:relative;width:100%;left:0;} .navigation{display:none;} .navigationSmall{display:block;width:260px;height:100%;top:0px;left:0px;background-color:#1f1f1f;z-index:0;}.navigationSmall .navigationInner{height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;}.navigationSmall .navigationInner a{display:block;padding:10px 20px;font-size:1.1em;color:#b0b0b0;-webkit-transition:color 0.2s ease-out;-moz-transition:color 0.2s ease-out;-o-transition:color 0.2s ease-out;-ms-transition:color 0.2s ease-out;transition:color 0.2s ease-out;-webkit-transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;transform:translate3d(0, 0, 0);} .navigationSmall .navigationInner a:hover{color:#fff;}}
fieldset{display:block;margin:0px;padding:0px;border:none;-webkit-margin:0;-webkit-padding:0;}
input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="email"],input[type="number"],input[type="search"],input[type="tel"],input[type="time"],input[type="url"],input[type="radio"],input[type="checkbox"],textarea,select{border:2px solid #e6e6e6;letter-spacing:normal;word-spacing:normal;text-transform:none;background-color:#fff;-webkit-appearance:none;-webkit-user-select:text;-webkit-font-smoothing:antialiased;-webkit-transition:border-color 0.2s ease-out;-moz-transition:border-color 0.2s ease-out;-o-transition:border-color 0.2s ease-out;-ms-transition:border-color 0.2s ease-out;transition:border-color 0.2s ease-out;-webkit-transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;transform:translate3d(0, 0, 0);border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
input[type="radio"],input[type="checkbox"]{display:inline-block !important;margin-right:5px;font-size:16px;width:18px;height:18px;line-height:12px;text-align:center;text-indent:-1px;border:2px solid #e6e6e6;-webkit-appearance:none;border-radius:12px;-o-border-radius:12px;-ms-border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;}
.dropDown{padding:4px 4px;border:2px solid #e6e6e6;overflow:hidden;border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;background-image:url('../images/global/drop_down_arrows.png');background-repeat:no-repeat;background-position:right center;}.dropDown .text{position:absolute;}
.dropDown select{opacity:0;padding-left:2px;padding-right:30px;border:none;background:transparent;-moz-appearance:window;}
input[type="checkbox"]{border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;}
input[type="text"]:focus,input[type="password"]:focus,input[type="date"]:focus,input[type="datetime"]:focus,input[type="email"]:focus,input[type="number"]:focus,input[type="search"]:focus,input[type="tel"]:focus,input[type="time"]:focus,input[type="url"]:focus,input[type="radio"]:checked,input[type="checkbox"]:checked,textarea:focus{outline:none;border-color:#676767;-webkit-transition:border-color 0.2s ease-out;-moz-transition:border-color 0.2s ease-out;-o-transition:border-color 0.2s ease-out;-ms-transition:border-color 0.2s ease-out;transition:border-color 0.2s ease-out;-webkit-transform:translate3d(0, 0, 0);-webkit-backface-visibility:hidden;transform:translate3d(0, 0, 0);}
input[type="radio"]:checked,input[type="checkbox"]:checked{color:#676767;}
input[type="radio"]:checked:after{color:#676767;}
input[type="radio"]:checked:after,input[type="checkbox"]:checked:after{font-family:'icomoon';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-webkit-writing-mode:horizontal-tb;text-shadow:none;content:"\e03b";}
input[type="checkbox"]:checked:after{content:"\e03d";}
@media screen and (min-width:700px){}@media screen and (max-width:1100px){}@media only screen and (max-width:700px),only screen and (max-device-width:700px),only screen and (-webkit-min-device-pixel-ratio:2){.dropDown{display:block;width:100%;}.dropDown select{width:100%;}}
