$sass-limit-width: 75em;
$sass-menu-width: 16.250em;
$sass-menu-colour: #fff;
$sass-images-root: "../img";
$sass-column-limit: 12;
$sass-spacing-limit: 10;
$sass-default-flex: 1;
$sass-break-main: 43.813em;
$sass-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
