/**
 * SASS File: 		_header.scss
 * Type: 			organism
 * Author:        	Chris Humboldt
 * Last Edited:   	15 October 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Header
// Header full
// States


// Header
// ---------------------------------------------------------------------------------------
header.stripe {
	display: block;

	.contain {
		position: relative;
		z-index: 1;
	}
	
	// Background image
	.bg-image {
		@include position(absolute, top 0 left 0);
		@include size(100%, 100%);
		@include background-image-cover("background.jpg");
		@include level(0);
	}

	// Header text
	.text {
		display: table;
		position: absolute;
		width: 100%;

		.inner {
			display: table-cell;
   			vertical-align: middle;
		}

		h1, h2, h3 {
			color: $white;
		}
		h4, h5, h6, p, b, span, i, strong {
			color: fade-out($white, 0.4);
		}
		h6 {
			line-height: 1.5em;
		}
	}
	.text-center {
		@extend .text;

		.inner {
			text-align: center;

			@include respond-to(large) {
				padding: 0px 10%;
			}
			@include respond-to($bp-large) {
				padding: 0px 16%;
			}
		}
	}
	.text-center-tight {
		@extend .text-center;

		.inner {
			@include respond-to($bp-large) {
				padding: 0px 26%;
			}
		}
	}
	// Not full page
	&:not(.full) {
		.text {
			@include position(relative);
			@include padding-vertical($space-medium);

			// Respond
			@include respond-to(large) {
				@include padding-vertical($space-x2-large);
			}
		}
	}

	// Scroll down
	.scroll-down {
		position: absolute;
		left: 50%;
		margin-left: -($scroll-down-dimensions / 2);
		@include margin-top(100vh);
		color: $white;
		font-size: 1.25em;
		@include text-squared($scroll-down-dimensions);
		@include border-radius(50%);
		border: 1px solid $white;
		z-index: 1;
		@include animate(all, 0.3s);
	}
}


// Header full
// ---------------------------------------------------------------------------------------
header.stripe.full {
	height: 100vh;

	// Header text
	.text {
		height: 100vh;
	}
}


// States
// ---------------------------------------------------------------------------------------
.no-touch header.stripe .scroll-down:hover {
	color: $hover-colour;
	text-decoration: none;
	border: 1px solid $hover-colour;
}


