/**
 * SASS File: 		_global.scss
 * Type: 			atom
 * Author:        	Chris Humboldt
 * Last Edited:   	10 June 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Global


// Global
// ---------------------------------------------------------------------------------------
html {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-style: normal;
}