/**
 * SASS File: 		_layout.scss
 * Type: 			atom
 * Author:        	Chris Humboldt
 * Last Edited:   	1 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Columns
// Stripes
// App layout


// Variables
// ---------------------------------------------------------------------------------------
$limit  					: $limit-width + ($space-large-em * 2);


// Columns
// ---------------------------------------------------------------------------------------
[class *= "col-"] { 
	@include row();

	> .left,
	> .middle,
	> .right,
	> .full {
		@include span(12);
	}
}
// Double
.col-double {

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(6);
			padding-right: $space-small;
		}
		> .middle {
			padding-left: $space-x-small;
			padding-right: $space-x-small;
		}
		> .right {
			@include new-span(6);
			padding-left: $space-small;
		}
	}
	// Respond large
	@include respond-to($bp-large) {
		> .left {
			padding-right: $space-base;
		}
		> .middle {
			padding-left: $space-small;
			padding-right: $space-small;
		}
		> .right {
			padding-left: $space-base;
		}
	}
}
// Triple
.col-triple { 
	@extend .col-double;

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(4);
		}
		> .middle {
			@include new-span(4);
		}
		> .right {
			@include new-span(4);
		}
	}
}
// Left bar
.col-left-bar {
	@extend .col-double;

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(4);
		}
		> .right {
			@include new-span(8);
		}
	}
}
// Right bar
.col-right-bar {
	@extend .col-double;

	// Respond medium
	@include respond-to($bp-medium) {
		> .left {
			@include new-span(8);
		}
		> .right {
			@include new-span(4);
		}
	}
}


// Stripes
// ---------------------------------------------------------------------------------------
.stripe {
	position: relative;
	@include row();
	padding: $space-medium $space-small;
	background-color: $white;

	// Contain
	.contain {
		@include respond-to($limit) {
			@include center();
			width: $limit-width;
		}
	}

	// Grey
	&:nth-child(even) {
		background-color: $stripe-off-colour;
	}

	// Respond
	@include respond-to($bp-small) {
		padding: $space-large $space-medium;
	}
	@include respond-to($bp-large) {
		padding: $space-x-large $space-large;
	}
}
// Header stripe
header.stripe {
	padding: 0px $space-base;

	// Respond
	@include respond-to($bp-small) {
		padding: 0px $space-medium;
	}
	@include respond-to($bp-large) {
		padding: 0px $space-large;
	}
}
// Invert
.invert .stripe {

	// White
	&:nth-child(even) {
		background-color: $white;
	}
	// Grey
	&:nth-child(odd) {
		background-color: $stripe-off-colour;
	}	
}
// Dark
.stripe.dark, 
.invert .stripe.dark, {
	background-color: $river-bed;

	&:nth-child(even), &:nth-child(odd) {
		background-color: $river-bed;
	}

	// Text
	h1, h2, h3, h4, b {
		color: lighten($river-bed, 42%);
	}
	h5, h6, p, div {
		color: lighten($river-bed, 22%);
	}
}
// Red
.stripe.red, 
.invert .stripe.red, {
	background-color: $red;

	&:nth-child(even), &:nth-child(odd) {
		background-color: $red;
	}

	// Text
	h1, h2, h3, h4, b {
		color: lighten($red, 42%);
	}
	h5, h6, p, div {
		color: lighten($red, 26%);
	}
}



// App layout
// ---------------------------------------------------------------------------------------
.stripe-app {

	// Controls
	.app-controls {
		position: fixed;
		width: $menu-width;
		height: 100%;
		top: 0;
		left: 0;
		background-color: $river-bed;
	}
}


