/**
 * SASS File: 		_table.scss
 * Type: 			atom
 * Author:        	Chris Humboldt
 * Last Edited:   	15 July 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Basic table
// First blue


// Basic table
// ---------------------------------------------------------------------------------------
table {
	width: 100%;

	th, td {
		padding: $space-small $space-x-small;
		min-width: 175px;
		text-align: left;
	}
	thead {
		tr {
			background-color: $white;
		}
	}
	tbody {
		tr {
			background-color: $white;

			&:nth-child(odd) {
				background-color: $stripe-off-colour;
			}

			td a {
				color: $red;

				&:hover {
					color: darken($red, 10%);
					text-decoration: underline;
				}
			}
		}
	}

	// Respond
	@include respond-to(small) {
		th, td {
			display: block;
			width: 100%;
			padding-top: 0px;
			font-size: 0.875em;

			&:first-child {
				padding-top: $space-small;
			}
		}
		thead {
			@include hide();
		}
	}
}


// First blue
// ---------------------------------------------------------------------------------------
table.first-blue {
	tbody tr td:first-child {
		width: 185px;
		color: $bondi-blue;
		font-family: $code-font;
		font-size: 0.813em;
		
		span {
			color: $orange;
		}
	}
}


