/**
 * File: _setup.scss
 * Type: SASS module
 * Author: Chris Humboldt
 */

@mixin fp-setup() {
	@font-face {
		font-family: 'flickerplate';
		src:url('#{$font-face-flickerplate}/icomoon.eot?c4hmew');
		src:url('#{$font-face-flickerplate}/icomoon.eot?#iefixc4hmew') format('embedded-opentype'),
			url('#{$font-face-flickerplate}/icomoon.woff?c4hmew') format('woff'),
			url('#{$font-face-flickerplate}/icomoon.ttf?c4hmew') format('truetype'),
			url('#{$font-face-flickerplate}/icomoon.svg?c4hmew#icomoon') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}
