/**
 * SASS File: 		_style.scss
 * Type: 			loader
 * Author:        	Chris Humboldt
 * Last Edited:   	15 September 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Setup
// Imports


// Setup
// ---------------------------------------------------------------------------------------
$font-face-buttonplate				: "../../../core/css/icon-font-buttonplate";


// Imports
// ---------------------------------------------------------------------------------------
@import "../../../core/sass/web-import";
@import "sass/variables";

// Basic
@import "sass/basic/layout";
@import "sass/basic/text";

// Component
@import "sass/component/button";
@import "sass/component/header";
@import "sass/component/line";
@import "sass/component/navigation";
@import "sass/component/title-bar";


