/**
 * SASS File: 		_button-colour.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	22 March 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Colour
// Gradient


// Variables
// ---------------------------------------------------------------------------------------
$images-root					: "../img" !default;


// Colour
// ---------------------------------------------------------------------------------------
@mixin btn-set-colour($colour, $saturate: 26%, $lighten: 5%) {
	color: $white;
	background-color: $colour;
		
	&:hover {
		background-color: lighten(saturate($colour, $saturate), $lighten);
	}
	&.button-drop-down-open:hover {
		background-color: $colour;
	}
	&:active:not(.button-drop-down-open) {
		@include btn-active($colour);
	}
	&.button-drop-down {
		
		li a:hover {
			background-color: $colour;
		}
		.arrow {
			background-image: url('#{$images-root}/buttonplate/arrow-white.png');
		
			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			    only screen and (-o-min-device-pixel-ratio: 3/2),
			    only screen and (min--moz-device-pixel-ratio: 1.5),
			    only screen and (min-device-pixel-ratio: 1.5) {
					background-image: url('#{$images-root}/buttonplate/arrow-white-2x.png');
			}
		}
	}
}
@mixin btn-colour-grey() {
	color: lighten(#000, 40%);
	background-color: $grey-link;
		
	&:hover {
		background-color: $grey-link-hover;
	}
	&.button-drop-down-open:hover {
		background-color: $grey-link;
	}
	&:active:not(.button-drop-down-open) {
		background-color: $grey-link;
	}
	&:visited {
		color: lighten(#000, 40%);
	}
	&.button-drop-down li a:hover {
		background-color: $blue;
	}
}
@mixin btn-colour-black() {
	color: $white;
	background-color: $base-black;
		
	&:hover {
		background-color: lighten(#000, 35%);
	}
	&.button-drop-down-open:hover {
		background-color: $base-black;
	}
	&:visited {
		color: $white;
	}
	&:active:not(.button-drop-down-open) {
		color: #000;
		text-shadow: fade-out($white, 0.75) 0px 1px 0;
		background-color: lighten(#000, 25%);
	}
	&.button-drop-down {
		li a:hover {
			background-color: $base-black;
		}
		.arrow {
			background-image: url('#{$images-root}/buttonplate/arrow-white.png');
		
			@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
			    only screen and (-o-min-device-pixel-ratio: 3/2),
			    only screen and (min--moz-device-pixel-ratio: 1.5),
			    only screen and (min-device-pixel-ratio: 1.5) {
					background-image: url('#{$images-root}/buttonplate/arrow-white-2x.png');
			}
		}
	}
}
@mixin btn-colour-blue() {
	@include btn-set-colour($blue);
}
@mixin btn-colour-blue-dark() {
	@include btn-set-colour($blue-dark, 30%);
}
@mixin btn-colour-green() {
	@include btn-set-colour($green, 10%);
}
@mixin btn-colour-yellow() {
	@include btn-set-colour($yellow);
}
@mixin btn-colour-orange() {
	@include btn-set-colour($orange);
}
@mixin btn-colour-red() {
	@include btn-set-colour($red);
}
@mixin btn-colour-aqua() {
	@include btn-set-colour($aqua, 2%, 6%);
}
@mixin btn-colour-purple() {
	@include btn-set-colour($purple, 30%);
}
@mixin btn-active($colour) {
	color: darken($colour, 18%);
	background-color: $colour;
}


// Gradient
// ---------------------------------------------------------------------------------------
@mixin btn-set-gradient($colour) {
	$top-colour					: lighten($colour, 8%);
	$bottom-colour				: darken($colour, 10%);
	background: $top-colour;
	background: -webkit-gradient(linear, left top, left bottom, from($top-colour), to($bottom-colour));
	background: -webkit-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -moz-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -ms-linear-gradient(top, $top-colour, $bottom-colour); 
	background: -o-linear-gradient(top, $top-colour, $bottom-colour); 
	background: linear-gradient(top, $top-colour, $bottom-colour);
	border: 1px solid darken($colour, 14%);
	border-top: 1px solid darken($colour, 8%);
	border-bottom: 1px solid darken($colour, 20%);
}
@mixin btn-gradient-grey() {
	@include btn-set-gradient($grey-link);
}
@mixin btn-gradient-black() {
	@include btn-set-gradient($base-black);
}
@mixin btn-gradient-blue() {
	@include btn-set-gradient($blue);
}
@mixin btn-gradient-blue-dark() {
	@include btn-set-gradient($blue-dark);
}
@mixin btn-gradient-green() {
	@include btn-set-gradient($green);
}
@mixin btn-gradient-yellow() {
	@include btn-set-gradient($yellow);
}
@mixin btn-gradient-orange() {
	@include btn-set-gradient($orange);
}
@mixin btn-gradient-red() {
	@include btn-set-gradient($red);
}
@mixin btn-gradient-aqua() {
	@include btn-set-gradient($aqua);
}
@mixin btn-gradient-purple() {
	@include btn-set-gradient($purple);
}