/**
 * SASS File: 		_image-hover.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	3 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Image hover


// Image hover
// ---------------------------------------------------------------------------------------
.image-hover {
	display: inline-block;

	.text {
		position: absolute;
		display: table;
		width: 100%;
		height: 100%;
		padding: $space-small;
		text-align: center;
		background-color: fade-out($red, 0.25);
		@include opacity(0);
		@include animate(opacity);
		
		p {
			display: table-cell;
			width: 100%;
			@include spacing-no();
			font-size: 0.875em;
			color: $white;
			vertical-align: middle;

			span.title {
				display: block;
				margin-top: -48px;
				font-size: 1.375em;
				@include animate(margin-top);
			}
		}
	}
}
// States
.no-touch .image-hover:hover {
	.text {
		@include opacity(1);

		p span.title {
			margin-top: 0px;
		}
	}
}


