/**
 * SASS File: 		_login-block.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	3 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Login block


// Login block
// ---------------------------------------------------------------------------------------
.login-block {
	@include row();
	@include center();
	width: 100%;
	max-width: 400px;
	background-color: $grey-x-light;
	@include border-radius();
	@include drop-shadow(fade-out($black, 0.8), 8px, 2px);

	.content {
		padding: $space-slight;
	}
	h4 {
		text-align: center;
		color: $black-base;
	}
	p {
		color: $grey-medium;
	}
	input {
		@include border-radius(0px);

		&[type="password"] {
			margin-bottom: $space-small;
		}

		// Respond
		@include respond-to(large) {
			font-size: 1em;
		}
	}

	// Options
	.options {
		@include row();

		a, button {
			@include button-size-large();
			@include spacing-no();
			@include border-radius(0px);
			font-size: 0.875em;

			&.btn-cancel {
				@include border-radius-bottom();
			}

			// Respond
			@include respond-to(large) {
				@include button-size-x-large();
				@include spacing-no();
				@include span(6);
				font-size: 0.913em;

				&.btn-cancel {
					@include border-radius-bottom-right();
				}
				&.btn-ok {
					@include border-radius-bottom-left();
				}
			}
		}
	}
}


