/**
 * SASS File: 		_navigation.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	15 October 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Navigation trigger
// Header navigation


// Navigation trigger
// ---------------------------------------------------------------------------------------
.webplate a.navigation-trigger {
	position: fixed;
	padding: $space-small - 3px;
	top: $space-medium;
	left: $space-minor;
	color: $white;
	font-size: 1.5em;
	text-align: center;
	@include animate(all);
	@include border-radius();
	z-index: 10;

	// States
	&:visited {
		color: $white;
	}
	&:hover {
		text-decoration: none;
	}

	// Scroll position
	&.scroll-position {
		top: $space-small;
		left: $space-small;
		color: $black-base;
		background-color: $white;
	}
}
.no-touch a.navigation-trigger:hover {
	color: fade-out($white, $link-fade-out);
}
.no-touch a.navigation-trigger.scroll-position:hover {
	color: $aqua;
}
.touch a.navigation-trigger {
	&:hover {
		color: $white;
	}
}


// Navigation
// ---------------------------------------------------------------------------------------
// Basic
nav {
	position: relative;
	@include row();
	@include padding-horizontal($space-slight);
	padding-top: $space-medium + 2px;
	z-index: 2;

	@include respond-to(large) {
		padding-top: $space-medium;
	}

	// Links
	a {
		@include animate(color);
	}

	// Logo
	.logo-container {
		text-align: center;

		.logo-line {
			padding: 14px 24px;
			color: $white;
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			font-weight: 300;
			font-size: 1.5em;
			border: 1px solid $white;
		}
		a {
			@include animate(all);
		}

		// Respond
		@include respond-to(large) {
			float: left;

			.logo-line {
				padding: 12px 22px;
				font-size: 1.125em;
			}
		}
	}

	// Navigation
	ul.navigation {
		float: right;
		padding-top: $space-x-small;
		list-style: none;

		> li {
			float: left;
			padding-left: $space-medium;

			> a {
				color: $white;
				font-size: 0.813em;

				span {
					font-size: 1.125em;
					margin-left: $space-small;
				}
			}

			// Sub menu
			> ul {
				@include hide();
				position: absolute;
				margin-left: -12px;
				background-color: $white;
				@include border-radius();

				// Arrow
				&:after {
					bottom: 100%;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-bottom-color: $white;
					border-width: 8px;
					margin-left: -8px;
				}

				a {
					display: block;
					padding: $space-small $space-minor;
					font-size: 0.815em;
					color: $black-base;
					border-top: 1px solid $grey-light;
				}

				li:first-child a {
					border-top: 0px;
					@include border-radius-top();
				}

				li:last-child a {
					@include border-radius-bottom();
				}
			}
		}
	}

	// Absolute positioning
	&.absolute {
		position: absolute;

		@include respond-to(large) {
			padding-top: $space-large;
		}
	}

	// Contain
	.contain {
		@include respond-to($limit) {
			@include center();
			width: $limit-width;
		}
	}

	// States
	.no-touch & {
		.logo-container a:hover,
		ul.navigation > li > a:hover {
			color: $hover-colour;
			text-decoration: none;
		}
		.logo-container .logo-line:hover {
			color: $hover-colour;
			text-decoration: none;
			border: 1px solid $hover-colour;
		}
		ul.navigation > li > ul a:hover {
			color: $red-dark;
			text-decoration: none;
			background-color: $grey-x-light;
		}
	}
}


