/**
 * SASS File: 		_showcase.scss
 * Type: 			molecule
 * Author:        	Chris Humboldt
 * Last Edited:   	3 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Showcase list
// Showcase


// Showcase list
// ---------------------------------------------------------------------------------------
.showcase-list {
	@include row();

	// Headings
	h1, h2, h3, h4, h5, h6 {
		padding-left: 2px;

		// Respond
		@include respond-to($bp-small) {
			padding-left: $space-x-small;
		}
	}

	.showcase {
		@include span(6);

		// Respond
		@include respond-to($bp-medium) {
			@include new-span(4);
		}
		@include respond-to($bp-large) {
			@include new-span(3);
		}
	}
}


// Showcase
// ---------------------------------------------------------------------------------------
.showcase {
	display: inline-block;
	width: 100%;
	padding: 2px;

	// Respond
	@include respond-to($bp-small) {
		padding: $space-x-small;
	}

	.image {
		display: block;
		position: relative;
		background-color: $grey-x-light;
		overflow: hidden;

		&:before {
			content: "";
			padding-top: 100%;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background-color: fade-out($showcase-hover-colour, 0.982);
			z-index: 1;
			@include animate(all);
		}
	}
	.caption {
		position: absolute;
		height: 46%;
		width: 100%;
		top: auto;
		left: 0;
		bottom: 0;
		padding: $space-small;
		text-align: left;
		@include gradient-vertical(fade-out($showcase-hover-colour, 1), fade-out($showcase-hover-colour, 0.6));
		z-index: 1;
		@include ios-render();

		// Respond
		@include respond-to($bp-small) {
			padding: $space-base;
		}

		h6, p {
			@include spacing-no();
			color: $white;
			@include transform-translate-3d(0px, 10px, 0px);

			// Respond
			@include respond-to($bp-small) {
				@include transform-translate-3d(0px, 20px, 0px);
			}
			@include respond-to($bp-x-large) {
				@include transform-translate-3d(0px, 50px, 0px);
			}
		}
		h6 {
			margin-bottom: $space-x-small;
			@include animate(all);
		}
		p {
			color: fade-out($white, 0.25);
			font-size: 0.75em;
			line-height: 1.375em;
			@include opacity(0);
			@include animate(all);

			// Respond
			@include respond-to($bp-x-large) {
				font-size: 0.875em;
			}
		}
	}
	.text {
		padding: $space-small;

		p {
			font-size: 0.75em;

			&:last-child {
				margin-bottom: 0px;
			}
		}

		// Respond
		@include respond-to($bp-large) {
			padding: $space-minor $space-small;

			p {
				font-size: 0.875em;
			}
		}
	}

	// Wide
	&.wide {
		.caption {
			height: 35%;
		}
	}
}
.dark .showcase .caption {
	h6, h6 b, p {
		color: $white;
	}
	p {
		color: fade-out($white, 0.25);
	}
}
// Invert on certain stripes
.stripe:nth-child(even) .showcase .image:before {
	background-color: transparent;
}
.stripe:nth-child(odd) .showcase .image:before {
	background-color: fade-out($showcase-hover-colour, 0.982);
}
.invert .stripe:nth-child(even) .showcase .image:before {
	background-color: fade-out($showcase-hover-colour, 0.982);
}
.invert .stripe:nth-child(odd) .showcase .image:before {
	background-color: transparent;
}
// States
.no-touch {
	.showcase .image,
	.stripe:nth-child(even) .showcase .image,
	.stripe:nth-child(odd) .showcase .image,
	.invert .stripe:nth-child(even) .showcase .image,
	.invert .stripe:nth-child(odd) .showcase .image {
		&:hover {
			&:before {
				background-color: fade-out($black, 0.6);
			}
			h6, p {
				@include transform-translate-3d(0px, 0px, 0px);
			}
			p {
				@include opacity(1);
			}
		}
	}
}


