/**
 * SASS File: 		settings.scss
 * Author:        	Chris Humboldt
 * Last Edited:   	26 January 2014
 */

// These variables effect the global setup of your site.  It is written using SASS and
// requires compiling the "webplate/core/sass/web-imports.scss" file in order to take
// effect. You can run "grunt sass" in the "webplate/core/grunt" directory.
 

// Global Setup
// ---------------------------------------------------------------------------------------
$limit-width						: 68.750em;
$menu-width							: 16.250em;
$small-nav-back						: lighten(#000, 18%);
$images-root						: '../img';
$column-limit						: 12;
$spacing-limit						: 10;	