/**
 * SASS File: 		settings.scss
 * Author:        	Chris Humboldt
 * Last Edited:   	2 January 2014
 */

// These variables effect the global setup of your site.  It is written using SASS and
// requires compiling the webplate/core/sass/web-imports.scss file in order to take
// effect.  Use something like Codekit (for Mac) or Prepros (for Windows) to do this.
//
// Compile the web-imports.scss into the webplate/core/css/webplate.css as that is the
// base CSS that the stack.js file loads.
//
// Codekit URL: http://incident57.com/codekit/
// Prepros URL: http://alphapixels.com/prepros/
 

// Global Setup
// ---------------------------------------------------------------------------------------
$max_width							: 1100px;
$menu_width							: 260px;
$small_nav_back_colour				: lighten(#000, 12%);
$images_root						: '../images';
$column_limit						: 12;
$spacing_limit						: 10;