<div class="download-stripe">

	<h3>Download Stripe</h3>
	<h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis mauris mi. Quisque sodales vel orci eu consequat. Morbi lacinia, ligula sit amet commodo interdum, ligula tortor rhoncus elit, quis.</h6>

	<div class="left">
		<a href="#" class="btn-download"><span class="icon-cloud-download2"></span>Download Link</a>
	</div>

	<div class="right">
		<a href="#" class="btn-link"><span class="icon-github-alt"></span>Get via Github</a>
	</div>

</div>