<div class="pricing-table">

	<div class="price-block">

		<div class="top">

			<p class="title">THE FREEBIE</p>
			<p class="price"><span class="currency">$</span>0 <span class="per-month">/ mo</span></p>
			<p class="sub">conditions apply</p>

		</div>
		<div class="bottom">

			<div class="line"><span class="icon-check"></span>1 User Account</div>
			<div class="line"><span class="icon-check"></span>500 MB Data</div>
			<div class="line"><span class="icon-check"></span>Free for life</div>

		</div>
		<a href="#" class="btn-signup">SIGN UP</a>

	</div>

	<div class="price-block">

		<div class="top">

			<p class="title">BASIC PLAN</p>
			<p class="price"><span class="currency">$</span>9 <span class="per-month">/ mo</span></p>
			<p class="sub">daily support</p>

		</div>
		<div class="bottom">

			<div class="line"><span class="icon-check"></span>10 User Accounts</div>
			<div class="line"><span class="icon-check"></span>2 GB Data</div>
			<div class="line"><span class="icon-check"></span>30 days free</div>

		</div>
		<a href="#" class="btn-signup">SIGN UP</a>

	</div>

	<div class="price-block">

		<div class="top">

			<p class="title">BUSINESS PLAN</p>
			<p class="price"><span class="currency">$</span>49 <span class="per-month">/ mo</span></p>
			<p class="sub">daily support</p>

		</div>
		<div class="bottom">

			<div class="line"><span class="icon-check"></span>40 User Accounts</div>
			<div class="line"><span class="icon-check"></span>40 GB Data</div>
			<div class="line"><span class="icon-check"></span>30 days free</div>

		</div>
		<a href="#" class="btn-signup">SIGN UP</a>

	</div>

	<div class="price-block">

		<div class="top">

			<p class="title">ENTERPRISE PLAN</p>
			<p class="price"><span class="currency">$</span>149 <span class="per-month">/ mo</span></p>
			<p class="sub">24 hr support</p>

		</div>
		<div class="bottom">

			<div class="line"><span class="icon-check"></span><b>UNLIMITED</b> Users</div>
			<div class="line"><span class="icon-check"></span>150 GB Data</div>
			<div class="line"><span class="icon-check"></span>60 days free</div>

		</div>
		<a href="#" class="btn-signup">SIGN UP</a>

	</div>

</div>