/**
 * File: _size.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */

// Variables
$btn-size-s: 30px;
$btn-size-n: 44px;
$btn-size-l: 54px;
$btn-size-xl: 68px;
$btn-padding-s: 14px;
$btn-padding-n: 24px;
$btn-padding-l: 32px;
$btn-padding-xl: 38px;
$btn-text-s: 12px;
$btn-text-n: 14px;
$btn-text-l: 16px;
$btn-text-xl: 18px;
$drp-height: 34px;
$drp-height-xl: 40px;

// Button size
@mixin button-size-custom($height: $btn-size-n, $padding: $btn-padding-n, $font-size: $btn-text-n) {
	@include padding-horizontal($padding);
	@include padding-vertical(0px);
	@include height($height);
	@include text-line-height($height);
	@include text-size($font-size);
}
@mixin button-size($size) {
	@if $size == small {
		@include button-size-custom($btn-size-s, $btn-padding-s, $btn-text-s);
		@include drop-down-position($btn-padding-s, $drp-height, 11px);
	}
	@else if $size == large {
		@include button-size-custom($btn-size-l, $btn-padding-l, $btn-text-l);
		@include drop-down-position($btn-padding-l, $drp-height, 15px);
	}
	@else if $size == x-large {
		@include button-size-custom($btn-size-xl, $btn-padding-xl, $btn-text-xl);
		@include drop-down-position($btn-padding-xl, $drp-height-xl, 15px);
	}
	@else {
		@include button-size-custom();
		@include drop-down-position($btn-padding-n, $drp-height, 13px);
	}
}
