/**
 * SASS File: 		_alignment.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	8 May 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Global


// Global
// ---------------------------------------------------------------------------------------
@mixin center() {
	margin: 0px auto;
}
@mixin vertical-align() {
	// As per: Sebastian Ekström
	// URL: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
	position: relative;
 	top: 50%;
	@include transform-translate-y(-50%);
}