/**
 * SASS File: 		_alignment.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	6 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Centering
// Position


// Centering
// ---------------------------------------------------------------------------------------
@mixin center() {
	margin: 0px auto;
}
@mixin center-vertical() {
	// As per: Sebastian Ekström
	// URL: http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/
	position: relative;
 	top: 50%;
	@include transform-translate-y(-50%);
}


// Position
// ---------------------------------------------------------------------------------------
@mixin position($position: relative, $arguments: false) {
	position: $position;

	// Arguments
	@include position-arguments($arguments);
}
@mixin position-absolute($arguments: false) {
	@include position(absolute, $arguments);
}
@mixin position-fixed($arguments: false) {
	@include position(fixed, $arguments);
}
@mixin position-relative($arguments: false) {
	@include position(relative, $arguments);
}
@mixin position-static($arguments: false) {
	@include position(static, $arguments);
}
@mixin position-inherit($arguments: false) {
	@include position(inherit, $arguments);
}


