/**
 * SASS File: 		_gradient.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	6 August 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Gradients


// Gradients
// ---------------------------------------------------------------------------------------
@mixin gradient-horizontal($left-colour, $right-colour) {
	background: $left-colour; /* Fallback solid color for old browsers */
    background: linear-gradient(to right, $left-colour 0%, $right-colour 100%); /* W3C */
    background: -moz-linear-gradient(left,  $left-colour 0%, $right-colour 100%); /* FF 3.6+ */
    background: -ms-linear-gradient(left, $left-colour 0%, $right-colour 100%); /* IE 10+ */
    background: -o-linear-gradient(left, $left-colour 0%, $right-colour 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(left,  $left-colour 0%, $right-colour 100%); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,$left-colour), color-stop(100%,$right-colour)); /* Chrome, Safari 4+ */

}
@mixin gradient-vertical($top-colour, $bottom-colour) {
	background: $top-colour; /* Fallback solid color for old browsers */
    background: linear-gradient(to bottom, $top-colour 0%, $bottom-colour 100%); /* W3C */
    background: -moz-linear-gradient(top, $top-colour 0%, $bottom-colour 100%); /* FF 3.6+ */
    background: -ms-linear-gradient(top, $top-colour 0%, $bottom-colour 100%); /* IE 10+ */
    background: -o-linear-gradient(top, $top-colour 0%, $bottom-colour 100%); /* Opera 11.10+ */
    background: -webkit-linear-gradient(top, $top-colour 0%, $bottom-colour 100%); /* Chrome 10+, Safari 5.1+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top-colour), color-stop(100%,$bottom-colour)); /* Chrome, Safari 4+ */
}


