/**
 * SASS File: 		_spacing.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	27 May 2013
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Variables
// Spacing


// Variables
// ---------------------------------------------------------------------------------------
$space-base 							: 24px !default;
$space-x-small							: $space-base / 4;
$space-small 							: $space-base / 2;
$space-minor 							: $space-base / 1.5;
$space-slight 							: $space-base * 1.5;
$space-medium 							: $space-base * 2;
$space-large 							: $space-base * 3;
$space-x-large 							: $space-base * 5;
$space-xx-large 						: $space-base * 6;

$space-base-em 							: 1.250em !default;
$space-x-small-em						: $space-base-em / 4;
$space-small-em 						: $space-base-em / 2;
$space-minor-em							: $space-base-em / 1.5;
$space-slight-em 						: $space-base-em * 1.5;
$space-medium-em 						: $space-base-em * 2;
$space-large-em 						: $space-base-em * 3;
$space-x-large-em 						: $space-base-em * 5;
$space-xx-large-em 						: $space-base-em * 6;


// Global
// ---------------------------------------------------------------------------------------
@mixin no-spacing() {
	padding: 0px;
	margin: 0px;
}
@mixin spacing-no() {
	padding: 0px;
	margin: 0px;
}