/**
 * SASS File: 		style.scss
 * Type: 			loader
 * Author:        	Chris Humboldt
 * Last Edited:   	10 June 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Imports
// Atoms
// Molecules
// Organisms
// Custom CSS


// Imports
// ---------------------------------------------------------------------------------------
@import "../../../core/sass/web-import";
@import "sass/variables";


// Atoms
// ---------------------------------------------------------------------------------------
@import "sass/atom/button";
@import "sass/atom/code";
@import "sass/atom/form";
@import "sass/atom/global";
@import "sass/atom/layout";
@import "sass/atom/list";
@import "sass/atom/text";


// Molecules
// ---------------------------------------------------------------------------------------
@import "sass/molecule/download-stripe";
@import "sass/molecule/navigation";


// Organisms
// ---------------------------------------------------------------------------------------
@import "sass/organism/header";


// Custom CSS
// ---------------------------------------------------------------------------------------
.btn-examples {
	margin-top: $space-base;

	button {
		margin-right: $space-minor;
		margin-bottom: $space-minor;
	}
}
#lists .full {
	margin-top: $space-base;
}
#buttons,
#inputs,
#lists,
#text {
	padding-top: $space-medium;
}


