/**
 * File: sass/_select.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */

// Table of contents
// Select
// Select colour states
// Fixes

// Select
@mixin form-select() {
	.fp-sel {
		@include display(inline-block);
		@include position(relative);
		@include width(auto);
		@include text-font('formplate');
		@include background-colour($white);
		@include overflow(hidden);
		@include level(1);
		@include animate(all);
		// Icon
		&:before {
			@include position(absolute, right ($space-x-small + 1px));
			@include height(44px);
			content: "\e601";
			font-size: 20px;
			@include text-line-height(45px);
			@include text-colour($grey-form);
			@include level(1);
			@include animate(color);
		}
		select {
			@include position(relative);
			@include height(44px);
			@include width(110%);
			@include margin(0px);
			@include padding-left($space-small);
			@include padding-right($space-medium);
			@include border-no();
			@include text-font($font-family);
			@include text-letter-spacing(normal);
			@include text-size(14px);
			text-transform: none;
			word-spacing: normal;
			word-wrap: normal;
			outline: none;
			-webkit-user-select: text;
			-webkit-font-smoothing: antialiased;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			@include background-colour(transparent);
			@include level(2);
			&::-ms-expand {
				@include hide();
			}
		}
		&:hover:before {
			@include text-colour($grey-dark);
		}
		// Styles
		&._s-line {
			@include border($grey-form);
			@include border-radius();
			&:hover {
				@include border($grey-dark);
			}
		}
		&._s-flat {
			@include background-colour($grey-x2-light);
			&:hover {
				@include background-colour($grey-x-light);
			}
		}
		&._s-raised {
			@include border-radius();
			@include drop-shadow(fade-out($black, 0.8), 4px, 1px);
			&:hover {
				@include drop-shadow(fade-out($black, 0.6), 4px, 1px);
			}
		}
	}
}

// Select colour states
@mixin form-select-hover() {
	@each $colour-name, $colour in $ar-colours-form {
		.fp-sel._c-#{$colour-name}:hover:before {
			@include text-colour($colour);
		}
		.fp-sel._s-line._c-#{$colour-name} {
			&:hover {
				@include border($colour);
			}
		}
		.fp-sel._s-flat._c-#{$colour-name} {
			&:hover {
				@include background-colour(fade-out($colour, 0.95));
			}
		}
		.fp-sel._s-raised._c-#{$colour-name} {
			&:hover {
				@include drop-shadow(fade-out($colour, 0.4), 4px, 1px);
			}
		}
	}
}

// Fixes
@mixin form-select-fixes() {
	@-moz-document url-prefix() {
		.fp-sel select {
			@include padding-top($space-small - 2px);
			@include padding-bottom($space-small - 4px);
		}
	}
	.no-cssanimations .fp-sel {
		&:after {
			@include hide();
			content: "";
		}
		select {
			@include width(100%);
			@include padding-top(7px);
			@include padding-right($space-small);
			@include padding-bottom(9px);
			@include padding-left($space-small);
		}
	}
}
