/**
 * File: sass/_textarea.scss
 * Type: SASS component
 * Author: Chris Humboldt
 */

// Table of contents
// Textarea
// Styles
// Textarea colour states

// Textarea
@mixin form-textarea($type: all) {
	.fp-text {
		textarea {
			@include size(100%, 114px);
			@include padding(12px);
			@include margin(0px);
			@include margin-bottom(1.5em);
			@include text-font($font-family);
			@include text-size(13px);
			@include background-colour($white);
			@include border-no();
			@include level(1);
			outline: none;
			-webkit-appearance: none;
			&:focus {
				@include level(2);
			}
			@include breakpoint(large) {
				@include text-size(14px);
			}
		}
	}
	@include form-textarea-styles($type);
	@include form-textarea-states($type);
}

// Styles
@mixin form-textarea-styles($type: all) {
	@if $type == line {
		.fp-text._s-line textarea {
			@include border($grey-form);
			@include border-radius(2px);
			&:focus {
				@include border($grey-dark);
			}
		}
	} @else if $type == flat {
		.fp-text._s-flat textarea {
			@include padding-vertical(14px);
			@include background-colour($grey-x2-light);
			&:focus {
				@include background-colour($grey-x-light);
			}
		}
	} @else if $type == raised {
		.fp-text._s-raised textarea {
			@include border-radius();
			@include drop-shadow(fade-out($black, 0.8), 4px, 1px);
			&:focus {
				@include drop-shadow(fade-out($black, 0.6), 4px, 1px);
			}
		}
	} @else {
		.fp-text._s-line textarea {
			@include border($grey-form);
			@include border-radius(2px);
			&:focus {
				@include border($grey-dark);
			}
		}
		.fp-text._s-flat textarea {
			@include padding-vertical(14px);
			@include background-colour($grey-x2-light);
			&:focus {
				@include background-colour($grey-x-light);
			}
		}
		.fp-text._s-raised textarea {
			@include border-radius();
			@include drop-shadow(fade-out($black, 0.8), 4px, 1px);
			&:focus {
				@include drop-shadow(fade-out($black, 0.6), 4px, 1px);
			}
		}
	}
}

// Textarea colour states
@mixin form-textarea-states($type: all) {
	@each $colour-name, $colour in $ar-colours-form {
		@if $type == line {
			.fp-text._s-line._c-#{$colour-name} textarea {
				&:active,
				&:focus {
					@include border($colour);
				}
			}
		} @else if $type == flat {
			.fp-text._s-flat._c-#{$colour-name} textarea {
				&:active,
				&:focus {
					@include background-colour(fade-out($colour, 0.95));
				}
			}
		} @else if $type == raised {
			.fp-text._s-raised._c-#{$colour-name} {
				textarea:focus {
					@include drop-shadow(fade-out($colour, 0.5), 4px, 1px);
				}
			}
		} @else {
			.fp-text._s-line._c-#{$colour-name} textarea {
				&:active,
				&:focus {
					@include border($colour);
				}
			}
			.fp-text._s-flat._c-#{$colour-name} textarea {
				&:active,
				&:focus {
					@include background-colour(fade-out($colour, 0.95));
				}
			}
			.fp-text._s-raised._c-#{$colour-name} {
				textarea:focus {
					@include drop-shadow(fade-out($colour, 0.5), 4px, 1px);
				}
			}
		}
	}
}
