/**
 * File: css/_execte.scss
 * Type: SASS execute
 * Author: Chris Humboldt
 */

// Naplate CSS
@mixin navplate-css {
   @include navplate-overlay();
	@include navplate-type-contextual();
   // @include navplate-type-fullscreen();
   @include navplate-type-slide();
}
