/**
 * SASS File: 		_modal.scss
 * Type: 			partial
 * Author:        	Chris Humboldt
 * Last Edited:   	16 July 2014
 */


// Table of contents
// ---------------------------------------------------------------------------------------
// Modal
// Reveal animations
// Show modal


// Modal
// ---------------------------------------------------------------------------------------
@mixin modal() {
	.modalplate {
		display: block;
		position: fixed;
		width: 100%;
		height: 100%;
		top: -120%;
		left: 0;
		margin-left: 0px;
		background-color: $white;
		overflow-y: scroll;
		z-index: 1001;
		@include animate(all, 0.4s);
		@include drop-shadow(fade-out($black, 0.7), 5px, 1px);

		// Respond
		@include respond-to(large) {
			max-width: 40.625em;
			height: auto;
			max-height: 100%;
			left: 50%;
			margin-left: -(40.625em / 2);
		}

		// Title bar
		.modalplate-title-bar {
			padding: $space-base $space-small;
			border-bottom: 1px solid $grey-light;

			// All headings
			h1, h2, h3, h4, h5, h6 {
				@include spacing-no();
			}

			.close {
				position: absolute;
				top: $space-base;
				right: $space-small;
			}

			// Respond
			@include respond-to(large) {
				padding: $space-base;

				.close {
					right: $space-base;
				}
			}
		}

		// Content
		.modalplate-content {
			padding: $space-small;

			// Respond
			@include respond-to(large) {
				padding: $space-base;
			}
		}
	}

	// Reveals
	@include modal-reveal-animations();

	// Modal reveal
	@include modal-reveal();
}


// Reveal animations
// ---------------------------------------------------------------------------------------
@mixin modal-reveal-animations() {
	// Appear
	.modalplate.appear,
	.modalplate.appear-scale {
		top: 0;
		visibility: hidden;
		@include opacity(0);
	}
	.modalplate.appear-scale {
		@include animate(all, 0.2s);
		@include transform-scale-3d(0.7, 0.7, 0.7);
	}
	// Sliding
	.modalplate.slide-from-bottom {
		top: 120%;
	}
	.modalplate.slide-from-left,
	.modalplate.slide-from-right {
		top: 0;
		left: -120%;
		margin-left: 0;
		@include animate(all);
	}
	.modalplate.slide-from-right {
		left: 120%;
	}
}


// Reveal modal
// ---------------------------------------------------------------------------------------
@mixin modal-reveal() {
	.modalplate-reveal .modalplate.reveal {
		top: 0;
	}
	// Appear
	.modalplate-reveal .modalplate.reveal.appear,
	.modalplate-reveal .modalplate.reveal.appear-scale {
		visibility: visible;
		@include opacity(1);
	}
	.modalplate-reveal .modalplate.reveal.appear-scale {
		@include transform-scale-3d(1, 1, 1);
	}
	// Sliding
	.modalplate-reveal .modalplate.reveal.slide-from-left,
	.modalplate-reveal .modalplate.reveal.slide-from-right {
		left: 0;

		// Respond
		@include respond-to(large) {
			left: 50%;
			margin-left: -(40.625em / 2);
		}
	}
}


